.vs/
data/
config/
control.center/
elasticsearch/
IIS Express/
output/
packages/
rabbitmq_base/
rabbitmq_server/
schedulers/
subscribers/
subscribers.host/
sources/_generated/
tools/
utils/
web/bin/
web/Web.config

ControlCenter.bat
*.dll
*.log
*.pdb
*.tmp
103*/
103*.ps1
/web.identity.server/bin
/web.identity.server/obj/Debug
*.user
/sources/snb.services/bin/Debug
/sources/snb.services/obj/Debug
version.json
env.ost.*.ps1
/sources/snb.read.sql/bin/Debug
/sources/snb.read.sql/obj/Debug
/sources/sap.fi.posting/bin/Debug
/sources/sap.fi.posting/obj/Debug
/sources/e.soc.posting/bin/Debug
/sources/e.soc.posting/obj/Debug
/sources/rts.pickup.ezisend/bin/Debug
/sources/rts.pickup.ezisend/obj/Debug
/sources/snb.register.ezisend/bin/Debug
/sources/snb.register.ezisend/obj/Debug