.vs/
data/
config/
control.center/
elasticsearch/
IIS Express/
output/
packages/
rabbitmq_base/
rabbitmq_server/
schedulers/
subscribers/
subscribers.host/
sources/_generated/
tools/
utils/
web/bin/
web/Web.config

ControlCenter.bat
*.dll
*.log
*.pdb
*.sln
*.tmp
103*/
103*.ps1
