@model web.sph.App_Code.EstUserInputModel
@{
    ViewBag.Title = "EST First Time Login";
    Layout = "~/Views/OstAccount/_Layout.cshtml";
}
<div class="container">
    <br /><br />
    <h1>EST Sign Up</h1>
    <div class="page-header">
        <h2 style="color:#555"><strong>Sign up EST now for free and start shipping with us</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well" style="padding-top: 30px;">
                <form action="/ost-account/first-time-login/step/@ViewBag.step" method="post" id="register-firsttime-est-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @if (ViewBag.step == 1)
                            {
                                <input class="form-control" type="text" autocomplete="off" placeholder="Account Number" aria-label="AccountNo" name="AccountNo" id="AccountNo" aria-required="true" required />
                            }
                            @if (ViewBag.step == 2)
                            {
                                <input class="form-control" type="text" autocomplete="off" placeholder="Account Number" aria-label="AccountNo" name="AccountNo" id="AccountNo" value="@Html.Raw(Model.AccountNo)" aria-required="true" required readonly />
                            }
                        </div>
                    </div>
                    <label id="AccountNo-error" class="error" for="AccountNo" style="color: red; display:none"></label>
                    @if (ViewBag.step == 2)
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input class="form-control input-block-level" type="email" autocomplete="off" placeholder="Email Address" aria-label="Email Address" name="EmailAddress" id="EmailAddress" aria-required="true" required />
                            </div>
                        </div>
                        <label id="EmailAddress-error" class="error" for="EmailAddress" style="color: red; display:none"></label>
                    }
                    <div class="help-block">
                        @if (ViewBag.step == 1)
                        { <span>
                            <strong>No EST account yet?</strong>
                            <button class="btn btn-sample pull-right" type="submit">Sign Up</button><br />
                            Register your EST account <a href="/est-registration-type">here</a>.
                        </span>
                        }
                        @if (ViewBag.step == 2)
                        {
                            <span>
                                Your current email address is &nbsp;<i><span style="color:dodgerblue">@Html.Raw(Model.HintEmailAddress)</span></i>
                                <button class="btn btn-sample pull-right" type="submit">Sign Up</button><br />
                                Please confirm your email address
                            </span>
                        }
                    </div>
                    @if (!ViewBag.success)
                    {
                        <br />
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="text-danger">Sign up unsuccessful</h4>
                            <p><span class="text-danger">@ViewBag.status</span></p>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>

@section Scripts
  {
    <script>
        jQuery(document).ready(function () {
            $("#register-firsttime-est-form").validate({
                rules: {
                    AccountNo: {
                        required: true,
                        minlength: 8,
                        digits: true
                    },
                    EmailAddress: {
                        required: true
                    }
                },
                messages: {
                    AccountNo: {
                        required: "Please enter account number.",
                        minlength: "Account number must consist of at least 8 numbers."
                    },
                    EmailAddress: {
                        required: "Please enter an email address."
                    }
                }
            });
        });
    </script>
}