@{
    ViewBag.Title = "Log in";
    Layout = "_Layout.cshtml";
}
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" id="forget-password-form" method="post">
    <h3>Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="forget-password-email" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" id="forgot-password-submit" class="btn red"> Submit </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->

@section scripts
  {
    <script>
        jQuery(document).ready(function () {
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
            var retUrl = getParameterByName("ReturnUrl") + window.location.hash;
            $('input[name=ReturnUrl]').val(retUrl);



            $('#forget-password-form').submit(function (e) {
                e.preventDefault();

                var button = $("#forgot-password-submit"),
                    email = $('#forget-password-email').val();
                if (!email) {
                    return;
                }
                button.prop("disabled", true);
                $("#progress").show();
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ email: email }),
                    url: "/ost-account/forgot-password",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (a, b, c) {
                        console.log(c);
                    },
                    success: function () {
                        button.prop("disabled", false);
                        $("#progress").hide();
                        window.location = "/";
                    }
                });
            });
        });
    </script>
}