<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test Forgot</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*<link href="/Content/external/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/__css.css" rel="stylesheet" />*@

</head>
<body>
    <div id="body" class="container">
        <section>
            <div class="row">
                <div class="login-form col-md-4">
                    <form class="forget-form" action="" method="post">
                        <h3>Forget Password ?</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-envelope"></i>
                                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" id="email" data-bind="value: email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="submit" name="submit" class="btn red pull-right"> Go </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>


    @*<script src="/Scripts/__vendor.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            $('.carousel').carousel({
                interval: 2000
            });
            var retUrl = getParameterByName("ReturnUrl") + window.location.hash;
            $('input[name=ReturnUrl]').val(retUrl);

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            $('#submit').click(function (e) {
                var button = $(this),
                    email = $('#email').val();
                if (!email) {
                    return;
                }
                button.prop("disabled", true);
                $("#progress").show();
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ email: email }),
                    url: "/SphAccount/ForgotPassword",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (a, b, c) {
                        console.log(c);
                    },
                    success: function () {
                        button.prop("disabled", false);
                        $("#progress").hide();
                        window.location = "/";
                    }
                });
            });
        });
    </script>
</body>
</html>
