@{
    ViewBag.Title = "Forgot password";
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="row form-login-ost">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well">
                <form class="form-signin" id="forgot-password-form" action="/ost-account/forgot-password" method="post">
                    <h3>Forgot Password</h3>
                    <p>Enter your email address:</p>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" autocomplete="off" placeholder="Email" name="Email" id="Email" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Send</button>
                    <br /><br /><br />
                    @if (!ViewBag.success)
                    {
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="text-danger">Forgot password problem</h4>
                        <p>
                            <span class="text-danger">@ViewBag.status</span>
                        </p>
                    </div>
                    }
                </form>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#forgot-password-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    Email: "Please enter a valid email address."
                }
            });
        });
    </script>
}
