@{
    ViewBag.Title = "Log in";
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well">
                <form class="form-signin" id="login-form" action="/ost-account/login" method="post">
                    <h3>Log In</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" autocomplete="off" placeholder="Username" aria-label="Username" name="UserName" id="UserName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" autocomplete="off" placeholder="Password" aria-label="Password" name="Password" id="Password" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <input type="hidden" name="ReturnUrl" value="@Request.RawUrl" />
                        </div>*@
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe" id="RememberMe" /> Remember me
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" id="facebook-sign-in">
                        <i class="fa fa-facebook"></i> Facebook Sign In
                    </button>
                    <button type="button" class="btn btn-danger" id="google-sign-in">
                        <i class="fa fa-google"></i> Google Sign In
                    </button>
                    <span class="pull-right">
                        <button class="btn btn-info" type="submit">Login</button>
                    </span>
                    <br /><br /><br />
                    <div class="form-group">
                        <strong>Forgot password?</strong>
                        <p><small>Reset your password <a href="/ost-account/forgot-password">here</a>.</small></p>
                        <strong>No account yet?</strong>
                        <p><small>Create your account <a href="/ost-account/register">here</a>.</small></p>
                    </div>
                    @if (!ViewBag.success)
                    {
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="text-danger">Login unsuccessful</h4>
                            <p>
                                <span class="text-danger">@ViewBag.status</span>
                            </p>
                            <p>
                                @if (ViewBag.status.Contains("Email verification pending"))
                                {
                                    <span>Having Problem? Resend verification email now.</span><br />
                                    <a class="btn btn-info" href="/ost-account/send-verify-email">Resend</a>
                                }
                            </p>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
@section Scripts
  {
    <!--google-->
    <script>
        var auth2;
        var initGoogleClient = function () {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '512305602332-8fjveri89cp2bk1q9drc2mlurfq1t958.apps.googleusercontent.com'
                });
                auth2.attachClickHandler(document.getElementById('google-sign-in'), {}, onSuccessGoogle, onFailureGoogle);
            });
        };
        function onSuccessGoogle(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Full Name: ' + profile.getName());
            console.log('Email: ' + profile.getEmail());
            console.log('Image URL: ' + profile.getImageUrl());
            var id_token = googleUser.getAuthResponse().id_token;
            handleSocialMedia({
                Email: profile.getEmail(),
                Name: profile.getName(),
                Id: profile.getId(),
                PictureUrl: profile.getImageUrl(),
                Brand: "google",
                IdToken: id_token
            });
        }
        function onFailureGoogle(error) {
            console.log(error);
        }
    </script>

    <!--facebook-->
    <script>
        function loginFacebook() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    onSuccessFacebook(response);
                } else if (response.status === 'not_authorized') {
                    onFailureFacebook();
                } else {
                    onFailureFacebook();
                }
            }, { scope: 'public_profile,email,user_photos' });
        }

        function onSuccessFacebook(r) {
            console.log(r);
            FB.api('me?fields=id,name,email,picture{url,height,width}', function (response) {
                if (response && !response.error) {
                    console.log('id: ' + response.id);
                    console.log('name: ' + response.name);
                    console.log('email: ' + response.email);
                    console.log('picture url: ' + response.picture.data.url);
                    handleSocialMedia({
                        Email: response.email,
                        Name: response.name,
                        Id: response.id,
                        PictureUrl: response.picture.data.url,
                        Brand: "facebook",
                        IdToken: r.authResponse.accessToken
                    });
                }
            });
        }

        function onFailureFacebook() {

        }
    </script>

    <!--ost-->
    <script>
        jQuery(document).ready(function () {
            $("#login-form").validate({
                rules: {
                    UserName: {
                        required: true
                        //minlength: 6
                    },
                    Password: {
                        required: true
                        //minlength: 8
                    }
                },
                messages: {
                    UserName: {
                        required: "Please provide username."
                        //minlength: "Username must consist of at least 6 characters."
                    },
                    Password: {
                        required: "Please provide a password."
                        //minlength: "Your password must be at least 8 characters long."
                    }
                }
            });
            $("#facebook-sign-in").click(function () {
                loginFacebook();
            });
            //function getParameterByName(name) {
            //    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            //    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            //        results = regex.exec(location.search);
            //    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            //}
            //var retUrl = getParameterByName("ReturnUrl") + window.location.hash;
            //$('input[name=ReturnUrl]').val(retUrl);
        });
        function handleSocialMedia(data) {
            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                url: "/ost-account/social-media-handle",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (a, b, c) {
                    console.log(a);
                    // TODO: change alert to bootstrap dialog
                    alert(JSON.parse(a.responseText).message);
                },
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        if (response.message.includes("authenticated")) {
                            window.location = "/ost#";
                        }
                        if (response.message.includes("registered")) {
                            window.location = "/ost-account/success?success=true&status=OK&operation=register";
                        }
                    }
                }
            });
        }
    </script>

    <!--init google-->
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>initGoogleClient();</script>

    <!--init facebook-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '273791976367235', //localhost
                //appId: '239143563211423', //ost.pos.com.my
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}
