@{
    ViewBag.Title = "Log in";
    Layout = "_Layout.cshtml";
}

<!-- START LOGIN FORM -->
<form class="login-form" action="/ost-account/login" method="post">
    <h3 class="form-title">Log In</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
        </div>
    </div>
    <div class="form-actions">
        <label class="rememberme mt-checkbox mt-checkbox-outline">
            <input type="checkbox" name="RememberMe" value="true" /> Remember me
            <span></span>
        </label>
        <button type="submit" class="btn red pull-right"> Login </button>
    </div>
    <div class="login-options">
        <h4>Or login with</h4>
        <ul class="social-icons">
            <li>
                <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
            </li>
            <li>
                <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
            </li>
        </ul>
    </div>
    <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <p>
            no worries, click
            <a href="/ost-account/forgot-password" id="forget-password"> here </a> to reset your password.
        </p>
    </div>
    <div class="create-account">
        <p>
            Don't have an account yet ?&nbsp;
            <a href="/ost-account/register" id="register-btn"> Create an account </a>
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->

@section scripts
  {
    <script>
        window.onload = $("#forget-password-form").hide();
        window.onload = $("#register-new-form").hide();
        jQuery(document).ready(function () {
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
            var retUrl = getParameterByName("ReturnUrl") + window.location.hash;
            $('input[name=ReturnUrl]').val(retUrl);



            $('#forget-password-form').submit(function (e) {
                e.preventDefault();

                var button = $("#forgot-password-submit"),
                    email = $('#forget-password-email').val();
                if (!email) {
                    return;
                }
                button.prop("disabled", true);
                $("#progress").show();
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ email: email }),
                    url: "/ost-account/forgot-password",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (a, b, c) {
                        console.log(c);
                    },
                    success: function () {
                        button.prop("disabled", false);
                        $("#progress").hide();
                        window.location = "/";
                    }
                });
            });
        });
    </script>
}