@{
    ViewBag.Title = "Log in";
    Layout = "_Layout.cshtml";
}

<form id="login-form" action="/ost-account/login" method="post">
    <h3>Log In</h3>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" autocomplete="off" placeholder="Username" aria-label="Username" name="UserName" id="UserName" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control" type="password" autocomplete="off" placeholder="Password" aria-label="Password" name="Password" id="Password" />
        </div>
    </div>
    @*<div class="form-group">
            <input type="hidden" name="ReturnUrl" value="@Request.RawUrl" />
        </div>*@
    <div class="checkbox">
        <label>
            <input type="checkbox" name="RememberMe" id="RememberMe" /> Remember me
        </label>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary pull-right">Login</button>
    </div>
</form>
<br />
@if (!ViewBag.success)
{
<div class="row">
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-danger">Login unsuccessful</h4>
        <p>
            <span class="text-danger">@ViewBag.status</span>
        </p>
        <p>
            @if (ViewBag.status.Contains("Email verification pending"))
            {
                <span>Having Problem? Resend verification email now.</span><br />
                <a class="btn btn-info" href="/ost-account/send-verify-email">Resend</a>
            }
        </p>
    </div>
</div>
}
<div class="row">
    <div>
        <h4>Login with:</h4>
        <ul class="social-icons">
            <li>
                <a class="facebook" data-original-title="facebook" href="#"></a>
            </li>
            <li>
                <a class="googleplus" data-original-title="Goole Plus" href="#"></a>
            </li>
        </ul>
    </div>
    <div>
        <h4>Forgot password?</h4>
        <p>
            Reset your password
            <a href="/ost-account/forgot-password">here</a>.
        </p>
    </div>
    <div>
        <h4>No account yet?</h4>
        <p>
            Create your account
            <a href="/ost-account/register">here</a>.
        </p>
    </div>
</div>

@section scripts
  {
    <script>
        jQuery(document).ready(function () {
            $("#login-form").validate({
                rules: {
                    UserName: {
                        required: true
                        //minlength: 6
                    },
                    Password: {
                        required: true
                        //minlength: 8
                    }
                },
                messages: {
                    UserName: {
                        required: "Please provide username."
                        //minlength: "Username must consist of at least 6 characters."
                    },
                    Password: {
                        required: "Please provide a password."
                        //minlength: "Your password must be at least 8 characters long."
                    }
                }
            });
            //function getParameterByName(name) {
            //    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            //    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            //        results = regex.exec(location.search);
            //    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            //}
            //var retUrl = getParameterByName("ReturnUrl") + window.location.hash;
            //$('input[name=ReturnUrl]').val(retUrl);
        });
    </script>
}