@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pos Malaysia | Online Shipping Tools</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta property="og:title" content="Book for Courier Services Online!" />
    <meta property="og:description" content="Save on every parcel when you book for delivery via Poslaju, Skynet, Nationwide or Airpak. It&#39;s easy and affordable! Sign up now to deliver your first parcel for FREE!" />
    <meta property="og:image" content="/assets/custom/images/easyparcel-my-referralbanner.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicons-->
    <link rel="icon" type="image/png" href="assets/custom/favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/assets/global/css/style.css" rel="stylesheet" type="text/css" />*@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- STYLES -->
    <link href="/assets/global/css/components-md.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    @*<link href="/assets/layouts/layout3/css/layout.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/assets/layouts/layout3/css/custom.css" rel="stylesheet" type="text/css" />*@
    <!-- END STYLES -->
    <!-- BOOTSTRAP -->
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap-select.min.css" />
    <!-- END BOOTSTRAP -->
    <!-- Stylesheet-->
    @*<link type="text/css" rel="stylesheet" href="/assets/custom/css/odometer-theme-plaza.css" />*@
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/fontello.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animation.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/nunito.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.min.css" />
    @*<link href="/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />*@

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- Javascript-->
    <script src="/Scripts/jquery-1.12.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/general.js" type="text/javascript"></script>

    <script src="/scripts/underscore.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/scripts/_shipping.rate.js" type="text/javascript"></script>
    <script src="/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="/scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <!-- End Javascript-->
    <!-- Original Javascript-->
    <script type="text/javascript" src="/assets/custom/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.jplist.3.4.js"></script>
    <script type="text/javascript" src="/assets/custom/js/general.js"></script>
    <script type="text/javascript" src="/assets/custom/js/newsline.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jssor.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jssor.slider.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.viewportchecker.js"></script>
    <script type="text/javascript" src="/assets/custom/js/odometer.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/tooltip.js"></script>
    <script type="text/javascript" src="/assets/custom/js/conversion.js"></script>
    <script type="text/javascript" src="/assets/custom/js/sweetalert2.min.js"></script>


    <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    @*<script src="/assets/pages/scripts/login-4.min.js" type="text/javascript"></script>*@
</head>
<body class="login">
    <div class="header-logo hidden-xs">
        <div class="container">
            <div class="row featurette header-grid-inner">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-4 col-sm-6 logo-wrapper"> <a href="http://localhost:50230/" class="logo-wrapper"><img src="~/assets/custom/images/Pos_Malaysia_Logo2.png" class="logo hidden-xs" /></a> </div>

                    <ul class="nav navbar-nav navbar-right visible-sm">
                        <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                        <li class="login-menu" style="border-left: 2px solid #fff;"><a href="/ost-account/login">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--START OF TOP STICKY MENU-->

    <div id="sticky-anchor"></div>
    <div id="sticky" class="hidden-xs">
        <header class="page-header menu">
            <div class="container">
                <div class="row featurette">
                    <nav id="bs-navbar" class="collapse navbar-collapse hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a href="#" style="padding-left: 0px;"><span class="glyphicon glyphicon-home hidden-sm hidden-md"></span> Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">About Pos OST</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="modal" href="#shiprate">Start Shipping</a></li>
                            <li><a data-toggle="modal" href="#shiprate">Shipping Rate</a></li>
                            <li><a href="#">Help</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Etc<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Track Parcel</a></li>
                                    <li><a data-toggle="modal" href="#volcal">Volumetric Weight</a></li>
                                    <li><a href="#">Bulk Delivery Tool</a></li>
                                    <li><a href="#">Pick Up Schedule</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                            <li class="login-menu"><a href="/ost-account/login" style="border-left: 1px solid rgba(255, 255, 255, 0.5);">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div id="volcal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Volumetric Calculator</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <form class="myform" role="form" data-toggle="validator">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Width</label>
                                <input type="text" class="form-control digits" name="txt_width" placeholder="Width (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the width" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Length</label>
                                <input type="text" class="form-control digits" name="txt_length" placeholder="Length (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the length" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Height</label>
                                <input type="text" class="form-control digits" name="txt_height" placeholder="Height (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the height" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div id="weightResult" class="form-group">
                                <label for="result">Volumetric Weight (In kg)</label>
                                <input type="text" class="form-control digits" name="txt_result" placeholder="Volumetric Weight (In kg)" readonly=readonly />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn blue" id="submit" value="Calculate" name="submit" onclick="Calculate()" />
                <input type="button" class="btn default" value="Reset" onclick="reset1()" />
            </div>
        </div>
    </div>

    <script>
        function Calculate() {
            inputValidation = "";
            if ($(".myform [name=txt_width]").val() == "" || $(".myform [name=txt_length]").val() == "" || $(".myform [name=txt_height]").val() == "") {
                inputValidation = "Please Fill All The Required.";
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
            } else if (isNaN($(".myform [name=txt_width]").val()) || isNaN($(".myform [name=txt_length]").val()) || isNaN($(".myform [name=txt_height]").val())) {
                inputValidation = "Invalid Input.";
            }
            if (inputValidation == "") {
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
                var data = {
                    width: $(".myform [name=txt_width]").val(),
                    length: $(".myform [name=txt_length]").val(),
                    height: $(".myform [name=txt_height]").val()
                };

                result = Math.round(data.width * data.length * data.height / 6000 * 100) / 100;
                $("#weightResult").show();
                $(".myform [name=txt_result]").val(result + " KG");
            } else {
                swal({
                    title: 'Fill all required!',
                    type: 'error',
                    html: '' + inputValidation,
                    confirmButtonColor: '#4e97d8'
                })
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57))) {
                return false;
            }
            return true;
        }

        function reset1() {
            $(".myform [name=txt_width]").val("");
            $(".myform [name=txt_length]").val("");
            $(".myform [name=txt_height]").val("");
            $(".myform [name=txt_result]").val("");
            $("#weightResult").hide();
        }

        function CheckNull(obj, obj1, obj2) {

            var width = $(".myform [name=txt_width]");
            var length = $(".myform [name=txt_length]");
            var height = $(".myform [name=txt_height]");

            if (General.isTextEmpty($(obj))) {
                doFail(obj);
            } else {
                clearNull(obj);
            }
            if (General.isTextEmpty($(obj1))) {
                doFail(obj1);
            } else {
                clearNull(obj1);
            }
            if (General.isTextEmpty($(obj2))) {
                doFail(obj2);
            } else {
                clearNull(obj2);
            }
        }

        function doPass(obj) {
            $(obj).addClass("pass");
            $(obj).removeClass("padding");
            $(obj).removeClass("fail");
            $(obj).css("border-color", "#0F0");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        function doFail(obj) {
            $(obj).addClass("fail");
            $(obj).removeClass("padding");
            $(obj).removeClass("pass");
            $(obj).css("border-color", "#F00");
            $(obj).parent().children().eq(2).removeClass("hide");
        }

        function clearNull(obj) {
            $(obj).removeClass("pass");
            $(obj).removeClass("fail");
            $(obj).removeClass("padding");
            $(obj).css("border-color", "");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        window.onload = $("#weightResult").hide();
    </script>

    <div id="shiprate" class="modal fade" tabindex="-1" aria-hidden="true">
        <div id="shipping-rate-form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Check Shipping Rate</h4>
                    <ul class="actions pull-right">
                        <li class="btn blue-steel btn-outline btn-circle active">
                            <span href="#tab11" class="nav-link toggle" data-toggle="tab"><i class="fa fa-map-pin"></i> Domestic</span>
                        </li>
                        <li class="btn green btn-outline btn-circle">
                            <span href="#tab12" class="nav-link toggle" data-toggle="tab"><i class="fa fa-globe"></i> International</span>
                        </li>
                    </ul>
                </div>

                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab11">
                            <form role="form">
                                <div class="row form-body">
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="fromPostcode">From</label>
                                        @*<input type="text" placeholder="Postcode" class="form-control" />*@
                                        <select class="form-control" id="from-address" placeholder="Postcode"></select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="toPostcode">To</label>
                                        @*<input type="text" placeholder="Postcode" class="form-control" />*@
                                        <select class="form-control" id="to-address" placeholder="Postcode"></select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="weight">Weight</label>
                                        <input type="text" placeholder="Weight in KG" class="form-control" id="weight" data-bind="value: weight" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="length">Length</label>
                                        <input type="text" placeholder="Length in CM" class="form-control" id="length" data-bind="value: length" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="height">Height</label>
                                        <input type="text" placeholder="Height in CM" class="form-control" id="height" data-bind="value: height" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="width">Width</label>
                                        <input type="text" placeholder="Width in CM" class="form-control" id="width" data-bind="value: width" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab12">
                            <form role="form" action="#">
                                <div class="row form-body">
                                    <div class="form-group col-md-8">
                                        <label class="control-label">Origin Country</label>
                                        <input type="text" placeholder="Origin Country" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Postcode</label>
                                        <input type="text" placeholder="Postcode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label class="control-label">Destination Country</label>
                                        <input type="text" placeholder="International Country" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Postcode</label>
                                        <input type="text" placeholder="Postcode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Weight</label>
                                        <input type="text" placeholder="Weight in KG" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Length</label>
                                        <input type="text" placeholder="Length in CM" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Height</label>
                                        <input type="text" placeholder="Height in CM" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Width</label>
                                        <input type="text" placeholder="Width in CM" class="form-control" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-actions">
                    <div class="margin-top-10">
                        <button type="button" data-bind="click : getRatesAsync, disable : busy" class="btn green">
                            Submit
                            <i class="fa fa-spin fa-circle-o-notch" data-bind="visible : busy"></i>
                        </button>
                        @*<button type="submit" class="btn green">Calculate</button>*@
                        <button type="reset" class="btn default">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="portlet light bordered" style="height:217.5px;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-red-flamingo"></i>
                        <span class="caption-subject bold font-red-flamingo uppercase">Service Product</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-circle btn-outline green">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-circle blue-steel btn-outline">
                            <i class="fa fa-plus"></i> Add
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                    </div>
                </div>
                @*style="height: 200px;"*@
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-simple font-white bg-red">
                            <div class="list-head-title-container">
                                <div class="list-date"></div>
                                <h3 class="list-title">Available services</h3>
                            </div>
                        </div>
                        <div class="mt-list-container list-simple">
                            <ul data-bind="foreach : products">
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="" data-bind="text : 'RM ' + ko.unwrap(TotalCost).toFixed(2)"> RM 45.55</div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;" data-bind="text : Name">Product name</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--END OF TOP STICKY MENU-->
    <!--START OF MOBILE TOP MENU-->
    <div id="sticky-anchor-mobile"></div>
    <div id="sticky" class="mobile-navbar navbar-header visible-xs">
        <a href="http://localhost:50230/"><img src="assets/custom/images/Pos_Malaysia_Logo2.png" class="visible-xs hiddenn-sm phone-logo" style="float: left;" /></a>
        <div class="mobile-menu pull-right">
            <button type="button" class="navbar-toggle collapsed" onclick="displayMainMenu()"><i class="epi-menu"></i></button>
        </div>
        <div class="mobile-menu pull-right">
            <a href="http://localhost:50230/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-user"></i></button>
            </a>
        </div>
        <div class="mobile-menu pull-right">
            <a href="http://localhost:50230/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-truck"></i></button>
            </a>
        </div>
    </div>
    <!--END OF MOBILE TOP MENU-->
    <!--START OF MOBILE DROP DOWN MENU-->
    <div id="MasterMobileMenu" style="display:none; background-color: rgba(255,102,153,0.1);">
        <div class="container">

            <h3 class="site-nav-title">PROFILE</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Log In</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Sign Up</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
            </ul>
            <h3 class="site-nav-title">USEFUL LINKS</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Home</span> <span class="side-menu-box"><i class="epi-home"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>About Us</span> <span class="side-menu-box"><i class="epi-info-circled"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Send A Parcel</span> <span class="side-menu-box"><i class="epi-truck"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>My Cart</span> <span class="side-menu-box"><i class="epi-cart-plus"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Promotion</span> <span class="side-menu-box"><i class="epi-volume-up-1"></i></span></a> </li>
                <li class="site-nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span> Tools <span class="caret"></span></span> <span class="side-menu-box"><i class="epi-wrench"></i></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Track Parcel</a></li>
                        <li><a href="#"> style="cursor: pointer;">Volumetric Weight</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bulk Delivery Tool</a></li>
                        <li><a href="#">Shipping Rate</a></li>
                        <li><a href="#">Delivery Commitment Date</a></li>
                        <li><a href="#">Pick Up Schedule</a></li>
                    </ul>
                </li>
                <li class="site-nav-item"> <a href="#"><span>Blog</span> <span class="side-menu-box"><i class="epi-newspaper"></i></span></a> </li>
            </ul>


        </div>
    </div>
    <!--END OF MOBILE DROP DOWN MENU-->
    <script>
        function displayMainMenu(){
            var currentStyle = document.getElementById("masterContent").style.display;
            if(currentStyle == "none"){
                document.getElementById("masterContent").style.display = "";
                document.getElementById("masterFooter").style.display = "";
                document.getElementById("MasterMobileMenu").style.display = "none";
            }else{
                document.getElementById("masterContent").style.display = "none";
                document.getElementById("masterFooter").style.display = "none";
                document.getElementById("MasterMobileMenu").style.display = "";
            }
            $('html,body').scrollTop(0);
        }

        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            var div_top_mobile = $('#sticky-anchor-mobile').offset().top;
            if (window_top > div_top || window_top > div_top_mobile) {
                $('#sticky').addClass('stick');
                $('#sticky').addClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').addClass('stick');
                $('div#sticky.navbar-header.visible-xs').addClass('animated fadeInDownBig');
            } else {
                $('#sticky').removeClass('stick');
                $('#sticky').removeClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').removeClass('stick');
                $('div#sticky.navbar-header.visible-xs').removeClass('animated fadeInDownBig');
            }
        }

        $(function () {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
            $(window).on('resize', function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });

            $(window).focus(function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });
        });

    </script>

    <div id="masterContent" [:style:]="">
        <div class="span6">

            <script>
                $(document).ready(function() {
                    $("#tcb-testimonial-carousel2").swiperight(function() {
                        $("#prev").click();
                    });
                    $("#tcb-testimonial-carousel2").swipeleft(function() {
                        $("#next").click();
                    });
                    $("#tcb-partner-carousel").swiperight(function() {
                        $("#prev-partner").click();
                    });
                    $("#tcb-partner-carousel").swipeleft(function() {
                        $("#next-partner").click();
                    });
                });
            </script>

            <section class="light-bg stats-bg">
                <div class="container space">
                    <div class="row">
                        <div class="content SigninForm well">
                            <!-- BEGIN LOGIN FORM -->
                            <form class="login-form" action="/ost-account/login" method="post">
                                <h3 class="form-title">Log In</h3>
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    <span> Enter any username and password. </span>
                                </div>
                                <div class="form-group">
                                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                                    <div class="input-icon">
                                        <i class="fa fa-lock"></i>
                                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="remember" value="1" /> Remember me
                                        <span></span>
                                    </label>
                                    <button type="submit" class="btn red pull-right"> Login </button>
                                </div>
                                <div class="login-options">
                                    <h4>Or login with</h4>
                                    <ul class="social-icons">
                                        <li>
                                            <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
                                        </li>
                                        <li>
                                            <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="forget-password">
                                    <h4>Forgot your password ?</h4>
                                    <p>
                                        no worries, click
                                        <a href="javascript:;" id="forget-password"> here </a> to reset your password.
                                    </p>
                                </div>
                                <div class="create-account">
                                    <p>
                                        Don't have an account yet ?&nbsp;
                                        <a href="javascript:;" id="register-btn"> Create an account </a>
                                    </p>
                                </div>
                            </form>
                            <!-- END LOGIN FORM -->
                            <!-- BEGIN FORGOT PASSWORD FORM -->
                            <form class="forget-form" action="/Sph/SphAccount/ForgotPassword" method="post" id="forgot">
                                <h3>Forget Password ?</h3>
                                <p> Enter your e-mail address below to reset your password. </p>
                                <div class="form-group">
                                    <div class="input-icon">
                                        <i class="fa fa-envelope"></i>
                                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="email" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="button" id="back-btn" class="btn red btn-outline">Back </button>
                                    <button type="submit" id="submit" class="btn red pull-right"> Submit </button>
                                </div>
                            </form>
                            <!-- END FORGOT PASSWORD FORM -->
                            <!-- BEGIN REGISTRATION FORM -->
                            <form id="register" class="register-form" action="index.html" method="post">
                                <h3>Sign Up</h3>
                                <p> Enter your personal details below: </p>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Full Name</label>
                                    <div class="input-icon">
                                        <i class="fa fa-font"></i>
                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                                    <div class="input-icon">
                                        <i class="fa fa-envelope"></i>
                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Address</label>
                                    <div class="input-icon">
                                        <i class="fa fa-check"></i>
                                        <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">City/Town</label>
                                    <div class="input-icon">
                                        <i class="fa fa-location-arrow"></i>
                                        <input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Country</label>
                                    <select name="country" id="country_list" class="select2 form-control">
                                        <option value=""></option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia</option>
                                        <option value="BA">Bosnia and Herzegowina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Cote d'Ivoire</option>
                                        <option value="HR">Croatia (Hrvatska)</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard and Mc Donald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran (Islamic Republic of)</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macau</option>
                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="AN">Netherlands Antilles</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Reunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint LUCIA</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SK">Slovakia (Slovak Republic)</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SH">St. Helena</option>
                                        <option value="PM">St. Pierre and Miquelon</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands (British)</option>
                                        <option value="VI">Virgin Islands (U.S.)</option>
                                        <option value="WF">Wallis and Futuna Islands</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                                <p> Enter your account details below: </p>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                                    <div class="input-icon">
                                        <i class="fa fa-user"></i>
                                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                                    <div class="input-icon">
                                        <i class="fa fa-lock"></i>
                                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                                    <div class="controls">
                                        <div class="input-icon">
                                            <i class="fa fa-check"></i>
                                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="tnc" /> I agree to the
                                        <a href="javascript:;">Terms of Service </a> &
                                        <a href="javascript:;">Privacy Policy </a>
                                        <span></span>
                                    </label>
                                    <div id="register_tnc_error"> </div>
                                </div>
                                <div class="form-actions">
                                    <button id="register-back-btn" type="button" class="btn red btn-outline"> Back </button>
                                    <button type="submit" id="register-submit-btn" class="btn red pull-right"> Sign Up </button>
                                </div>

                                <script>
                                    var Login = function() {
                                        var e = function() {
                                            $(".login-form").validate({
                                                errorElement: "span",
                                                errorClass: "help-block",
                                                focusInvalid: !1,
                                                rules: {
                                                    username: {
                                                        required: !0
                                                    },
                                                    password: {
                                                        required: !0
                                                    },
                                                    remember: {
                                                        required: !1
                                                    }
                                                },
                                                messages: {
                                                    username: {
                                                        required: "Username is required."
                                                    },
                                                    password: {
                                                        required: "Password is required."
                                                    }
                                                },
                                                invalidHandler: function(e, r) {
                                                    $(".alert-danger", $(".login-form")).show()
                                                },
                                                highlight: function(e) {
                                                    $(e).closest(".form-group").addClass("has-error")
                                                },
                                                success: function(e) {
                                                    e.closest(".form-group").removeClass("has-error"), e.remove()
                                                },
                                                errorPlacement: function(e, r) {
                                                    e.insertAfter(r.closest(".input-icon"))
                                                },
                                                submitHandler: function(e) {
                                                    e.submit()
                                                }
                                            }), $(".login-form input").keypress(function(e) {
                                                return 13 == e.which ? ($(".login-form").validate().form() && $(".login-form").submit(), !1) : void 0
                                            })
                                        },
                                            r = function() {
                                                $(".forget-form").validate({
                                                    errorElement: "span",
                                                    errorClass: "help-block",
                                                    focusInvalid: !1,
                                                    ignore: "",
                                                    rules: {
                                                        email: {
                                                            required: !0,
                                                            email: !0
                                                        }
                                                    },
                                                    messages: {
                                                        email: {
                                                            required: "Email is required."
                                                        }
                                                    },
                                                    invalidHandler: function(e, r) {},
                                                    highlight: function(e) {
                                                        $(e).closest(".form-group").addClass("has-error")
                                                    },
                                                    success: function(e) {
                                                        e.closest(".form-group").removeClass("has-error"), e.remove()
                                                    },
                                                    errorPlacement: function(e, r) {
                                                        e.insertAfter(r.closest(".input-icon"))
                                                    },
                                                    submitHandler: function(e) {
                                                        e.submit()
                                                    }
                                                }), $(".forget-form input").keypress(function(e) {
                                                    return 13 == e.which ? ($(".forget-form").validate().form() && $(".forget-form").submit(), !1) : void 0
                                                }), jQuery("#forget-password").click(function() {
                                                    jQuery(".login-form").hide(), jQuery(".forget-form").show()
                                                }), jQuery("#back-btn").click(function() {
                                                    jQuery(".login-form").show(), jQuery(".forget-form").hide()
                                                })
                                            },
                                            s = function() {
                                                function e(e) {
                                                    if (!e.id) return e.text;
                                                    var r = $('<span><img src="../assets/global/img/flags/' + e.element.value.toLowerCase() + '.png" class="img-flag" /> ' + e.text + "</span>");
                                                    return r
                                                }
                                                jQuery().select2 && $("#country_list").size() > 0 && ($("#country_list").select2({
                                                    placeholder: '<i class="fa fa-map-marker"></i>&nbsp;Select a Country',
                                                    templateResult: e,
                                                    templateSelection: e,
                                                    width: "auto",
                                                    escapeMarkup: function(e) {
                                                        return e
                                                    }
                                                }), $("#country_list").change(function() {
                                                    $(".register-form").validate().element($(this))
                                                })), $(".register-form").validate({
                                                    errorElement: "span",
                                                    errorClass: "help-block",
                                                    focusInvalid: !1,
                                                    ignore: "",
                                                    rules: {
                                                        fullname: {
                                                            required: !0
                                                        },
                                                        email: {
                                                            required: !0,
                                                            email: !0
                                                        },
                                                        address: {
                                                            required: !0
                                                        },
                                                        city: {
                                                            required: !0
                                                        },
                                                        country: {
                                                            required: !0
                                                        },
                                                        username: {
                                                            required: !0
                                                        },
                                                        password: {
                                                            required: !0
                                                        },
                                                        rpassword: {
                                                            equalTo: "#register_password"
                                                        },
                                                        tnc: {
                                                            required: !0
                                                        }
                                                    },
                                                    messages: {
                                                        tnc: {
                                                            required: "Please accept TNC first."
                                                        }
                                                    },
                                                    invalidHandler: function(e, r) {},
                                                    highlight: function(e) {
                                                        $(e).closest(".form-group").addClass("has-error")
                                                    },
                                                    success: function(e) {
                                                        e.closest(".form-group").removeClass("has-error"), e.remove()
                                                    },
                                                    errorPlacement: function(e, r) {
                                                        "tnc" == r.attr("name") ? e.insertAfter($("#register_tnc_error")) : 1 === r.closest(".input-icon").size() ? e.insertAfter(r.closest(".input-icon")) : e.insertAfter(r)
                                                    },
                                                    submitHandler: function(e) {
                                                        e.submit()
                                                    }
                                                }), $(".register-form input").keypress(function(e) {
                                                    return 13 == e.which ? ($(".register-form").validate().form() && $(".register-form").submit(), !1) : void 0
                                                }), jQuery("#register-btn").click(function() {
                                                    jQuery(".login-form").hide(), jQuery(".register-form").show()
                                                }), jQuery("#register-back-btn").click(function() {
                                                    jQuery(".login-form").show(), jQuery(".register-form").hide()
                                                })
                                            };
                                        return {
                                            init: function() {
                                                e(), r(), s(), $.backstretch(["../assets/pages/media/bg/1.jpg", "../assets/pages/media/bg/2.jpg", "../assets/pages/media/bg/3.jpg", "../assets/pages/media/bg/4.jpg"], {
                                                    fade: 1e3,
                                                    duration: 8e3
                                                })
                                            }
                                        }
                                    }();
                                    jQuery(document).ready(function() {
                                        Login.init()
                                    });

                                    window.onload = $("#forgot").hide();
                                    window.onload = $("#register").hide();
                                </script>

                            </form>
                            <!-- END REGISTRATION FORM -->
                        </div>

                    </div>

                </div>
            </section>

            <script>
                /*
                $(document).ready(function() {
                    $(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
                });
                */
                (function ($) {
                    var $window = $(window),
                    _watch = [],
                    _buffer;

                    function test($el) {
                        var docViewTop = $window.scrollTop(),
                        docViewBottom = docViewTop + $window.height(),
                        elemTop = $el.offset().top,
                        elemBottom = elemTop + $el.height();
                        return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom)&& (elemBottom <= docViewBottom) &&  (elemTop >= docViewTop) );
                    }

                    $window.on('scroll', function ( e ) {
                        if ( !_buffer ) {
                            _buffer = setTimeout(function () {
                                checkInView( e );
                                _buffer = null;
                            }, 300);
                        }
                    });

                    function checkInView( e ) {
                        $.each(_watch, function () {
                            if ( test( this.element ) ) {
                                if ( !this.invp ) {
                                    this.invp = true;
                                    if ( this.options.scrolledin ){
                                        this.options.scrolledin.call( this.element, e );
                                    }
                                    this.element.trigger( 'scrolledin', e );
                                }
                            }
                        });
                    }

                    function monitor( element, options ) {
                        var item = { element: element, options: options, invp: false };
                        _watch.push(item);
                        return item;
                    }

                    function unmonitor( item ) {
                        for ( var i=0;i<_watch.length;i++ ) {
                            if ( _watch[i] === item ) {
                                _watch.splice( i, 1 );
                                item.element = null;
                                break;
                            }
                        }
                        console.log( _watch );
                    }

                    var pluginName = 'scrolledIntoView',
                        settings = {
                            scrolledin: null,
                            scrolledout: null
                        }


                    $.fn[pluginName] = function( options ) {

                        var options = $.extend({}, settings, options);

                        this.each( function () {

                            var $el = $(this),
                                instance = $.data( this, pluginName );

                            if ( instance ) {
                                instance.options = options;
                            } else {
                                $.data( this, pluginName, monitor( $el, options ) );
                                $el.on( 'remove', $.proxy( function () {

                                    $.removeData(this, pluginName);
                                    unmonitor( instance );

                                }, this ) );
                            }
                        });

                        return this;
                    }


                })(jQuery);

                $('.odometer').scrolledIntoView().on('scrolledin', function () { getQuoteCount(); });

                $(document).ready( function() {
                    $("#list-fix").hide(); //hide your div initially
                    var topOfOthDiv = $(".signup-bar").offset().top;
                    $(window).scroll(function() {
                        if($(window).scrollTop() > topOfOthDiv) { //scrolled past the other div?
                            $("#list-fix").show(); //reached the desired point -- show div
                        }
                        if($(window).scrollTop() < topOfOthDiv) { //scrolled past the other div?
                            $("#list-fix").hide(); //reached the desired point -- show div
                        }
                    });
                });
                $('#testimonialCarousel').carousel({
                    interval: 2000,
                    pause: true
                });

                function getQuoteCount(){
                    AjaxGetQuoteCount();
                    setInterval(function(){
                        AjaxGetQuoteCount();
                    }, 10000);
                }

                function AjaxGetQuoteCount(){
                    getQuote = true;
                    $.ajax({
                        type : "post",
                        url : "http://easyparcel.my/?ac=doQuoteCount",
                        data : {getQuote : getQuote},
                        success : function(result){
                            if(result != "fail"){
                                result = result;
                            }else{
                                result = 0;
                            }
                            $('.odometer').html(result);
                        }
                    });
                }
            </script>
        </div>
        <div id="mainTrackResult"></div>
        <footer id="masterFooter" class="page-footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Overview</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Prohibited Item List</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Quick Guide</li>
                            <li><a href="#">Sign Up An Account</a></li>
                            <li><a href="#">Place An Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">My Account</li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Edit Your Profile</a></li>
                            <li><a href="#">My Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Tools</li>
                            <li><a href="#">Send A Parcel</a></li>
                            <li><a href="#">Track &amp; Trace</a></li>
                            <li><a data-toggle="modal" href="#responsive">Volumetric Calculator</a></li>
                            <li><a href="#">Widgets</a></li>
                            <li><a href="#">Bulk Delivery Tool</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 footer-link-height social-links">
                        <ul class="links" style="padding-bottom: 5px;">
                            <li class="title-link">Follow Us</li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-facebook"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-twitter"></i></a></li>
                            <!--<li style="float: left; margin-right: 10px;"><a href="https://www.youtube.com/channel/UCnEO_TBo3zl-bNl93WSzT0A" target="_blank"><i class="epi-youtube-play"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="https://www.pinterest.com/easyparcel/" target="_blank"><i class="epi-pinterest-circled"></i></a></li>
                            <li style="margin-right: 10px;"><a href="https://www.instagram.com/easyparcel.my/" target="_blank"><i class="epi-instagramm"></i></a></li>-->
                        </ul>
                        <hr style="margin: 15px 0px;border-color: #5d5d5d;" />
                    </div>
                </div>
            </div>
        </footer>
        <div class="page-copyright">
            <div class="container">
                <p class="text-center small">
                    © 2016 Pos Malaysia. All Rights Reserved
                </p>
            </div>
        </div>
        <div id="popupbox" class="modal fade in">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Loading...</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
        <div class="list-fix hidden-xs" id="list-fix" style="display: none;">
            <div class="wrapper">
                <span id="top-link-block"> <a href="#top" onclick="$(&#39;html,body&#39;).animate({scrollTop:0},&#39;slow&#39;);return false;" style="color: #fff;"> <i class="epi-up-big"></i></a> </span>
                <div class="tooltip">Back To Top</div>
            </div>
        </div>
        <!--[:page_tips:]-->
        <script>
            /*
            if ( ($(window).height() + 100) < $(document).height() ) {
                $('#top-link-block').removeClass('hidden').affix({
                    offset: {top:100}
                });
            }
            */

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('.list-fix').viewportChecker({
                classToAdd: 'visible animated bounceIn',
                removeClassAfterAnimation: true,
                offset: "50%"
            });

            $('.fade-in-down').addClass("invisible").viewportChecker({
                classToAddForFullView: 'visible animated fadeInDown',
                classToRemove : 'invisible',
                removeClassAfterAnimation: true,
                offset: "20%"
            });
        </script>
        <div class="swal2-container"><div class="swal2-overlay" tabindex="-1"></div><div class="swal2-modal" style="display: none" tabindex="-1"><div class="swal2-icon swal2-error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="swal2-icon swal2-question">?</div><div class="swal2-icon swal2-warning">!</div><div class="swal2-icon swal2-info">i</div><div class="swal2-icon swal2-success"><span class="line tip"></span> <span class="line long"></span><div class="placeholder"></div> <div class="fix"></div></div><img class="swal2-image" /><h2></h2><div class="swal2-content"></div><input class="swal2-input" /><select class="swal2-select"></select><div class="swal2-radio"></div><label for="swal2-checkbox" class="swal2-checkbox"><input type="checkbox" id="swal2-checkbox" /></label><textarea class="swal2-textarea"></textarea><div class="swal2-validationerror"></div><hr class="swal2-spacer" /><button class="swal2-confirm">OK</button><button class="swal2-cancel">Cancel</button><span class="swal2-close">×</span></div></div>
    </div>
</body>
</html>