@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pos Malaysia | Online Shipping Tools</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta property="og:title" content="Book for Courier Services Online!" />
    <meta property="og:description" content="Save on every parcel when you book for delivery via Poslaju, Skynet, Nationwide or Airpak. It&#39;s easy and affordable! Sign up now to deliver your first parcel for FREE!" />
    <meta property="og:image" content="/assets/custom/images/easyparcel-my-referralbanner.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicons-->
    <link rel="icon" type="image/png" href="assets/custom/favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/assets/global/css/style.css" rel="stylesheet" type="text/css" />*@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- STYLES -->
    <link href="/assets/global/css/components-md.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    @*<link href="/assets/layouts/layout3/css/layout.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/assets/layouts/layout3/css/custom.css" rel="stylesheet" type="text/css" />*@
    <!-- END STYLES -->
    <!-- BOOTSTRAP -->
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap-select.min.css" />
    <!-- END BOOTSTRAP -->
    <!-- Stylesheet-->
    @*<link type="text/css" rel="stylesheet" href="/assets/custom/css/odometer-theme-plaza.css" />*@
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/fontello.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animation.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/nunito.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.min.css" />
    @*<link href="/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />*@

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- Javascript-->
    <script src="/Scripts/jquery-1.12.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/general.js" type="text/javascript"></script>

    <script src="/scripts/underscore.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/scripts/_shipping.rate.js" type="text/javascript"></script>
    <script src="/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="/scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <!-- End Javascript-->
    <!-- Original Javascript-->
    <script type="text/javascript" src="/assets/custom/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.jplist.3.4.js"></script>
    <script type="text/javascript" src="/assets/custom/js/general.js"></script>
    <script type="text/javascript" src="/assets/custom/js/newsline.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jssor.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jssor.slider.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.viewportchecker.js"></script>
    <script type="text/javascript" src="/assets/custom/js/odometer.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/assets/custom/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/assets/custom/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/assets/custom/js/tooltip.js"></script>
    <script type="text/javascript" src="/assets/custom/js/conversion.js"></script>
    <script type="text/javascript" src="/assets/custom/js/sweetalert2.min.js"></script>


    <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
</head>
<body class="login">
    <div class="header-logo hidden-xs">
        <div class="container">
            <div class="row featurette header-grid-inner">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-4 col-sm-6 logo-wrapper"> <a href="/" class="logo-wrapper"><img src="~/assets/custom/images/Pos_Malaysia_Logo2.png" class="logo hidden-xs" /></a> </div>

                    <ul class="nav navbar-nav navbar-right visible-sm">
                        <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                        <li class="login-menu" style="border-left: 2px solid #fff;"><a href="/ost-account/login">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--START OF TOP STICKY MENU-->

    <div id="sticky-anchor"></div>
    <div id="sticky" class="hidden-xs">
        <header class="page-header menu">
            <div class="container">
                <div class="row featurette">
                    <nav id="bs-navbar" class="collapse navbar-collapse hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a href="/" style="padding-left: 0px;"><span class="glyphicon glyphicon-home hidden-sm hidden-md"></span> Home </a></li>
                            <li><a href="/shipment-volumetric"> Volumetric Weight </a></li>
                            <li><a href="/track-trace"> Track & Trace </a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                            <li class="login-menu"><a href="/ost-account/register" style="border-left: 1px solid rgba(255, 255, 255, 0.5);">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <div id="volcal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Volumetric Calculator</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <form class="myform" role="form" data-toggle="validator">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Width</label>
                                <input type="text" class="form-control digits" name="txt_width" placeholder="Width (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the width" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Length</label>
                                <input type="text" class="form-control digits" name="txt_length" placeholder="Length (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the length" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Height</label>
                                <input type="text" class="form-control digits" name="txt_height" placeholder="Height (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the height" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div id="weightResult" class="form-group">
                                <label for="result">Volumetric Weight (In kg)</label>
                                <input type="text" class="form-control digits" name="txt_result" placeholder="Volumetric Weight (In kg)" readonly=readonly />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn blue" id="submit" value="Calculate" name="submit" onclick="Calculate()" />
                <input type="button" class="btn default" value="Reset" onclick="reset1()" />
            </div>
        </div>
    </div>

    <script>
        function Calculate() {
            inputValidation = "";
            if ($(".myform [name=txt_width]").val() == "" || $(".myform [name=txt_length]").val() == "" || $(".myform [name=txt_height]").val() == "") {
                inputValidation = "Please Fill All The Required.";
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
            } else if (isNaN($(".myform [name=txt_width]").val()) || isNaN($(".myform [name=txt_length]").val()) || isNaN($(".myform [name=txt_height]").val())) {
                inputValidation = "Invalid Input.";
            }
            if (inputValidation == "") {
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
                var data = {
                    width: $(".myform [name=txt_width]").val(),
                    length: $(".myform [name=txt_length]").val(),
                    height: $(".myform [name=txt_height]").val()
                };

                result = Math.round(data.width * data.length * data.height / 6000 * 100) / 100;
                $("#weightResult").show();
                $(".myform [name=txt_result]").val(result + " KG");
            } else {
                swal({
                    title: 'Fill all required!',
                    type: 'error',
                    html: '' + inputValidation,
                    confirmButtonColor: '#4e97d8'
                })
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57))) {
                return false;
            }
            return true;
        }

        function reset1() {
            $(".myform [name=txt_width]").val("");
            $(".myform [name=txt_length]").val("");
            $(".myform [name=txt_height]").val("");
            $(".myform [name=txt_result]").val("");
            $("#weightResult").hide();
        }

        function CheckNull(obj, obj1, obj2) {

            var width = $(".myform [name=txt_width]");
            var length = $(".myform [name=txt_length]");
            var height = $(".myform [name=txt_height]");

            if (General.isTextEmpty($(obj))) {
                doFail(obj);
            } else {
                clearNull(obj);
            }
            if (General.isTextEmpty($(obj1))) {
                doFail(obj1);
            } else {
                clearNull(obj1);
            }
            if (General.isTextEmpty($(obj2))) {
                doFail(obj2);
            } else {
                clearNull(obj2);
            }
        }

        function doPass(obj) {
            $(obj).addClass("pass");
            $(obj).removeClass("padding");
            $(obj).removeClass("fail");
            $(obj).css("border-color", "#0F0");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        function doFail(obj) {
            $(obj).addClass("fail");
            $(obj).removeClass("padding");
            $(obj).removeClass("pass");
            $(obj).css("border-color", "#F00");
            $(obj).parent().children().eq(2).removeClass("hide");
        }

        function clearNull(obj) {
            $(obj).removeClass("pass");
            $(obj).removeClass("fail");
            $(obj).removeClass("padding");
            $(obj).css("border-color", "");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        window.onload = $("#weightResult").hide();
    </script>

    <div id="shiprate" class="modal fade" tabindex="-1" aria-hidden="true">
        <div id="shipping-rate-form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Check Shipping Rate</h4>
                    <ul class="actions pull-right">
                        <li class="btn blue-steel btn-outline btn-circle active">
                            <span href="#tab11" class="nav-link toggle" data-toggle="tab"><i class="fa fa-map-pin"></i> Domestic</span>
                        </li>
                        <li class="btn green btn-outline btn-circle">
                            <span href="#tab12" class="nav-link toggle" data-toggle="tab"><i class="fa fa-globe"></i> International</span>
                        </li>
                    </ul>
                </div>

                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab11">
                            <form role="form">
                                <div class="row form-body">
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="fromPostcode">From</label>
                                        @*<input type="text" placeholder="Postcode" class="form-control" />*@
                                        <select class="form-control" id="from-address" placeholder="Postcode"></select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="toPostcode">To</label>
                                        @*<input type="text" placeholder="Postcode" class="form-control" />*@
                                        <select class="form-control" id="to-address" placeholder="Postcode"></select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="weight">Weight</label>
                                        <input type="text" placeholder="Weight in KG" class="form-control" id="weight" data-bind="value: weight" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="length">Length</label>
                                        <input type="text" placeholder="Length in CM" class="form-control" id="length" data-bind="value: length" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="height">Height</label>
                                        <input type="text" placeholder="Height in CM" class="form-control" id="height" data-bind="value: height" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label" for="width">Width</label>
                                        <input type="text" placeholder="Width in CM" class="form-control" id="width" data-bind="value: width" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab12">
                            <form role="form" action="#">
                                <div class="row form-body">
                                    <div class="form-group col-md-8">
                                        <label class="control-label">Origin Country</label>
                                        <input type="text" placeholder="Origin Country" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Postcode</label>
                                        <input type="text" placeholder="Postcode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label class="control-label">Destination Country</label>
                                        <input type="text" placeholder="International Country" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Postcode</label>
                                        <input type="text" placeholder="Postcode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Weight</label>
                                        <input type="text" placeholder="Weight in KG" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Length</label>
                                        <input type="text" placeholder="Length in CM" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Height</label>
                                        <input type="text" placeholder="Height in CM" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Width</label>
                                        <input type="text" placeholder="Width in CM" class="form-control" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-actions">
                    <div class="margin-top-10">
                        <button type="button" data-bind="click : getRatesAsync, disable : busy" class="btn green">
                            Submit
                            <i class="fa fa-spin fa-circle-o-notch" data-bind="visible : busy"></i>
                        </button>
                        @*<button type="submit" class="btn green">Calculate</button>*@
                        <button type="reset" class="btn default">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="portlet light bordered" style="height:217.5px;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-red-flamingo"></i>
                        <span class="caption-subject bold font-red-flamingo uppercase">Service Product</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-circle btn-outline green">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-circle blue-steel btn-outline">
                            <i class="fa fa-plus"></i> Add
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                    </div>
                </div>
                @*style="height: 200px;"*@
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-simple font-white bg-red">
                            <div class="list-head-title-container">
                                <div class="list-date"></div>
                                <h3 class="list-title">Available services</h3>
                            </div>
                        </div>
                        <div class="mt-list-container list-simple">
                            <ul data-bind="foreach : products">
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="" data-bind="text : 'RM ' + ko.unwrap(TotalCost).toFixed(2)"> RM 45.55</div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            <a href="javascript:;" data-bind="text : Name">Product name</a>
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-anchor-mobile"></div>
    <div id="sticky" class="mobile-navbar navbar-header visible-xs">
        <a href="/"><img src="assets/custom/images/Pos_Malaysia_Logo2.png" class="visible-xs hiddenn-sm phone-logo" style="float: left;" /></a>
        <div class="mobile-menu pull-right">
            <button type="button" class="navbar-toggle collapsed" onclick="displayMainMenu()"><i class="epi-menu"></i></button>
        </div>
        <div class="mobile-menu pull-right">
            <a href="/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-user"></i></button>
            </a>
        </div>
        <div class="mobile-menu pull-right">
            <a href="/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-truck"></i></button>
            </a>
        </div>
    </div>
    <div id="MasterMobileMenu" style="display:none; background-color: rgba(255,102,153,0.1);">
        <div class="container">
            <h3 class="site-nav-title">PROFILE</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Log In</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Sign Up</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
            </ul>
            <h3 class="site-nav-title">USEFUL LINKS</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="/"><span>Home</span><span class="side-menu-box"><i class="epi-home"></i></span></a> </li>
                <li class="site-nav-item"> <a href="/shipment-volumetric"><span>Volumetric Weight</span> <span class="side-menu-box"><i class="epi-truck"></i></span></a> </li>
                <li class="site-nav-item"> <a href="/track-trace"><span>Track & Trace</span> <span class="side-menu-box"><i class="epi-volume-up-1"></i></span></a> </li>
            </ul>
        </div>
    </div>
    <!--END OF MOBILE DROP DOWN MENU-->
    <script>
        function displayMainMenu(){
            var currentStyle = document.getElementById("masterContent").style.display;
            if(currentStyle == "none"){
                document.getElementById("masterContent").style.display = "";
                document.getElementById("masterFooter").style.display = "";
                document.getElementById("MasterMobileMenu").style.display = "none";
            }else{
                document.getElementById("masterContent").style.display = "none";
                document.getElementById("masterFooter").style.display = "none";
                document.getElementById("MasterMobileMenu").style.display = "";
            }
            $('html,body').scrollTop(0);
        }

        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            var div_top_mobile = $('#sticky-anchor-mobile').offset().top;
            if (window_top > div_top || window_top > div_top_mobile) {
                $('#sticky').addClass('stick');
                $('#sticky').addClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').addClass('stick');
                $('div#sticky.navbar-header.visible-xs').addClass('animated fadeInDownBig');
            } else {
                $('#sticky').removeClass('stick');
                $('#sticky').removeClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').removeClass('stick');
                $('div#sticky.navbar-header.visible-xs').removeClass('animated fadeInDownBig');
            }
        }

        $(function () {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
            $(window).on('resize', function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });

            $(window).focus(function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });
        });

    </script>

    <div id="masterContent" [:style:]="">
        <div class="span6">

            <script>
                $(document).ready(function() {
                    $("#tcb-testimonial-carousel2").swiperight(function() {
                        $("#prev").click();
                    });
                    $("#tcb-testimonial-carousel2").swipeleft(function() {
                        $("#next").click();
                    });
                    $("#tcb-partner-carousel").swiperight(function() {
                        $("#prev-partner").click();
                    });
                    $("#tcb-partner-carousel").swipeleft(function() {
                        $("#next-partner").click();
                    });
                });
            </script>

            <section class="light-bg stats-bg">
                <div class="container space">
                    <div class="row">
                        <div class="content SigninForm well">
                            <!-- BEGIN LOGIN FORM -->
                            <form class="login-form">
                                <h3 class="form-title">Registration Successful..!!</h3>
                                <br /><br />
                                <div class="form-group">
                                    <label> Congratulation your account has been created!</label>
                                </div>
                                <div class="form-group">
                                    <label> Click "Log In" button to get signed in your account.</label>
                                    <a class="btn red pull-right" href="/ost-account/login"> Log In</a></div>
                            </form>
                        </div>
                    </div>

                </div>
            </section>

            <script>
                /*
                $(document).ready(function() {
                    $(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
                });
                */
                (function ($) {
                    var $window = $(window),
                    _watch = [],
                    _buffer;

                    function test($el) {
                        var docViewTop = $window.scrollTop(),
                        docViewBottom = docViewTop + $window.height(),
                        elemTop = $el.offset().top,
                        elemBottom = elemTop + $el.height();
                        return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom)&& (elemBottom <= docViewBottom) &&  (elemTop >= docViewTop) );
                    }

                    $window.on('scroll', function ( e ) {
                        if ( !_buffer ) {
                            _buffer = setTimeout(function () {
                                checkInView( e );
                                _buffer = null;
                            }, 300);
                        }
                    });

                    function checkInView( e ) {
                        $.each(_watch, function () {
                            if ( test( this.element ) ) {
                                if ( !this.invp ) {
                                    this.invp = true;
                                    if ( this.options.scrolledin ){
                                        this.options.scrolledin.call( this.element, e );
                                    }
                                    this.element.trigger( 'scrolledin', e );
                                }
                            }
                        });
                    }

                    function monitor( element, options ) {
                        var item = { element: element, options: options, invp: false };
                        _watch.push(item);
                        return item;
                    }

                    function unmonitor( item ) {
                        for ( var i=0;i<_watch.length;i++ ) {
                            if ( _watch[i] === item ) {
                                _watch.splice( i, 1 );
                                item.element = null;
                                break;
                            }
                        }
                        console.log( _watch );
                    }

                    var pluginName = 'scrolledIntoView',
                        settings = {
                            scrolledin: null,
                            scrolledout: null
                        }


                    $.fn[pluginName] = function( options ) {

                        var options = $.extend({}, settings, options);

                        this.each( function () {

                            var $el = $(this),
                                instance = $.data( this, pluginName );

                            if ( instance ) {
                                instance.options = options;
                            } else {
                                $.data( this, pluginName, monitor( $el, options ) );
                                $el.on( 'remove', $.proxy( function () {

                                    $.removeData(this, pluginName);
                                    unmonitor( instance );

                                }, this ) );
                            }
                        });

                        return this;
                    }


                })(jQuery);

                $('.odometer').scrolledIntoView().on('scrolledin', function () { getQuoteCount(); });

                $(document).ready( function() {
                    $("#list-fix").hide(); //hide your div initially
                    var topOfOthDiv = $(".signup-bar").offset().top;
                    $(window).scroll(function() {
                        if($(window).scrollTop() > topOfOthDiv) { //scrolled past the other div?
                            $("#list-fix").show(); //reached the desired point -- show div
                        }
                        if($(window).scrollTop() < topOfOthDiv) { //scrolled past the other div?
                            $("#list-fix").hide(); //reached the desired point -- show div
                        }
                    });
                });
                $('#testimonialCarousel').carousel({
                    interval: 2000,
                    pause: true
                });

                function getQuoteCount(){
                    AjaxGetQuoteCount();
                    setInterval(function(){
                        AjaxGetQuoteCount();
                    }, 10000);
                }

                function AjaxGetQuoteCount(){
                    getQuote = true;
                    $.ajax({
                        type : "post",
                        url : "http://easyparcel.my/?ac=doQuoteCount",
                        data : {getQuote : getQuote},
                        success : function(result){
                            if(result != "fail"){
                                result = result;
                            }else{
                                result = 0;
                            }
                            $('.odometer').html(result);
                        }
                    });
                }
            </script>
        </div>
        <div id="mainTrackResult"></div>
        <footer id="masterFooter" class="page-footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Overview</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Prohibited Item List</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Quick Guide</li>
                            <li><a href="#">Sign Up An Account</a></li>
                            <li><a href="#">Place An Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">My Account</li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Edit Your Profile</a></li>
                            <li><a href="#">My Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Tools</li>
                            <li><a href="#">Send A Parcel</a></li>
                            <li><a href="#">Track &amp; Trace</a></li>
                            <li><a data-toggle="modal" href="#responsive">Volumetric Calculator</a></li>
                            <li><a href="#">Widgets</a></li>
                            <li><a href="#">Bulk Delivery Tool</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 footer-link-height social-links">
                        <ul class="links" style="padding-bottom: 5px;">
                            <li class="title-link">Follow Us</li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-facebook"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-twitter"></i></a></li>
                            <!--<li style="float: left; margin-right: 10px;"><a href="https://www.youtube.com/channel/UCnEO_TBo3zl-bNl93WSzT0A" target="_blank"><i class="epi-youtube-play"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="https://www.pinterest.com/easyparcel/" target="_blank"><i class="epi-pinterest-circled"></i></a></li>
                            <li style="margin-right: 10px;"><a href="https://www.instagram.com/easyparcel.my/" target="_blank"><i class="epi-instagramm"></i></a></li>-->
                        </ul>
                        <hr style="margin: 15px 0px;border-color: #5d5d5d;" />
                    </div>
                </div>
            </div>
        </footer>
        <div class="page-copyright">
            <div class="container">
                <p class="text-center small">
                    © 2016 Pos Malaysia. All Rights Reserved
                </p>
            </div>
        </div>
        <div id="popupbox" class="modal fade in">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Loading...</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
        <div class="list-fix hidden-xs" id="list-fix" style="display: none;">
            <div class="wrapper">
                <span id="top-link-block"> <a href="#top" onclick="$(&#39;html,body&#39;).animate({scrollTop:0},&#39;slow&#39;);return false;" style="color: #fff;"> <i class="epi-up-big"></i></a> </span>
                <div class="tooltip">Back To Top</div>
            </div>
        </div>
        <!--[:page_tips:]-->
        <script>
            /*
            if ( ($(window).height() + 100) < $(document).height() ) {
                $('#top-link-block').removeClass('hidden').affix({
                    offset: {top:100}
                });
            }
            */

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('.list-fix').viewportChecker({
                classToAdd: 'visible animated bounceIn',
                removeClassAfterAnimation: true,
                offset: "50%"
            });

            $('.fade-in-down').addClass("invisible").viewportChecker({
                classToAddForFullView: 'visible animated fadeInDown',
                classToRemove : 'invisible',
                removeClassAfterAnimation: true,
                offset: "20%"
            });
        </script>
        <div class="swal2-container"><div class="swal2-overlay" tabindex="-1"></div><div class="swal2-modal" style="display: none" tabindex="-1"><div class="swal2-icon swal2-error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="swal2-icon swal2-question">?</div><div class="swal2-icon swal2-warning">!</div><div class="swal2-icon swal2-info">i</div><div class="swal2-icon swal2-success"><span class="line tip"></span> <span class="line long"></span><div class="placeholder"></div> <div class="fix"></div></div><img class="swal2-image" /><h2></h2><div class="swal2-content"></div><input class="swal2-input" /><select class="swal2-select"></select><div class="swal2-radio"></div><label for="swal2-checkbox" class="swal2-checkbox"><input type="checkbox" id="swal2-checkbox" /></label><textarea class="swal2-textarea"></textarea><div class="swal2-validationerror"></div><hr class="swal2-spacer" /><button class="swal2-confirm">OK</button><button class="swal2-cancel">Cancel</button><span class="swal2-close">×</span></div></div>
    </div>
</body>
</html>