@{
    ViewBag.Title = "Register Est";
    Layout = "_Layout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h1>New Account Registration</h1>
    <div class="page-header">
        <h2 style="color:#555"><strong>Enter your email address to receive the Pos Laju Business Customer activation link</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well" style="padding-top: 30px;">
                <form class="form-signin" id="register-est-form" action="/ost-account/register-est" method="post">
                    <p>
                        We will send you an email. It takes a few minutes before you have it in your inbox.
                        Click the activation link to verify your new account!
                    </p>
                    <br />
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" autocomplete="off" placeholder="Email" name="Email" id="Email" />
                        </div>
                    </div>
                    <label id="Email-error" class="error" for="Email" style="color: red; display:none"></label>
                    <button type="submit" class="btn btn-sample pull-right">Send</button>
                    <br /><br /><br />
                    @if (!ViewBag.success)
                    {
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="text-danger">Forgot password problem</h4>
                            <p>
                                <span class="text-danger">@ViewBag.status</span>
                            </p>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#register-est-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    Email: "Please enter a valid email address."
                }
            });
        });
    </script>
}
