@{
    ViewBag.Title = "Reset password";
    Layout = "_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well">
                @if (ViewBag.success)
                {
                    <form id="reset-password-form" action="/ost-account/reset-password" method="post">
                        <h3>Reset Password</h3>
                        <p> Enter your new password:</p>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input class="form-control" type="password" autocomplete="off" placeholder="Password" aria-label="Password" name="Password" id="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <div class="input-icon">
                                    <i class="fa fa-check"></i>
                                    <input class="form-control" type="password" autocomplete="off" placeholder="Confirm Password" aria-label="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <input type="hidden" name="Id" value="@ViewBag.id" />
                                <input type="hidden" name="Email" value="@ViewBag.email" />
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-success pull-right">Send</button>
                        </div>
                    </form>
                }
                <br />
                @if (!ViewBag.success)
                {
                    <div>
                        <h4 class="text-danger">Reset password problem</h4>
                        <p>
                            <span class="text-danger">@ViewBag.status</span>
                        </p>
                        <p>
                            Having problem? Change password again now.<br />
                            <a class="btn btn-info" href="/ost-account/forgot-password">Change Password</a>
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#reset-password-form").validate({
                rules: {
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 8,
                        equalTo: "#Password"
                    }
                },
                messages: {
                    Password: {
                        required: "Please provide a password.",
                        minlength: "Your password must be at least 8 characters long."
                    },
                    confirm_password: {
                        required: "Please provide a password.",
                        minlength: "Your password must be at least 8 characters long.",
                        equalTo: "Please enter the same password as above."
                    }
                }
            });
        });
    </script>
}
