@{
    ViewBag.Title = "Send verify email";
    Layout = "_Layout.cshtml";
}

<h3>Send Verify Email</h3>
<p>Enter your email address:</p>
<form id="send-verify-email-form" action="/ost-account/send-verify-email" method="post">

    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control" type="email" autocomplete="off" placeholder="Email" name="Email" id="Email" />
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success pull-right">Send</button>
    </div>
</form>
<br />
@if (!ViewBag.success)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-danger">Send verify email problem</h4>
        <p>
            <span class="text-danger">@ViewBag.status</span>
        </p>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#send-verify-email-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    Email: "Please enter a valid email address."
                }
            });
        });
    </script>
}
