@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pos Malaysia | Online Shipping Tools</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for about us page" name="description" />
    <meta content="" name="author" />

    <!-- Favicons-->
    <link rel="icon" type="image/png" href="assets/custom/favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="/assets/global/css/components-md.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />

    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap-select.min.css" />

    <link type="text/css" rel="stylesheet" href="/assets/custom/css/fontello.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/style.css" />

    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animation.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/nunito.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.min.css" />*@


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    
    @*--------------------------------------------------------------------------------------------------------------------*@
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/fontello.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animation.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/nunito.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.css" />
    <link type="text/css" rel="stylesheet" href="/assets/custom/css/sweetalert2.min.css" />  

    <script src="/scripts/underscore.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

    <script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>

    <script src="/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>

    <script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/scripts/_shipping.rate.js" type="text/javascript"></script>
    <script src="/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="/scripts/knockout.mapping-latest.js" type="text/javascript"></script>

    <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/assets/custom/js/sweetalert2.min.js"></script>

</head>
<body class="login">
    <div class="header-logo hidden-xs">
        <div class="container">
            <div class="row featurette header-grid-inner">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-4 col-sm-6 logo-wrapper"> <a href="/" class="logo-wrapper"><img src="~/assets/custom/images/Pos_Malaysia_Logo2.png" class="logo hidden-xs" /></a> </div>

                    <ul class="nav navbar-nav navbar-right visible-sm">
                        <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                        <li class="login-menu" style="border-left: 2px solid #fff;"><a href="/ost-account/login">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--START OF TOP STICKY MENU-->

    <div id="sticky-anchor"></div>
    <div id="sticky" class="hidden-xs">
        <header class="page-header menu">
            <div class="container">
                <div class="row featurette">
                    <nav id="bs-navbar" class="collapse navbar-collapse hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a href="/" style="padding-left: 0px;"><span class="glyphicon glyphicon-home hidden-sm hidden-md"></span> Home </a></li>
                            <li><a href="/shipment-volumetric"> Volumetric Weight </a></li>
                            <li><a href="/track-trace"> Track & Trace </a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                            <li class="login-menu"><a href="/ost-account/register" style="border-left: 1px solid rgba(255, 255, 255, 0.5);">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div id="volcal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Volumetric Calculator</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <form class="myform" role="form" data-toggle="validator">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label">Width</label>
                                <input type="text" class="form-control digits" name="txt_width" placeholder="Width (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the width" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Length</label>
                                <input type="text" class="form-control digits" name="txt_length" placeholder="Length (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the length" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Height</label>
                                <input type="text" class="form-control digits" name="txt_height" placeholder="Height (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the height" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                            </div>
                            <div id="weightResult" class="form-group">
                                <label for="result">Volumetric Weight (In kg)</label>
                                <input type="text" class="form-control digits" name="txt_result" placeholder="Volumetric Weight (In kg)" readonly=readonly />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn blue" id="submit" value="Calculate" name="submit" onclick="Calculate()" />
                <input type="button" class="btn default" value="Reset" onclick="reset1()" />
            </div>
        </div>
    </div>

    <script>
        function Calculate() {
            inputValidation = "";
            if ($(".myform [name=txt_width]").val() == "" || $(".myform [name=txt_length]").val() == "" || $(".myform [name=txt_height]").val() == "") {
                inputValidation = "Please Fill All The Required.";
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
            } else if (isNaN($(".myform [name=txt_width]").val()) || isNaN($(".myform [name=txt_length]").val()) || isNaN($(".myform [name=txt_height]").val())) {
                inputValidation = "Invalid Input.";
            }
            if (inputValidation == "") {
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
                var data = {
                    width: $(".myform [name=txt_width]").val(),
                    length: $(".myform [name=txt_length]").val(),
                    height: $(".myform [name=txt_height]").val()
                };

                result = Math.round(data.width * data.length * data.height / 6000 * 100) / 100;
                $("#weightResult").show();
                $(".myform [name=txt_result]").val(result + " KG");
            } else {
                swal({
                    title: 'Fill all required!',
                    type: 'error',
                    html: '' + inputValidation,
                    confirmButtonColor: '#4e97d8'
                })
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57))) {
                return false;
            }
            return true;
        }

        function reset1() {
            $(".myform [name=txt_width]").val("");
            $(".myform [name=txt_length]").val("");
            $(".myform [name=txt_height]").val("");
            $(".myform [name=txt_result]").val("");
            $("#weightResult").hide();
        }

        function CheckNull(obj, obj1, obj2) {

            var width = $(".myform [name=txt_width]");
            var length = $(".myform [name=txt_length]");
            var height = $(".myform [name=txt_height]");

            if (General.isTextEmpty($(obj))) {
                doFail(obj);
            } else {
                clearNull(obj);
            }
            if (General.isTextEmpty($(obj1))) {
                doFail(obj1);
            } else {
                clearNull(obj1);
            }
            if (General.isTextEmpty($(obj2))) {
                doFail(obj2);
            } else {
                clearNull(obj2);
            }
        }

        function doPass(obj) {
            $(obj).addClass("pass");
            $(obj).removeClass("padding");
            $(obj).removeClass("fail");
            $(obj).css("border-color", "#0F0");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        function doFail(obj) {
            $(obj).addClass("fail");
            $(obj).removeClass("padding");
            $(obj).removeClass("pass");
            $(obj).css("border-color", "#F00");
            $(obj).parent().children().eq(2).removeClass("hide");
        }

        function clearNull(obj) {
            $(obj).removeClass("pass");
            $(obj).removeClass("fail");
            $(obj).removeClass("padding");
            $(obj).css("border-color", "");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        window.onload = $("#weightResult").hide();
    </script>

    <!--END OF TOP STICKY MENU-->
    <!--START OF MOBILE TOP MENU-->
    <div id="sticky-anchor-mobile"></div>
    <div id="sticky" class="mobile-navbar navbar-header visible-xs">
        <a href="/"><img src="~/assets/custom/images/Pos_Malaysia_Logo2.png" class="visible-xs hiddenn-sm phone-logo" style="float: left;" /></a>
        <div class="mobile-menu pull-right">
            <button type="button" class="navbar-toggle collapsed" onclick="displayMainMenu()"><i class="epi-menu"></i></button>
        </div>
        <div class="mobile-menu pull-right">
            <a href="/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-user"></i></button>
            </a>
        </div>
        <div class="mobile-menu pull-right">
            <a href="/ost-account/login/">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-truck"></i></button>
            </a>
        </div>
    </div>
    <div id="MasterMobileMenu" style="display:none; background-color: rgba(255,102,153,0.1);">
        <div class="container">
            <h3 class="site-nav-title">PROFILE</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Log In</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Sign Up</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
            </ul>
            <h3 class="site-nav-title">USEFUL LINKS</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="/"><span>Home</span><span class="side-menu-box"><i class="epi-home"></i></span></a> </li>
                <li class="site-nav-item"> <a href="/shipment-volumetric"><span>Volumetric Weight</span> <span class="side-menu-box"><i class="epi-truck"></i></span></a> </li>
                <li class="site-nav-item"> <a href="/track-trace"><span>Track & Trace</span> <span class="side-menu-box"><i class="epi-volume-up-1"></i></span></a> </li>
            </ul>
        </div>
    </div>
    <script>
        function displayMainMenu(){
            var currentStyle = document.getElementById("masterContent").style.display;
            if(currentStyle == "none"){
                document.getElementById("masterContent").style.display = "";
                document.getElementById("masterFooter").style.display = "";
                document.getElementById("MasterMobileMenu").style.display = "none";
            }else{
                document.getElementById("masterContent").style.display = "none";
                document.getElementById("masterFooter").style.display = "none";
                document.getElementById("MasterMobileMenu").style.display = "";
            }
            $('html,body').scrollTop(0);
        }
        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            var div_top_mobile = $('#sticky-anchor-mobile').offset().top;
            if (window_top > div_top || window_top > div_top_mobile) {
                $('#sticky').addClass('stick');
                $('#sticky').addClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').addClass('stick');
                $('div#sticky.navbar-header.visible-xs').addClass('animated fadeInDownBig');
            } else {
                $('#sticky').removeClass('stick');
                $('#sticky').removeClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').removeClass('stick');
                $('div#sticky.navbar-header.visible-xs').removeClass('animated fadeInDownBig');
            }
        }

        $(function () {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
            $(window).on('resize', function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });

            $(window).focus(function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });
        });

    </script>

    <div>
        <div class="span6">

            <section class="light-bg stats-bg">
                <div class="container space">
                    @Html.Partial("_shiprate")
                </div>
            </section>
        </div>
        <div id="mainTrackResult"></div>
        <footer id="masterFooter" class="page-footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Overview</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Prohibited Item List</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Quick Guide</li>
                            <li><a href="#">Sign Up An Account</a></li>
                            <li><a href="#">Place An Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">My Account</li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Edit Your Profile</a></li>
                            <li><a href="#">My Order</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                        <ul class="links">
                            <li class="title-link">Tools</li>
                            <li><a href="#">Send A Parcel</a></li>
                            <li><a href="#">Track &amp; Trace</a></li>
                            <li><a data-toggle="modal" href="#responsive">Volumetric Calculator</a></li>
                            <li><a href="#">Widgets</a></li>
                            <li><a href="#">Bulk Delivery Tool</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 footer-link-height social-links">
                        <ul class="links" style="padding-bottom: 5px;">
                            <li class="title-link">Follow Us</li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-facebook"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="#" target="_blank"><i class="epi-twitter"></i></a></li>
                            <!--<li style="float: left; margin-right: 10px;"><a href="https://www.youtube.com/channel/UCnEO_TBo3zl-bNl93WSzT0A" target="_blank"><i class="epi-youtube-play"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="https://www.pinterest.com/easyparcel/" target="_blank"><i class="epi-pinterest-circled"></i></a></li>
                            <li style="margin-right: 10px;"><a href="https://www.instagram.com/easyparcel.my/" target="_blank"><i class="epi-instagramm"></i></a></li>-->
                        </ul>
                        <hr style="margin: 15px 0px;border-color: #5d5d5d;" />
                    </div>
                </div>
            </div>
        </footer>
        <div class="page-copyright">
            <div class="container">
                <p class="text-center small">
                    © 2016 Pos Malaysia. All Rights Reserved
                </p>
            </div>
        </div>
        <div id="popupbox" class="modal fade in">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Loading...</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
        <div class="list-fix hidden-xs" id="list-fix" style="display: none;">
            <div class="wrapper">
                <div class="tooltip">Back To Top</div>
            </div>
        </div>
        <div class="swal2-container"><div class="swal2-overlay" tabindex="-1"></div><div class="swal2-modal" style="display: none" tabindex="-1"><div class="swal2-icon swal2-error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="swal2-icon swal2-question">?</div><div class="swal2-icon swal2-warning">!</div><div class="swal2-icon swal2-info">i</div><div class="swal2-icon swal2-success"><span class="line tip"></span> <span class="line long"></span><div class="placeholder"></div> <div class="fix"></div></div><img class="swal2-image" /><h2></h2><div class="swal2-content"></div><input class="swal2-input" /><select class="swal2-select"></select><div class="swal2-radio"></div><label for="swal2-checkbox" class="swal2-checkbox"><input type="checkbox" id="swal2-checkbox" /></label><textarea class="swal2-textarea"></textarea><div class="swal2-validationerror"></div><hr class="swal2-spacer" /><button class="swal2-confirm">OK</button><button class="swal2-cancel">Cancel</button><span class="swal2-close">×</span></div></div>
    </div>
</body>
</html>