@{
    ViewBag.Title = "Operation Successful";
    Layout = "_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <h1>Account Information</h1>
    <div class="page-header">
        <h2 style="color:#555"><strong></strong></h2>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="well">
                @if (ViewBag.success && ViewBag.operation.Equals("register"))
                {
                    <div>
                        <h3><span class="text-success">Thank you for signing up!</span></h3>
                        <p>
                            Please check your inbox for a verification email from us.<br />
                            You will be allowed to sign in after verification is complete.
                        </p>
                    </div>
                }
                @if (ViewBag.success && ViewBag.operation.Equals("verify-email"))
                {
                    <div>
                        <h3><span class="text-success">Email verification successful</span></h3>
                        <p>
                            Your email address has been verified.<br />
                            You may proceed to login now.<br />
                            <a class="btn btn-sample" href="/ost-account/login">Log In</a>
                        </p>
                    </div>
                }
                @if (ViewBag.success && ViewBag.operation.Equals("forgot-password"))
                {
                    <div>
                        <h3><span class="text-success">Success!</span></h3>
                        <p>
                            Please check your email to reset your password
                        </p>
                    </div>
                }
                @if (ViewBag.success && ViewBag.operation.Equals("reset-password"))
                {
                    <div>
                        <h3><span class="text-success">Password reset successful</span></h3>
                        <p>
                            Your password has been reset.<br />
                            You may proceed to login now.<br />
                            <a class="btn btn-sample" href="/ost-account/login">Log In</a>
                        </p>
                    </div>
                }
                @if (ViewBag.success && ViewBag.operation.Equals("send-verify-email"))
                {
                    <div>
                        <h3><span class="text-success">Email verification sent</span></h3>
                        <p>
                            Please check your inbox for a verification email from us.<br />
                            You will be allowed to sign in after verification is complete.
                        </p>
                    </div>
                }
                @if (ViewBag.success && ViewBag.operation.Equals("register-est"))
                {
                    <div>
                        <h3><span class="text-success">Email successfully sent!</span></h3>
                        <p>
                            Please check your inbox to register as EST user.<br />
                            You will be registered as EST User after completing the EST Registration Form.
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>