.A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: unset;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: 12pt;
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }

    size: A4 portrait;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .A4 {
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
    }

    .noprint {
        display: none;
    }

    .enable-print {
        display: block;
    }
}

.connote-sheet-1 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    /*height: 613px;
            padding-top: 50px;*/
}

.connote-sheet-2 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Transit_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-sheet-3 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Original_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-sheet-4 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Sender_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-int-sheet-1 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Receiver_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-int-sheet-2 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Despatching_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-int-sheet-3 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Delivery_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-int-sheet-4 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Customs_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.connote-int-sheet-5 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Sender_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
}

.bg-no-overlay {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 613px;
    padding-top: 50px;
}

@media print {
    table {
        background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg");
    }
}

@media print {
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        background: transparent !important;
    }
}

.container {
    width: 1181px !important;
}

/*table, td, th {
    border: 1px solid black !important;
}*/

table {
    border-collapse: collapse !important;
    width: 100% !important;
}

th, td {
    height: 23px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: transparent !important;
}

.loose {
    letter-spacing: 12px;
}

.loose2 {
    letter-spacing: 29px;
    font-size: xx-large;
}

.loose-conn {
    letter-spacing: 5px;
    font-size: 17px;
}

.loose-conn-int {
    letter-spacing: 5px;
}

.loose-barcode {
    /*letter-spacing: 3px;*/
    font-size: 49px;
}

.loose-barcode-int {
    font-size: 47px;
}

.td-hide {
    visibility: hidden;
}

@font-face {
    font-family: code-128;
    src: url(/assets/global/plugins/code-128/fonts/code128.ttf);
}
