.connote-sheet-1 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-sheet-2 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Transit_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-sheet-3 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Original_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-sheet-4 {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Sender_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-int-sheet-1 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Receiver_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-int-sheet-2 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Despatching_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-int-sheet-3 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Delivery_Office_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-int-sheet-4 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Customs_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.connote-int-sheet-5 {
    background: url("/assets/global/img/connotes/International_Poslaju_Consignment_Note_Sender_Copy.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: initial !important;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.bg-no-overlay {
    background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 613px;
    padding-top: 50px;
}

@page {
    size: A4 portrait;
    margin: 0px;
}

@media print {
    table {
        background: url("/assets/global/img/connotes/Domestic_Poslaju_Consignment_Note_Receiver_Copy.jpg");
    }
    .connote-page {
        page-break-inside: avoid;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media print {
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        background: transparent !important;
    }
}

.container {
    width: 1181px !important;
}

/*table, td, th {
    border: 1px solid black !important;
}*/

table {
    border-collapse: collapse !important;
    width: 100% !important;
}

th, td {
    height: 23px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: transparent !important;
}

.loose {
    letter-spacing: 12px;
}

.loose2 {
    letter-spacing: 29px;
    font-size: xx-large;
}

.loose-conn {
    letter-spacing: 5px;
    font-size: 17px;
}

.loose-conn-int {
    letter-spacing: 5px;
}

.loose-barcode {
    font-size: 49px;
}

.loose-barcode-int {
    font-size: 47px;
}

.td-hide {
    visibility: hidden;
}

@font-face {
    font-family: code-128;
    src: url(/assets/global/plugins/code-128/fonts/code128.ttf);
}
