<div id="volcal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close fa-globe" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title">Volumetric Calculator</h4>
        </div>
        <div class="modal-body">
            <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                <form class="myform" role="form" data-toggle="validator">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label">Width</label>
                            <input type="text" class="form-control digits" name="txt_width" placeholder="Width (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the width" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Length</label>
                            <input type="text" class="form-control digits" name="txt_length" placeholder="Length (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the length" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Height</label>
                            <input type="text" class="form-control digits" name="txt_height" placeholder="Height (In cm)" onkeypress="return isNumberKey(event)" title="Please enter the height" /><span class="epi-info-circled form-control-feedback hide" aria-hidden="true"></span>
                        </div>
                        <div id="weightResult" class="form-group">
                            <label for="result">Volumetric Weight (In kg)</label>
                            <input type="text" class="form-control digits" name="txt_result" placeholder="Volumetric Weight (In kg)" readonly=readonly />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn blue" id="submit" value="Calculate" name="submit" onclick="Calculate()" />
            <input type="button" class="btn default" value="Reset" onclick="reset1()" />
        </div>
    </div>
</div>

<script>
        function Calculate() {
            inputValidation = "";
            if ($(".myform [name=txt_width]").val() == "" || $(".myform [name=txt_length]").val() == "" || $(".myform [name=txt_height]").val() == "") {
                inputValidation = "Please Fill All The Required.";
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
            } else if (isNaN($(".myform [name=txt_width]").val()) || isNaN($(".myform [name=txt_length]").val()) || isNaN($(".myform [name=txt_height]").val())) {
                inputValidation = "Invalid Input.";
            }
            if (inputValidation == "") {
                CheckNull($(".myform [name=txt_width]"), $(".myform [name=txt_length]"), $(".myform [name=txt_height]"));
                var data = {
                    width: $(".myform [name=txt_width]").val(),
                    length: $(".myform [name=txt_length]").val(),
                    height: $(".myform [name=txt_height]").val()
                };

                result = Math.round(data.width * data.length * data.height / 6000 * 100) / 100;
                $("#weightResult").show();
                $(".myform [name=txt_result]").val(result + " KG");
            } else {
                swal({
                    title: 'Fill all required!',
                    type: 'error',
                    html: '' + inputValidation,
                    confirmButtonColor: '#4e97d8'
                })
            }
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57))) {
                return false;
            }
            return true;
        }

        function reset1() {
            $(".myform [name=txt_width]").val("");
            $(".myform [name=txt_length]").val("");
            $(".myform [name=txt_height]").val("");
            $(".myform [name=txt_result]").val("");
            $("#weightResult").hide();
        }

        function CheckNull(obj, obj1, obj2) {

            var width = $(".myform [name=txt_width]");
            var length = $(".myform [name=txt_length]");
            var height = $(".myform [name=txt_height]");

            if (General.isTextEmpty($(obj))) {
                doFail(obj);
            } else {
                clearNull(obj);
            }
            if (General.isTextEmpty($(obj1))) {
                doFail(obj1);
            } else {
                clearNull(obj1);
            }
            if (General.isTextEmpty($(obj2))) {
                doFail(obj2);
            } else {
                clearNull(obj2);
            }
        }

        function doPass(obj) {
            $(obj).addClass("pass");
            $(obj).removeClass("padding");
            $(obj).removeClass("fail");
            $(obj).css("border-color", "#0F0");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        function doFail(obj) {
            $(obj).addClass("fail");
            $(obj).removeClass("padding");
            $(obj).removeClass("pass");
            $(obj).css("border-color", "#F00");
            $(obj).parent().children().eq(2).removeClass("hide");
        }

        function clearNull(obj) {
            $(obj).removeClass("pass");
            $(obj).removeClass("fail");
            $(obj).removeClass("padding");
            $(obj).css("border-color", "");
            $(obj).parent().children().eq(2).addClass("hide");
        }

        window.onload = $("#weightResult").hide();
</script>