<div class="header-logo hidden-xs">
    <div class="container">
        <div class="row featurette header-grid-inner">
            <div class="container-fluid">
                <div class="col-lg-6 col-md-4 col-sm-6 logo-wrapper"> <a href="/" class="logo-wrapper"><img src="~/assets/custom/images/Pos_Malaysia_Logo2.png" class="logo hidden-xs" /></a> </div>

                <ul class="nav navbar-nav navbar-right visible-sm">
                    <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                    <li class="login-menu" style="border-left: 2px solid #fff;"><a href="/ost-account/register">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="sticky-anchor"></div>
<div id="sticky" class="hidden-xs">
    <header class="page-header menu">
        <div class="container">
            <div class="row featurette">
                <nav id="bs-navbar" class="collapse navbar-collapse hidden-xs">
                    <ul class="nav navbar-nav">
                        <li><a href="/" style="padding-left: 0px;"><span class="glyphicon glyphicon-home hidden-sm hidden-md"></span> Home </a></li>
                        <li><a href="/shipment-volumetric"> Volumetric Weight </a></li>
                        @*<li><a href="/ost/shiprate"> Shipping Rate </a></li>*@
                        <li><a href="/track-trace"> Track & Trace </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                        <li class="login-menu"><a href="/ost-account/register" style="border-left: 1px solid rgba(255, 255, 255, 0.5);">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>