<div id="sticky-anchor-mobile"></div>
<div id="sticky" class="mobile-navbar navbar-header visible-xs">
    <a href="/"><img src="assets/custom/images/Pos_Malaysia_Logo2.png" class="visible-xs hiddenn-sm phone-logo" style="float: left;" /></a>
    <div class="mobile-menu pull-right">
        <button type="button" class="navbar-toggle collapsed" onclick="displayMainMenu()"><i class="epi-menu"></i></button>
    </div>
    <div class="mobile-menu pull-right">
        <a href="/ost-account/login/">
            <button type="button" class="navbar-toggle collapsed"><i class="epi-user"></i></button>
        </a>
    </div>
</div>
<div id="MasterMobileMenu" style="display:none; background-color: rgba(255, 0, 0, 0.1);">
    <div class="container">

        <h3 class="site-nav-title">PROFILE</h3>
        <ul class="nav navbar-nav site-nav-group">
            <li class="site-nav-item"> <a href="#"><span>Log In</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
            <li class="site-nav-item"> <a href="#"><span>Sign Up</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
        </ul>
        <h3 class="site-nav-title">USEFUL LINKS</h3>
        <ul class="nav navbar-nav site-nav-group">
            <li class="site-nav-item"> <a href="/"><span>Home</span><span class="side-menu-box"><i class="epi-home"></i></span></a> </li>
            <li class="site-nav-item"> <a href="/shipment-volumetric"><span>Volumetric Weight</span> <span class="side-menu-box"><i class="epi-truck"></i></span></a> </li>
            <li class="site-nav-item"> <a href="/track-trace"><span>Track & Trace</span> <span class="side-menu-box"><i class="epi-volume-up-1"></i></span></a> </li>
        </ul>
    </div>
</div>
<script>
        function displayMainMenu(){
            var currentStyle = document.getElementById("masterContent").style.display;
            if(currentStyle == "none"){
                document.getElementById("masterContent").style.display = "";
                document.getElementById("masterFooter").style.display = "";
                document.getElementById("MasterMobileMenu").style.display = "none";
            }else{
                document.getElementById("masterContent").style.display = "none";
                document.getElementById("masterFooter").style.display = "none";
                document.getElementById("MasterMobileMenu").style.display = "";
            }
            $('html,body').scrollTop(0);
        }

        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            var div_top_mobile = $('#sticky-anchor-mobile').offset().top;
            if (window_top > div_top || window_top > div_top_mobile) {
                $('#sticky').addClass('stick');
                $('#sticky').addClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').addClass('stick');
                $('div#sticky.navbar-header.visible-xs').addClass('animated fadeInDownBig');
            } else {
                $('#sticky').removeClass('stick');
                $('#sticky').removeClass('animated fadeInDownBig');
                $('div#sticky.navbar-header.visible-xs').removeClass('stick');
                $('div#sticky.navbar-header.visible-xs').removeClass('animated fadeInDownBig');
            }
        }

        $(function () {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
            $(window).on('resize', function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });

            $(window).focus(function() {
                if($(window).width() > 767){
                    document.getElementById("MasterMobileMenu").style.display = "none";
                    document.getElementById("masterContent").style.display = "";
                    document.getElementById("masterFooter").style.display = "";
                }
            });
        });
</script>
