<section class="slider-bg">
    <div id="carousel-example-generic" class="carousel slide" data-interval="8000" data-ride="carousel">
        <div class="col-lg-4 col-md-5 absolute-slideshow padding-off">
            <style>
                .qnb-wrapped .nav-tabs > li > a {
                    margin-right: 5px;
                }

                .qnb-wrapped .nav-tabs > li.active > a.domestic-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.domestic-tab, .qnb-wrapped .nav-tabs > li.active > a.domestic-tab:hover {
                    background-color: #0d4c91;
                    border: 1px solid #0d4c91;
                    border-bottom-color: transparent;
                    color: #fff;
                }

                .qnb-wrapped .nav-tabs > li.active > a.international-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.international-tab, .qnb-wrapped .nav-tabs > li.active > a.international-tab:hover {
                    background-color: #5cb85c;
                    border: 1px solid #5cb85c;
                    border-bottom-color: transparent;
                    color: #fff;
                }

                .qnb-wrapped .nav-tabs > li.active > a.drop_parcel-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.drop_parcel-tab, .qnb-wrapped .nav-tabs > li.active > a.drop_parcel-tab:hover {
                    background-color: #b3003c;
                    border: 1px solid #b3003c;
                    border-bottom-color: transparent;
                    color: #fff;
                }



                .qnb-wrapped .nav > li > a.domestic-tab:hover, .qnb-wrapped .nav .open > a.domestic-tab:hover {
                    background-color: #0d4c91;
                    color: #fff;
                    border-color: #0d4c91;
                    border-bottom: 1px solid #FFF;
                }

                .qnb-wrapped .nav > li > a.international-tab:hover, .qnb-wrapped .nav .open > a.international-tab:hover {
                    background-color: #5cb85c;
                    color: #fff;
                    border-color: #5cb85c;
                    border-bottom: 1px solid #FFF;
                }

                .qnb-wrapped .nav > li > a.drop_parcel-tab:hover, .qnb-wrapped .nav .open > a.drop_parcel-tab:hover {
                    background-color: #b3003c;
                    color: #fff;
                    border-color: #b3003c;
                    border-bottom: 1px solid #FFF;
                }

                .qnb-wrapped .nav-tabs {
                    border-bottom: 1px solid #FFF;
                }

                .quote-book.international-body {
                    background-color: #5cb85c;
                }

                .quote-book.drop_parcel-body {
                    background-color: #b3003c;
                }

                span.tip {
                    position: absolute;
                    top: -10px;
                    left: 32px;
                    font-size: 10px;
                    color: #fff;
                    background-color: #5cb85c;
                    padding: 2px 5px;
                }
            </style>
            <div id="dialog"> </div>
        </div>
        <ol class="carousel-indicators hidden-xs hidden-sm">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>
        <div class="visible-xs visible-sm slider-static"></div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner hidden-xs hidden-sm">
            <div class="item">
                <div class="sliders slider-9">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15; top: 50px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="sliders slider-7">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-6">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-1">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-2">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-3">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-4">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</section>