<section class="slider-bg">

    <div id="carousel-example-generic" class="carousel slide" data-interval="8000" data-ride="carousel">
        <div class="col-lg-4 col-md-5 absolute-slideshow padding-off">
            <link type="text/css" href="http://easyparcel.my/EPFile/Live_1.5.0.4/Support/Source/css/quote.css" rel="stylesheet">
            <script type="text/javascript" src="http://easyparcel.my/EPFile/Live_1.5.0.4/Support/Source/js/quote.js"></script>
            <div id="dialog"> </div>

        </div>
        <ol class="carousel-indicators hidden-xs hidden-sm">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="7" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="8" class=""></li>
        </ol>
        <div class="visible-xs visible-sm slider-static"></div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner hidden-xs hidden-sm">
            <div class="item active">
                <div class="sliders slider-8">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <h1><span style="color:yellowgreen">Testttttt 2 </span></h1>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="sliders slider-1">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                            <h1><span style="color:red">Testttttt 3 </span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-2">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                            <h1><span style="color:mediumorchid">Testttttt 4 </span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliders slider-3">
                    <div class="container carousel-caption hidden-sm hidden-xs">
                        <div class="col-md-12">
                            <h1 class="font-red-flamingo">Introducing New Services</h1>
                            <h2 style="color:grey;">Online Shipping Tools by POS Malaysia</h2>
                            <a href="/ost-account/login" type="button" class="btn btn-danger">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</section>