
<div id="tracking-form">
    <form id="tracking-form" name="tracking-form" method="POST">
        <p>
            <textarea id="trackingNo" name="trackingNo" placeholder="Please enter tracking no" rows="5"></textarea>
        </p>
        <input type="hidden" id="hvtrackNoHeader" name="hvtrackNoHeader" value="">
        <input type="hidden" id="hvfromheader" name="hvfromheader" value="0">
        <button style="margin: 10px 0; width: 100%; height: 38px;" class="dark-gray" type="button" id="bttest"><strong>TRACK</strong></button>
    </form>
</div>
