@{
    Layout = "~/Views/OstAccount/_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <h1>Mad Was Here</h1>
    <div class="page-header">
        <h2 style="color:#555">Pos Laju EziSend</h2>
    </div>
    <div class="panel-group" id="accordian">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_1">1. What is Pos Laju EziSend?</a>
                </h4>
            </div>
            <div id="collapse_0_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Pos Laju EziSend is an online shipping solution exclusively for Pos Laju Customers.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_2">2. What are the Pos Laju EziSend features?</a>
                </h4>
            </div>
            <div id="collapse_0_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>MAD WAS HERE</strong>
                    <ol>
                        <li>Address Book Storage</li>
                        <li>Real Time Track and Trace</li>
                        <li>Online Pickup Request</li>
                        <li>Pre-Printed Consignment Note</li>
                        <li>Online Payment</li>
                        <li>Manage Dashboard Transaction</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_3">3. Where is this service available?</a>
                </h4>
            </div>
            <div id="collapse_0_3" class="panel-collapse collapse">
                <div class="panel-body">
                    At <a href="http://ezisend.poslaju.com.my/">http://ezisend.poslaju.com.my/</a> website
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_4">4. What are the product offers?</a>
                </h4>
            </div>
            <div id="collapse_0_4" class="panel-collapse collapse">
                <div class="panel-body">
                    Currently, the product offers in Pos Laju EziSend are:
                    <ol>
                        <li>Next Day Delivery (NDD)</li>
                        <li>Express Mail Services (EMS)</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_5">5. What are the product rates?</a>
                </h4>
            </div>
            <div id="collapse_0_5" class="panel-collapse collapse">
                <div class="panel-body">
                    Customers can get the EMS and NDD rates via our Rate Calculator at this link:
                    <ul>
                        <li>NDD: <a href="http://pos.com.my/postal-services/quick-access/?calculate-postage">http://pos.com.my/postal-services/quick-access/?calculate-postage</a></li>
                        <li>EMS: <a href="http://www.pos.com.my/postal-courier-services/express-mail-service-ems">http://www.pos.com.my/postal-courier-services/express-mail-service-ems</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_6">6. What do customers need to do to send their items by using this service?</a>
                </h4>
            </div>
            <div id="collapse_0_6" class="panel-collapse collapse">
                <div class="panel-body"> 
                    <ul>
                        <li>Customers are required to fill in the consignment details which are ‘Sender’, ‘Recipient’, and ‘Parcel’ information and set the pickup time. Then, customers have to remit payment via online. Finally, customers just need to wait for Poslaju courier to pick up the items.</li>
                        <li>Customer need to ensure the item is completely wrapped before the Pos Laju courier pick up the item.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_7">7. Are there any other charge for using Pos Laju EziSend services?</a>
                </h4>
            </div>
            <div id="collapse_0_7" class="panel-collapse collapse">
                <div class="panel-body">
                    Customers will be charged with Pickup Fee of RM5.30 (Including GST).
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_8">8. Which origin address (Sender Postcode or Pickup Postcode) will EziSend choose to charge the customer?</a>
                </h4>
            </div>
            <div id="collapse_0_8" class="panel-collapse collapse">
                <div class="panel-body">
                    System will charge the origin address of customers based on Pickup Address postcode.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_9">9. Is there any limit weight for item send via EMS?</a>
                </h4>
            </div>
            <div id="collapse_0_9" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes.
                    <ul>
                        <li>Document (up to 1 kg).</li>
                        <li>Merchandise (maximum weight up to 30kg depends on the destination country).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_10">10. Is there any limit weight for item send via NDD?</a>
                </h4>
            </div>
            <div id="collapse_0_10" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes.
                    <ul>
                        <li>Document (up to 2 kg).</li>
                        <li>Merchandise (maximum weight up to 30 kg).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_11">11. Can customer edit/add/delete items after pickup has been scheduled?</a>
                </h4>
            </div>
            <div id="collapse_0_11" class="panel-collapse collapse">
                <div class="panel-body">
                    No, customer is not allowed to change any info after pickup has been scheduled.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_12">12. What should a customer do if their payment transaction failed? How about debit card?</a>
                </h4>
            </div>
            <div id="collapse_0_12" class="panel-collapse collapse">
                <div class="panel-body">
                    Customer can re-try the payment transaction as all information keyed in are saved into Shipping Cart.
                    <br />
                    Customer need to ensure their credit card is activated.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_13">13. Is there any compensation if item is damage or lost?</a>
                </h4>
            </div>
            <div id="collapse_0_13" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, the compensation will be based on Terms and Conditions of Service.  Please refer www.pos.com.my for details.
                    <br />
                    If the customer take the insurance,  compensation will be based on the value of the insured (or by market value, whichever is lower) 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_14">14. Does customer need to print consignment note (connote) by their own self?</a>
                </h4>
            </div>
            <div id="collapse_0_14" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, customer need to print the connote and attach it together with the item(s).
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_15">15. Can customer pass another item to courier during pickup without registering it in Pos Laju EziSend?</a>
                </h4>
            </div>
            <div id="collapse_0_15" class="panel-collapse collapse">
                <div class="panel-body">
                    No, customer only can pass the item/s with the connote number that tally with the manifest listing.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_16">16. Can customer attach other connotes which were received from PPL, PO?</a>
                </h4>
            </div>
            <div id="collapse_0_16" class="panel-collapse collapse">
                <div class="panel-body">
                    No, customer can only attach connote generated by EziSend with prefix EU 0XXXXXXXX MY.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_17">17. Can customer add another item after the service has been paid?</a>
                </h4>
            </div>
            <div id="collapse_0_17" class="panel-collapse collapse">
                <div class="panel-body">
                    Customer need to create a new transaction.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_18">18. When courier can come for pick up after payment for the transaction will be made?</a>
                </h4>
            </div>
            <div id="collapse_0_18" class="panel-collapse collapse">
                <div class="panel-body">
                    Same day pick up is applicable before 12.00 pm. Otherwise pick up will be done on the next day.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_0_19">19. Can customer purchase insurance for protection to send item via Pos Laju EziSend?</a>
                </h4>
            </div>
            <div id="collapse_0_19" class="panel-collapse collapse">
                <div class="panel-body">
                    EziSend only provide normal insurance services which offers our customers financial protection against all risks of physical loss or damage of goods/items during transit anywhere within domestic and international destinations.
                    <br /><br />
                    Only 4 items are categorized under high risks hand phone, payphone card, airline ticket and redemption voucher.
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="page-header">
        <h2 style="color:#555">Next Day Delivery (NDD)</h2>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_1">1. What is Next Day Delivery (NDD) service?</a>
                </h4>
            </div>
            <div id="collapse_1_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Guaranteed next working day delivery (D+1) within Pos Laju coverage areas and 2-3 working days for areas outside of Pos Laju coverage.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_2">2. What kind of items can be sent through NDD? </a>
                </h4>
            </div>
            <div id="collapse_1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Document</li>
                        <li>Parcel</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_3">3. What are the size and weight limits of NDD service?</a>
                </h4>
            </div>
            <div id="collapse_1_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>No weight limit for transactions at Pos Laju counters.</li>
                        <li>Weight limit up to 30kg for transactions at post office counters.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_4">4. What is the delivery standard of NDD?</a>
                </h4>
            </div>
            <div id="collapse_1_4" class="panel-collapse collapse">
                <div class="panel-body">
                    Delivery standard is D+1 (subject to delivery within Pos Laju coverage areas only).
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_5">5. What is the compensation given in the event that an NDD item was not successfully delivered within its stipulated time?</a>
                </h4>
            </div>
            <div id="collapse_1_5" class="panel-collapse collapse">
                <div class="panel-body">
                    The full delivery charge will be compensated for item which was not successfully delivered in accordance to the D+1 delivery standard (subject to delivery within Pos Laju coverage areas only).
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_6">6. What are the charges of NDD service?</a>
                </h4>
            </div>
            <div id="collapse_1_6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-8">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th rowspan="2">&nbsp;</th>
                                    <th colspan="2">Document (below 2kg)</th>
                                    <th colspan="2">Parcel (above 2kg)</th>
                                </tr>
                                <tr>
                                    <th>First 500gm (RM)</th>
                                    <th>Additional 250gm (RM)</th>
                                    <th>2.001 to 2.5kg (RM)</th>
                                    <th>Additional 500gm (RM)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zone 1</td>
                                    <td>4.90</td>
                                    <td>0.80</td>
                                    <td>10.50</td>
                                    <td>0.50</td>
                                </tr>
                                <tr>
                                    <td>Zone 2</td>
                                    <td>5.40</td>
                                    <td>1.00</td>
                                    <td>16.00</td>
                                    <td>2.00</td>
                                </tr>
                                <tr>
                                    <td>Zone 3</td>
                                    <td>6.90</td>
                                    <td>1.50</td>
                                    <td>21.00</td>
                                    <td>3.00</td>
                                </tr>
                                <tr>
                                    <td>Zone 4</td>
                                    <td>7.40</td>
                                    <td>1.50</td>
                                    <td>26.00</td>
                                    <td>3.50</td>
                                </tr>
                                <tr>
                                    <td>Zone 5</td>
                                    <td>7.90</td>
                                    <td>2.00</td>
                                    <td>31.00</td>
                                    <td>4.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                    <div class="col-md-6">
                        <table class="table table-bordered table-condensed">
                            <tbody>
                                <tr>
                                    <td>Zone 1</td>
                                    <td>Local delivery </td>
                                </tr>
                                <tr>
                                    <td>Zone 2</td>
                                    <td>Within Peninsular Malaysia, Sabah & Sarawak</td>
                                </tr>
                                <tr>
                                    <td>Zone 3</td>
                                    <td>Between Sabah & Sarawak</td>
                                </tr>
                                <tr>
                                    <td>Zone 4</td>
                                    <td>Between Peninsular Malaysia & Sarawak</td>
                                </tr>
                                <tr>
                                    <td>Zone 5</td>
                                    <td>Between Peninsular Malaysia & Sabah</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_7">7. xxx</a>
                </h4>
            </div>
            <div id="collapse_1_7" class="panel-collapse collapse">
                <div class="panel-body">
                    yyy
                </div>
            </div>
        </div>*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_8">8. Does NDD offer On Demand Pick-up service?</a>
                </h4>
            </div>
            <div id="collapse_1_8" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes.
                    <ul>
                        <li>For On Demand Pick-up, please call 1-300-22-5258, with an additional service charge of RM 5.30 (inclusive of 6% GST) per pick-up, regardless of number of item.</li>
                        <li>For Contract Customers, please call 1-300-88-5258 or 03-7839 8888 (Klang Valley only) for free pick-up service.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_9">9. If the first delivery attempt was unsuccessful, can I request for a second delivery?</a>
                </h4>
            </div>
            <div id="collapse_1_9" class="panel-collapse collapse">
                <div class="panel-body">
                    Second delivery attempt can be made within seven (7) days from the day of the first unsuccessful delivery to the same recipient address.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_10">10. Can I request for the item to be sent to a different address (retour)?</a>
                </h4>
            </div>
            <div id="collapse_1_10" class="panel-collapse collapse">
                <div class="panel-body">
                    A retour is subject to delivery area within the same Pos Laju Centre coverage area only.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_11">11. How do I claim for compensation?</a>
                </h4>
            </div>
            <div id="collapse_1_11" class="panel-collapse collapse">
                <div class="panel-body">
                    Any claim for compensation for loss or damage of an NDD item can only be made by the sender or an appointed representative of the sender. Steps are as follows:
                    <ul>
                        <li>Any claim for compensation must be made within 30 days of the date of posting. Damage to goods or loss of part of the content / incomplete content is to be reported within 48 hours after the item is received.</li>
                        <li>Claims must be made by completing the PP1 Pos Form, together with the proof of posting, copies of identification documents, invoices, photos of damages and a police report (if required) and submit them to the nearest Pos Laju Centre or post office.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_1_12">12. Where and how can I get further information of this service?</a>
                </h4>
            </div>
            <div id="collapse_1_12" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                        Customer Service Centre: PosLine 1-300-300-300
                            <ul>
                                <li>8:30 am - 8:00 pm, Monday-Friday</li>
                                <li>8.30 am - 5.00 pm, Saturday (except on the first Saturday of the month and public holiday)</li>
                            </ul>
                        </li>
                        <li>E-mail to <a href="mailto:care@pos.com.my">care@pos.com.my</a></li>
                        <li>Facebook <a class="btn btn-default btn-sm" href="http://www.facebook.com/PosMalaysiaBerhad" title="http://www.facebook.com/PosMalaysiaBerhad"><i class="fa fa-facebook"></i></a> or Twitter <a class="btn btn-default btn-sm" href="https://twitter.com/pos4you" title="https://twitter.com/pos4you"><i class="fa fa-twitter"></i></a> </li>
                        <li><a href="http://www.pos.com.my">www.pos.com.my</a> or <a href="http://www.poslaju.com.my">www.poslaju.com.my</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="page-header">
        <h2 style="color:#555">Express Mail Service (EMS)</h2>
    </div>
    <div class="panel-group" id="accordion_2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_1">1. When is the effective date for revised EMS rates?</a>
                </h4>
            </div>
            <div id="collapse_2_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    1 September 2016
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_2">2. Why is the rate being revised?</a>
                </h4>
            </div>
            <div id="collapse_2_2" class="panel-collapse collapse">
                <div class="panel-body">
                    It has not been revised since 2006 even though the operational cost has been increasing.                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_3">3. Which type of category subjected to the revised EMS rates?</a>
                </h4>
            </div>
            <div id="collapse_2_3" class="panel-collapse collapse">
                <div class="panel-body">
                    Document and Merchandise
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_4">4. To whom does this EMS revised rates apply?</a>
                </h4>
            </div>
            <div id="collapse_2_4" class="panel-collapse collapse">
                <div class="panel-body">
                    This revised EMS rates apply to public and contract customers
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_5">5. What are the revised EMS rates?</a>
                </h4>
            </div>
            <div id="collapse_2_5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-8">
                        For Document
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2">Zone</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">Price (RM)</td>
                                    <td>First 0.5 kg</td>
                                    <td>26.00</td>
                                    <td>42.00</td>
                                    <td>55.00</td>
                                    <td>70.00</td>
                                    <td>80.00</td>
                                    <td>90.00</td>
                                    <td>105.00</td>
                                    <td>156.00</td>
                                </tr>
                                <tr>
                                    <td>For next 0.5 kg up to 1.0 kg</td>
                                    <td>6.00</td>
                                    <td>13.00</td>
                                    <td>15.00</td>
                                    <td>25.00</td>
                                    <td>32.00</td>
                                    <td>37.00</td>
                                    <td>60.00</td>
                                    <td>75.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        For Merchandise 
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <td colspan="2">Zone</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">Price (RM)</td>
                                    <td>First 0.20 kg</td>
                                    <td>56.00</td>
                                    <td>65.00</td>
                                    <td>72.00</td>
                                    <td>80.00</td>
                                    <td>105.00</td>
                                    <td>125.00</td>
                                    <td>145.00</td>
                                    <td>160.00</td>
                                </tr>
                                <tr>
                                    <td>For next 0.20 kg up to 2.0 kg</td>
                                    <td>2.00</td>
                                    <td>3.00</td>
                                    <td>5.00</td>
                                    <td>7.00</td>
                                    <td>9.00</td>
                                    <td>17.00</td>
                                    <td>23.00</td>
                                    <td>25.00</td>
                                </tr>
                                <tr>
                                    <td>For next 0.50 kg up to 10.0 kg</td>
                                    <td>4.00</td>
                                    <td>6.00</td>
                                    <td>12.00</td>
                                    <td>16.00</td>
                                    <td>20.00</td>
                                    <td>40.00</td>
                                    <td>50.00</td>
                                    <td>60.00</td>
                                </tr>
                                <tr>
                                    <td>Additional 1.0 kg</td>
                                    <td>10.00</td>
                                    <td>12.00</td>
                                    <td>22.00</td>
                                    <td>25.00</td>
                                    <td>35.00</td>
                                    <td>60.00</td>
                                    <td>70.00</td>
                                    <td>90.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>               
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_6">6. What is the new lower weight step for EMS Merchandise?</a>
                </h4>
            </div>
            <div id="collapse_2_6" class="panel-collapse collapse">
                <div class="panel-body">
                    For item weight below 2 kg, the weight step increment is every 200g
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_7">7. Where do you offer this EMS product?</a>
                </h4>
            </div>
            <div id="collapse_2_7" class="panel-collapse collapse">
                <div class="panel-body">
                    EMS are available at all PO, PosLaju Service Center, PosLaju Go2U, PosLaju Kioks, Pos On Wheel (POW)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_8">8. What is the zoning for EMS?</a>
                </h4>
            </div>
            <div id="collapse_2_8" class="panel-collapse collapse">
                <div class="panel-body">
                    There are 8 zones for each document and merchandise category
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_9">9. Is there any discount offered for EMS?</a>
                </h4>
            </div>
            <div id="collapse_2_9" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, there will be promotional discounts subject to terms & conditions
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_10">10. What are the benefit for this revise d EMS?</a>
                </h4>
            </div>
            <div id="collapse_2_10" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Separate into 8 zones</li>
                        <li>Introduce lower weight step for EMS merchandise</li>
                        <li>Lower rates than our competitor</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_11">11. Will there be a new delivery standard associated with the revised EMS rates?</a>
                </h4>
            </div>
            <div id="collapse_2_11" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_12">12. Are there any values added for the EMS service?</a>
                </h4>
            </div>
            <div id="collapse_2_12" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes. Value added service offered is On Demand pick up. This service will be offered in month of October 2016
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_13">13. Are there any changes to the terms and conditions on compensation liability with regard to the implementation of the new EMS revision tariff?</a>
                </h4>
            </div>
            <div id="collapse_2_13" class="panel-collapse collapse">
                <div class="panel-body">
                    No, the compensation remains the same.
                    <br />
                    Document:
                    <ul>
                        <li>
                            Maximum RM100 or total value of the item; whichever is lower
                        </li>
                    </ul>
                    Merchandise:
                    <ul>
                        <li>
                            Maximum RM300 or total value of the item; whichever is lower
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_14">14. How can customers seek assistance in getting more information and / or clarification on matters pertaining to new EMS revision tariff?</a>
                </h4>
            </div>
            <div id="collapse_2_14" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Customer Service Centre: PosLine 1-300-300-300
                            <ul>
                                <li>8:30 am - 8:00 pm, Monday-Friday</li>
                                <li>8.30 am - 5.00 pm, Saturday (except on the first Saturday of the month and public holiday)</li>
                            </ul>
                        </li>
                        <li>E-mail to <a href="mailto:care@pos.com.my">care@pos.com.my</a></li>
                        <li>Facebook <a class="btn btn-default btn-sm" href="http://www.facebook.com/PosMalaysiaBerhad" title="http://www.facebook.com/PosMalaysiaBerhad"><i class="fa fa-facebook"></i></a> or Twitter <a class="btn btn-default btn-sm" href="https://twitter.com/pos4you" title="https://twitter.com/pos4you"><i class="fa fa-twitter"></i></a> </li>
                        <li><a href="http://www.pos.com.my">www.pos.com.my</a> or <a href="http://www.poslaju.com.my">www.poslaju.com.my</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
