@{
    Layout = "~/Views/OstAccount/_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <h1>FAQ - Frequently Asked Questions</h1>
    <br />
    <div class="page-header">
        <h2>NDD<small> - Penghantaran Keesokan Hari / Next Day Delivery</small></h2>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_1">1. Apakah itu penghantaran keesokan hari (NDD)?</a>
                </h4>
            </div>
            <div id="collapse_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Jaminan penghantaran hari bekerja berikutnya (D+1) dalam kawasan liputan Pos Laju dan 2-3 hari bekerja bagi kawasan di luar liputan Pos Laju.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_2">2. Apakah item yang boleh dihantar melalui NDD?</a>
                </h4>
            </div>
            <div id="collapse_2" class="panel-collapse collapse">
                <div class="panel-body">
                    Dokumen dan bungkusan.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_3">3. Apakah had saiz dan berat yang telah ditetapkan bagi perkhidmatan NDD?</a>
                </h4>
            </div>
            <div id="collapse_3" class="panel-collapse collapse">
                <div class="panel-body">
                    - Tiada had berat untuk transaksi di kaunter Pos Laju <br />
                    - Had berat 30kg bagi transaksi di kaunter Pejabat Pos
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_4">4. Apakah jaminan yang ditawarkan bagi perkhidmatan NDD?</a>
                </h4>
            </div>
            <div id="collapse_4" class="panel-collapse collapse">
                <div class="panel-body">
                    Jaminan penghantaran bergantung kepada standard perkhidmatan D+1 sahaja (tertakluk di dalam kawasan liputan serahan Pos Laju).
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-heading-custom">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_5">5. Berapakah pampasan yang akan diberikan bagi item NDD yang gagal diserah tepat pada waktunya?</a>
                </h4>
            </div>
            <div id="collapse_5" class="panel-collapse collapse">
                <div class="panel-body">
                    Pemulangan caj pengeposan penuh akan diberikan bagi item yang gagal mematuhi standard perkhidmatan D+1 sahaja  (tertakluk di dalam kawasan liputan serahan Pos Laju).
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_6">6. Adakah produk ini menawarkan servis Pick up?</a>
                </h4>
            </div>
            <div id="collapse_6" class="panel-collapse collapse">
                <div class="panel-body">
                    Ya, Sila rujuk jadual di bawah:
                    <ul>
                        <li>ODP : Sila hubungi 1-300-22-5258 ,caj servis pickup adalah RM 5.30 (termasuk 6% GST)</li>
                        <li>Pelanggan Kontrak  : Sila hubungi 1-300-88-5258 atau 03-78398888 (Lembah Klang sahaja) caj servis pickup adalah percuma</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_7">7. Sekiranya serahan pertama gagal, bolehkah saya meminta serahan kali ke 2?</a>
                </h4>
            </div>
            <div id="collapse_7" class="panel-collapse collapse">
                <div class="panel-body">
                    Serahan kali ke 2 boleh dilaksanakan dalam tempoh 7 hari dari tarikh serahan gagal ke alamat penerima yang sama.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_8">8. Bolehkah saya meminta item ini dihantar ke alamat penerima yang berlainan (Ubah hala)?</a>
                </h4>
            </div>
            <div id="collapse_8" class="panel-collapse collapse">
                <div class="panel-body">
                    Ubah hala tertakluk kepada liputan serahan di bawah Pusat Pos Laju destinasi yang sama sahaja
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_9">9. Bagaimanakah caranya untuk menuntut gantirugi? </a>
                </h4>
            </div>
            <div id="collapse_9" class="panel-collapse collapse">
                <div class="panel-body">
                    Sebarang tuntutan gantirugi akibat kehilangan atau kerosakan item NDD hanya boleh dituntut oleh pengirim atau wakil yang dipersetujui secara sah oleh pengirim. Langkah yang perlu diambil adalah seperti berikut:
                    <ul>
                        <li>Sebarang tuntutan pampasan perlu di buat dalam tempoh 30 hari dari tarikh pengeposan. Kerosakan barang atau kehilangan sebahagian isi kandungan / isi kandungan tidak mencukupi perlu dilapor dalam tempoh 48jam selepas item diterima.</li>
                        <li>Tuntutan perlu dibuat dengan mengisi Borang Pos PP1 dan disertakan dengan bukti pengeposan, salinan dokumen pengenalan, inbois, gambar kerosakan dan laporan polis (sekiranya perlu) dan diserahkan ke Pusat Pos Laju atau Pejabat Pos yang berhampiran</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_10">10. Apakah cara pelanggan ingin mengetahui maklumat lanjut tentang perkhidmatan ini?</a>
                </h4>
            </div>
            <div id="collapse_10" class="panel-collapse collapse">
                <div class="panel-body">

                    - Pusat Khidmat Pelanggan di talian PosLine 1-300-300-300
                    <ul>
                        <li>8:30 pagi hingga 8:00 malam, Isnin hingga Jumaat</li>
                        <li>8.30 pagi hingga 5.00 petang, Sabtu (kecuali Sabtu pertama setiap bulan dan cuti umum)</li>
                    </ul>
                    - E-mel ke care@pos.com.my <br />
                    - Facebook/askpos & Twitter/askpos <br />
                    - Layari laman sesawang www.pos.com.my atau www.Pos Laju.com.my

                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h2>EMS<small> - Perkhidmatan Ekspres Mel / Express Mail Service </small></h2>
    </div>
    <div class="panel-group" id="accordion_2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_1">1. Apakah itu perkhidmatan ekspres mel (EMS)?</a>
                </h4>
            </div>
            <div id="collapse_2_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Darihal EMS...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2_2">2. Apakah item yang boleh dihantar melalui EMS?</a>
                </h4>
            </div>
            <div id="collapse_2_2" class="panel-collapse collapse">
                <div class="panel-body">
                    Darihal item EMS...
                </div>
            </div>
        </div>
    </div>
</div>
