@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout.cshtml";
}

@Html.Partial("_header")

<div class="container">
    <h1>OST<small> Online Shipping Tool</small></h1>
    <i class="fa fa-envelope"></i> Pos Malaysia Berhad
</div>