@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pos Malaysia | Online Shipping Tools</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Book for Courier Services Online!">
    <meta property="og:description" content="Save on every parcel when you book for delivery via Poslaju, Skynet, Nationwide or Airpak. It&#39;s easy and affordable! Sign up now to deliver your first parcel for FREE!">
    <meta property="og:image" content="../assets/EasyParcel/easyparcel-my-referralbanner.jpg">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons-->
    <link rel="icon" type="image/png" href="assets/EasyParcel/favicon.ico">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/bootstrap-select.min.css">
    <!-- Stylesheet-->
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/odometer-theme-plaza.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/fontello.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/style.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/animation.css">
    @*<link href="assets/EasyParcel/css" rel="stylesheet" type="text/css">*@
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/nunito.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/animate.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/sweetalert2.css">
    <link type="text/css" rel="stylesheet" href="assets/EasyParcel/sweetalert2.min.css">
    <!-- original javascript-->
    <script type="text/javascript" async="" src="assets/EasyParcel/js/conversion_async.js"></script>
    
    <script type="text/javascript" async="" src="assets/EasyParcel/js/gtm.js"></script>
    <script type="text/javascript" async="" src="assets/EasyParcel/js/fbevents.js"></script>
    <script type="text/javascript" async="" src="assets/EasyParcel/js/analytics.js"></script>
    
    <script type="text/javascript" src="assets/EasyParcel/js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.jplist.3.4.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/general.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/newsline.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jssor.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jssor.slider.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.viewportchecker.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/odometer.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/tooltip.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/conversion.js"></script>
    <script type="text/javascript" src="assets/EasyParcel/js/sweetalert2.min.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51175026-1', 'easyparcel.my');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

<!-- Facebook Pixel Code -->
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '348255145366237');
fbq('track', "PageView");</script>
    <noscript>
        &lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=348255145366237&amp;ev=PageView&amp;noscript=1"
        /&gt;
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
  /* <![CDATA[ */
var google_conversion_id = 944118998;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
    /* ]]> */
    </script>
    <noscript>
        &lt;div style="display:inline;"&gt;
        &lt;img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/944118998/?value=0&amp;amp;guid=ON&amp;amp;script=0"/&gt;
        &lt;/div&gt;
    </noscript>

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        &lt;iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMLGG"
        height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id=GTM-WWMLGG';
})(window,document,'script','dataLayer','GTM-WWMLGG');</script>
    <!-- End Google Tag Manager -->
    <div class="header-logo hidden-xs">
        <div class="container">
            <div class="row featurette header-grid-inner">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-4 col-sm-6 logo-wrapper"> <a href="http://localhost:50230/" class="logo-wrapper"><img src="assets/EasyParcel/images/Pos_Malaysia_Logo2.png" class="logo hidden-xs"></a> </div>

                    <ul class="nav navbar-nav navbar-right visible-sm">
                        <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                        <li class="login-menu" style="border-left: 2px solid #fff;"><a href="/ost-account/login">Sign Up</a></li>
                    </ul>

                    @*<div class="col-lg-6 col-md-8 padding-off hidden-sm">
                        <div class="row">
                            <iframe src="/assets/EasyParcel/saved_resource.html" width="100%" height="50" frameborder="0" scrolling="auto"></iframe>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!--START OF TOP STICKY MENU-->

    <div id="sticky-anchor"></div>
    <div id="sticky" class="hidden-xs">
        <header class="page-header menu">
            <div class="container">
                <div class="row featurette">
                    <nav id="bs-navbar" class="collapse navbar-collapse hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a href="#" style="padding-left: 0px;"><span class="glyphicon glyphicon-home hidden-sm hidden-md"></span> Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">About Pos OST</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Send A Parcel</a></li>
                            <li><a href="#">My Order</a></li>
                            <li><a href="#">Promotion</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Track Parcel</a></li>
                                    <li><a href="#">Volumetric Weight</a></li>
                                    <li><a href="#">Widgets</a></li>
                                    <li><a href="#">Bulk Delivery Tool</a></li>
                                    <li><a href="#">Shipping Rate</a></li>
                                    <li><a href="#">Delivery Commitment Date</a></li>
                                    <li><a href="#">Pick Up Schedule</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden-sm">
                            <li class="login-menu"><a href="/ost-account/login"><i class="epi-user"></i> Log In</a></li>
                            <li class="login-menu"><a href="/ost-account/login" style="border-left: 1px solid rgba(255, 255, 255, 0.5);">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <!--END OF TOP STICKY MENU-->
    <!--START OF MOBILE TOP MENU-->
    <div id="sticky-anchor-mobile"></div>
    <div id="sticky" class="mobile-navbar navbar-header visible-xs">
        <a href="http://easyparcel.my/"><img src="assets/EasyParcel/images/Pos_Malaysia_Logo2.png" class="visible-xs hiddenn-sm phone-logo" style="float: left;"></a>
        <div class="mobile-menu pull-right">
            <button type="button" class="navbar-toggle collapsed" onclick="displayMainMenu()"><i class="epi-menu"></i></button>
        </div>
        <div class="mobile-menu pull-right">
            <a href="http://secure.easyparcel.my/pass/?pg=UserLogin">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-user"></i></button>
            </a>
        </div>
        <div class="mobile-menu pull-right">
            <a href="http://secure.easyparcel.my/pass/?pg=Quote">
                <button type="button" class="navbar-toggle collapsed"><i class="epi-truck"></i></button>
            </a>
        </div>
    </div>
    <!--END OF MOBILE TOP MENU-->
    <!--START OF MOBILE DROP DOWN MENU-->
    <div id="MasterMobileMenu" style="display:none; background-color: rgba(255,102,153,0.1);">
        <div class="container">

            <h3 class="site-nav-title">PROFILE</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Log In</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Sign Up</span> <span class="side-menu-box"><i class="epi-user"></i></span></a> </li>
            </ul>
            <h3 class="site-nav-title">USEFUL LINKS</h3>
            <ul class="nav navbar-nav site-nav-group">
                <li class="site-nav-item"> <a href="#"><span>Home</span> <span class="side-menu-box"><i class="epi-home"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>About Us</span> <span class="side-menu-box"><i class="epi-info-circled"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Send A Parcel</span> <span class="side-menu-box"><i class="epi-truck"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>My Cart</span> <span class="side-menu-box"><i class="epi-cart-plus"></i></span></a> </li>
                <li class="site-nav-item"> <a href="#"><span>Promotion</span> <span class="side-menu-box"><i class="epi-volume-up-1"></i></span></a> </li>
                <li class="site-nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span> Tools <span class="caret"></span></span> <span class="side-menu-box"><i class="epi-wrench"></i></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Track Parcel</a></li>
                        <li><a href="#"> style="cursor: pointer;">Volumetric Weight</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bulk Delivery Tool</a></li>
                        <li><a href="#">Shipping Rate</a></li>
                        <li><a href="#">Delivery Commitment Date</a></li>
                        <li><a href="#">Pick Up Schedule</a></li>
                    </ul>
                </li>
                <li class="site-nav-item"> <a href="#"><span>Blog</span> <span class="side-menu-box"><i class="epi-newspaper"></i></span></a> </li>
            </ul>

        </div>
    </div>
    <!--END OF MOBILE DROP DOWN MENU-->
    <script>
function displayMainMenu(){
	var currentStyle = document.getElementById("masterContent").style.display;
	if(currentStyle == "none"){
		document.getElementById("masterContent").style.display = "";
		document.getElementById("masterFooter").style.display = "";
		document.getElementById("MasterMobileMenu").style.display = "none";
	}else{
		document.getElementById("masterContent").style.display = "none";
		document.getElementById("masterFooter").style.display = "none";
		document.getElementById("MasterMobileMenu").style.display = "";
	}
	$('html,body').scrollTop(0);
}

function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
	var div_top_mobile = $('#sticky-anchor-mobile').offset().top;
    if (window_top > div_top || window_top > div_top_mobile) {
        $('#sticky').addClass('stick');
		$('#sticky').addClass('animated fadeInDownBig');
		$('div#sticky.navbar-header.visible-xs').addClass('stick');
		$('div#sticky.navbar-header.visible-xs').addClass('animated fadeInDownBig');
    } else {
        $('#sticky').removeClass('stick');
		$('#sticky').removeClass('animated fadeInDownBig');
		$('div#sticky.navbar-header.visible-xs').removeClass('stick');
		$('div#sticky.navbar-header.visible-xs').removeClass('animated fadeInDownBig');
    }
}

function changeCountry(){
	country = ($("#changeCountry").val());
	if(country !=""){
		if(country == "sg"){
			window.open('http://www.easyparcel.sg', '_blank');
			$("#changeCountry").val('');
		}else if(country == "th"){
			window.open('http://www.easyparcel.co.th', '_blank');
			$("#changeCountry").val('');
		}else if(country == "id"){
			window.open('http://www.easyparcel.co.id', '_blank');
			$("#changeCountry").val('');
		}else{
			window.open('https://www.easyparcel.com', '_blank');
		}
	}else{
		alert("Please select a country.");
	}
}

$(function () {
	$(window).scroll(sticky_relocate);
    sticky_relocate();
	$(window).on('resize', function() {
		if($(window).width() > 767){
			document.getElementById("MasterMobileMenu").style.display = "none";
			document.getElementById("masterContent").style.display = "";
			document.getElementById("masterFooter").style.display = "";
		}
	});

	$(window).focus(function() {
		if($(window).width() > 767){
			document.getElementById("MasterMobileMenu").style.display = "none";
			document.getElementById("masterContent").style.display = "";
			document.getElementById("masterFooter").style.display = "";
		}
	});
});

    </script>


    @*---BREAK--*@

    <div id="masterContent" [:style:]="">
        <div class="span6">

            <script>
$(document).ready(function() {
  		 $("#tcb-testimonial-carousel2").swiperight(function() {
		 $("#prev").click();
	    		});
		   $("#tcb-testimonial-carousel2").swipeleft(function() {
		    $("#next").click();
	   });
		$("#tcb-partner-carousel").swiperight(function() {
		 $("#prev-partner").click();
	    		});
		   $("#tcb-partner-carousel").swipeleft(function() {
		    $("#next-partner").click();
		});
	});
            </script>
            <!--slider-->
            <section class="slider-bg">
                <div id="carousel-example-generic" class="carousel slide" data-interval="8000" data-ride="carousel">
                    <div class="col-lg-4 col-md-5 absolute-slideshow padding-off">
                        <style>
                            .qnb-wrapped .nav-tabs > li > a {
                                margin-right: 5px;
                            }

                            .qnb-wrapped .nav-tabs > li.active > a.domestic-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.domestic-tab, .qnb-wrapped .nav-tabs > li.active > a.domestic-tab:hover {
                                background-color: #0d4c91;
                                border: 1px solid #0d4c91;
                                border-bottom-color: transparent;
                                color: #fff;
                            }

                            .qnb-wrapped .nav-tabs > li.active > a.international-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.international-tab, .qnb-wrapped .nav-tabs > li.active > a.international-tab:hover {
                                background-color: #5cb85c;
                                border: 1px solid #5cb85c;
                                border-bottom-color: transparent;
                                color: #fff;
                            }

                            .qnb-wrapped .nav-tabs > li.active > a.drop_parcel-tab, .qnb-wrapped .nav-tabs > li.active > a:focus.drop_parcel-tab, .qnb-wrapped .nav-tabs > li.active > a.drop_parcel-tab:hover {
                                background-color: #b3003c;
                                border: 1px solid #b3003c;
                                border-bottom-color: transparent;
                                color: #fff;
                            }



                            .qnb-wrapped .nav > li > a.domestic-tab:hover, .qnb-wrapped .nav .open > a.domestic-tab:hover {
                                background-color: #0d4c91;
                                color: #fff;
                                border-color: #0d4c91;
                                border-bottom: 1px solid #FFF;
                            }

                            .qnb-wrapped .nav > li > a.international-tab:hover, .qnb-wrapped .nav .open > a.international-tab:hover {
                                background-color: #5cb85c;
                                color: #fff;
                                border-color: #5cb85c;
                                border-bottom: 1px solid #FFF;
                            }

                            .qnb-wrapped .nav > li > a.drop_parcel-tab:hover, .qnb-wrapped .nav .open > a.drop_parcel-tab:hover {
                                background-color: #b3003c;
                                color: #fff;
                                border-color: #b3003c;
                                border-bottom: 1px solid #FFF;
                            }

                            .qnb-wrapped .nav-tabs {
                                border-bottom: 1px solid #FFF;
                            }

                            .quote-book.international-body {
                                background-color: #5cb85c;
                            }

                            .quote-book.drop_parcel-body {
                                background-color: #b3003c;
                            }

                            span.tip {
                                position: absolute;
                                top: -10px;
                                left: 32px;
                                font-size: 10px;
                                color: #fff;
                                background-color: #5cb85c;
                                padding: 2px 5px;
                            }
                        </style>
                        <link type="text/css" href="assets/EasyParcel/quote.css" rel="stylesheet">
                        <script type="text/javascript" src="assets/EasyParcel/js/quote.js"></script>
                        <div class="row" id="dropbox">
                            <div class="qnb-wrapped">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a class="domestic-tab" href="#domestic" aria-controls="home" role="tab" data-toggle="tab"><strong>DOMESTIC</strong></a></li>
                                    <li role="presentation" class=""><a class="international-tab" href="#international" aria-controls="profile" role="tab" data-toggle="tab"><strong>INTERNATIONAL</strong></a></li>
                                    <li role="presentation" class=""><a class="drop_parcel-tab" href="#drop_parcel" aria-controls="profile" role="tab" data-toggle="tab"><strong>EziSENDER</strong></a></li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active clearfix QuickQuote domestic" style="z-index:999999;padding:0px" id="domestic">

                                    <div class="container-fluid quote-book domestic-body">
                                        <form action="http://secure.easyparcel.my/pass/?pg=Quote" method="POST" onsubmit="return checkaddress()">
                                            <div class="col-xs-12">
                                                <h2>Get Instant Quotes</h2>
                                                <h5>FROM:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="domestic">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="c" title="State"><span class="filter-option pull-left">State</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off"></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">State</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Johor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kedah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kelantan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Melaka</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Negeri Sembilan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pahang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perlis</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pulau Pinang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Selangor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Terengganu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kuala Lumpur</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Putra Jaya</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sarawak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sabah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Labuan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="c" name="c" onchange="quote.CollAddrChange(this)" txt_c_state="" tabindex="-98">
                                                    <option value="" readonly="">State</option>

                                                    <option value="jhr">Johor</option>

                                                    <option value="kdh">Kedah</option>

                                                    <option value="ktn">Kelantan</option>

                                                    <option value="mlk">Melaka</option>

                                                    <option value="nsn">Negeri Sembilan</option>

                                                    <option value="phg">Pahang</option>

                                                    <option value="prk">Perak</option>

                                                    <option value="pls">Perlis</option>

                                                    <option value="png">Pulau Pinang</option>

                                                    <option value="sgr">Selangor</option>

                                                    <option value="trg">Terengganu</option>

                                                    <option value="kul">Kuala Lumpur</option>

                                                    <option value="pjy">Putra Jaya</option>

                                                    <option value="srw">Sarawak</option>

                                                    <option value="sbh">Sabah</option>

                                                    <option value="lbn">Labuan</option>

                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="domestic">
                                                <input type="text" class="form-control" id="cp" name="cp" placeholder="Postcode" onkeyup="quickQ.checkField(this,&#39;c&#39;)" onchange="quickQ.checkField(this,&#39;c&#39;)" maxlength="5" value="" txt_c_postcode="">
                                            </div>


                                            <div class="col-xs-12">
                                                <h5>TO:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="domestic">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="d" title="State"><span class="filter-option pull-left">State</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off"></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">State</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Johor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kedah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kelantan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Melaka</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Negeri Sembilan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pahang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perlis</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pulau Pinang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Selangor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Terengganu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kuala Lumpur</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Putra Jaya</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sarawak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sabah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Labuan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="d" name="d" onchange="quote.CollAddrChange(this)" txt_d_state="" tabindex="-98">
                                                        <option value="" readonly="">State</option>

                                                        <option value="jhr">Johor</option>

                                                        <option value="kdh">Kedah</option>

                                                        <option value="ktn">Kelantan</option>

                                                        <option value="mlk">Melaka</option>

                                                        <option value="nsn">Negeri Sembilan</option>

                                                        <option value="phg">Pahang</option>

                                                        <option value="prk">Perak</option>

                                                        <option value="pls">Perlis</option>

                                                        <option value="png">Pulau Pinang</option>

                                                        <option value="sgr">Selangor</option>

                                                        <option value="trg">Terengganu</option>

                                                        <option value="kul">Kuala Lumpur</option>

                                                        <option value="pjy">Putra Jaya</option>

                                                        <option value="srw">Sarawak</option>

                                                        <option value="sbh">Sabah</option>

                                                        <option value="lbn">Labuan</option>

                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="domestic">
                                                <input type="text" class="form-control" id="dp" name="dp" placeholder="Postcode" onkeyup="quickQ.checkField(this,&#39;d&#39;)" onchange="quickQ.checkField(this,&#39;d&#39;)" maxlength="5" value="" txt_d_postcode="">
                                            </div>

                                            <div class="col-xs-12">
                                                <h5>ENTER WEIGHT:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 padding-right-off">
                                                <input type="text" class="form-control required digits" name="w" id="weight" required="" placeholder="KG (Eg: 0.01)" title="Please enter the weight" value="">
                                            </div>
                                            <div class="col-xs-7 col-sm-6">
                                                <input type="hidden" name="h" id="height" value="10">
                                                <input type="hidden" name="wi" id="width" value="10">
                                                <input type="hidden" name="l" id="length" value="10">
                                                <button class="btn btn-primary" name="submit" type="submit" value="Quote " id="submit">Quote &amp; Book</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--domestic tab finish-->
                                <!--international tab start-->
                                <div role="tabpanel" class="tab-pane   clearfix QuickQuote international" style="z-index:999999;padding:0px" id="international">
                                    <div class="container-fluid quote-book international-body">
                                        <form action="http://secure.easyparcel.my/pass/?pg=Quote" method="POST" onsubmit="return checkaddressint()">
                                            <div class="col-xs-12">
                                                <h2>Get Instant Quotes</h2>
                                                <h5>FROM:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="international">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="ic" title="State"><span class="filter-option pull-left">State</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off"></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">State</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Johor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kedah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kelantan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Melaka</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Negeri Sembilan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pahang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perlis</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pulau Pinang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Selangor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Terengganu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kuala Lumpur</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Putra Jaya</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sarawak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sabah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Labuan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="ic" name="c" txt_ic_state="" tabindex="-98">
                                                    <option value="" readonly="">State</option>

                                                    <option value="jhr">Johor</option>

                                                    <option value="kdh">Kedah</option>

                                                    <option value="ktn">Kelantan</option>

                                                    <option value="mlk">Melaka</option>

                                                    <option value="nsn">Negeri Sembilan</option>

                                                    <option value="phg">Pahang</option>

                                                    <option value="prk">Perak</option>

                                                    <option value="pls">Perlis</option>

                                                    <option value="png">Pulau Pinang</option>

                                                    <option value="sgr">Selangor</option>

                                                    <option value="trg">Terengganu</option>

                                                    <option value="kul">Kuala Lumpur</option>

                                                    <option value="pjy">Putra Jaya</option>

                                                    <option value="srw">Sarawak</option>

                                                    <option value="sbh">Sabah</option>

                                                    <option value="lbn">Labuan</option>

                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="international">
                                                <input type="text" class="form-control" id="icp" name="cp" placeholder="Postcode" onkeyup="quickQ.checkField(this,&#39;ic&#39;)" onchange="quickQ.checkField(this,&#39;ic&#39;)" maxlength="5" value="" txt_ic_postcode="">
                                            </div>


                                            <div class="col-xs-12">
                                                <h5>TO:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="international">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="d" title="Country"><span class="filter-option pull-left">Country</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off"></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Country</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-optgroup="1div"></li><li class="dropdown-header " data-optgroup="1"><span class="text">International</span></li><li data-original-index="1" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Brunei Darussalam</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Cambodia</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">China</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Hong Kong</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Macau</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Myanmar</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Singapore</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Taiwan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Thailand</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">United Kingdom</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">United States</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Vietnam</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="d" name="d" onchange="quote.CollAddrChange(this)" txt_d_state="" tabindex="-98">
                                                         <option value="" readonly="">Country</option>
                                                         <optgroup label="International">

                                                            <option value="BN-INT">Brunei Darussalam</option>

                                                            <option value="KH-INT">Cambodia</option>

                                                            <option value="CN-INT">China</option>

                                                            <option value="HK-INT">Hong Kong</option>

                                                            <option value="MO-INT">Macau</option>

                                                            <option value="MM-INT">Myanmar</option>

                                                            <option value="SG-INT">Singapore</option>

                                                            <option value="TW-INT">Taiwan</option>

                                                            <option value="TH-INT">Thailand</option>

                                                            <option value="GB-INT">United Kingdom</option>

                                                            <option value="US-INT">United States</option>

                                                            <option value="VN-INT">Vietnam</option>

                                                        </optgroup>
                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="international">
                                                <input type="text" class="form-control" id="idp" name="dp" placeholder="Postcode" maxlength="10" value="" txt_id_postcode="">
                                            </div>

                                            <div class="col-xs-12">
                                                <h5>ENTER WEIGHT:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 padding-right-off">
                                                <input type="text" class="form-control required digits" name="w" id="weight" required="" placeholder="KG (Eg: 0.01)" title="Please enter the weight" value="">
                                            </div>
                                            <div class="col-xs-7 col-sm-6">
                                                <input type="hidden" name="h" id="height" value="10">
                                                <input type="hidden" name="wi" id="width" value="10">
                                                <input type="hidden" name="l" id="length" value="10">
                                                <button class="btn btn-primary" name="submit" type="submit" value="Quote " id="submit">Quote &amp; Book</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--international tab end-->
                                <!--drop parcel tab start-->
                                <div role="tabpanel" class="tab-pane   clearfix QuickQuote drop_parcel" style="z-index:999999;padding:0px" id="drop_parcel">
                                    <div class="container-fluid quote-book drop_parcel-body">
                                        <form action="http://secure.easyparcel.my/pass/?pg=Quote" method="POST" onsubmit="return checkaddressint()">
                                            <div class="col-xs-12">
                                                <h2>Get Nearest Pos Outlets Branch</h2>
                                                <h5>STATE:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="drop_parcel">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="ic" title="State"><span class="filter-option pull-left">State</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" /></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">State</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Johor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kedah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kelantan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Melaka</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Negeri Sembilan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pahang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Perlis</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pulau Pinang</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Selangor</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Terengganu</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Kuala Lumpur</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Putra Jaya</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sarawak</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sabah</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Labuan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="ic" name="c" txt_ic_state="" tabindex="-98">
                                                        <option value="" readonly="">State</option>

                                                        <option value="jhr">Johor</option>

                                                        <option value="kdh">Kedah</option>

                                                        <option value="ktn">Kelantan</option>

                                                        <option value="mlk">Melaka</option>

                                                        <option value="nsn">Negeri Sembilan</option>

                                                        <option value="phg">Pahang</option>

                                                        <option value="prk">Perak</option>

                                                        <option value="pls">Perlis</option>

                                                        <option value="png">Pulau Pinang</option>

                                                        <option value="sgr">Selangor</option>

                                                        <option value="trg">Terengganu</option>

                                                        <option value="kul">Kuala Lumpur</option>

                                                        <option value="pjy">Putra Jaya</option>

                                                        <option value="srw">Sarawak</option>

                                                        <option value="sbh">Sabah</option>

                                                        <option value="lbn">Labuan</option>

                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="drop_parcel">
                                                <input type="hidden" class="form-control" id="icp" name="cp" placeholder="Postcode" onkeyup="quickQ.checkField(this,&#39;ic&#39;)" onchange="quickQ.checkField(this,&#39;ic&#39;)" maxlength="5" value="" txt_ic_postcode="" />
                                            </div>


                                            <div class="col-xs-12">
                                                <h5>BRANCH:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 dropbox-body padding-right-off" id="drop_parcel">
                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="d" title="Branch"><span class="filter-option pull-left">Branch</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" /></div><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Country</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li class="divider" data-optgroup="1div"></li><li class="dropdown-header " data-optgroup="1"><span class="text">International</span></li><li data-original-index="1" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Brunei Darussalam</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Cambodia</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">China</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Hong Kong</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Macau</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Myanmar</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Singapore</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Taiwan</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Thailand</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">United Kingdom</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">United States</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12" data-optgroup="1"><a tabindex="0" class="opt  " style="" data-tokens="null"><span class="text">Vietnam</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div>
                                                    <!--<select required="" class="selectpicker form-control" data-show-subtext="true" data-live-search="true" id="d" name="d" onchange="quote.CollAddrChange(this)" txt_d_state="" tabindex="-98">
                                                        <option value="" readonly="">Country</option>
                                                        <optgroup label="International">

                                                            <option value="BN-INT">Brunei Darussalam</option>

                                                            <option value="KH-INT">Cambodia</option>

                                                            <option value="CN-INT">China</option>

                                                            <option value="HK-INT">Hong Kong</option>

                                                            <option value="MO-INT">Macau</option>

                                                            <option value="MM-INT">Myanmar</option>

                                                            <option value="SG-INT">Singapore</option>

                                                            <option value="TW-INT">Taiwan</option>

                                                            <option value="TH-INT">Thailand</option>

                                                            <option value="GB-INT">United Kingdom</option>

                                                            <option value="US-INT">United States</option>

                                                            <option value="VN-INT">Vietnam</option>

                                                        </optgroup>
                                                    </select>-->
                                                </div>
                                            </div>

                                            <div class="col-xs-7 col-sm-6 dropbox-body" id="drop_parcel">
                                                <input type="hidden" class="form-control" id="idp" name="dp" placeholder="Postcode" maxlength="10" value="" txt_id_postcode="" />
                                            </div>

                                            <div class="col-xs-12">
                                                <h5>POSTCODE:</h5>
                                            </div>
                                            <div class="col-xs-5 col-sm-6 padding-right-off">
                                                <input type="text" class="form-control" id="icp" name="cp" placeholder="Postcode" onkeyup="quickQ.checkField(this,&#39;ic&#39;)" onchange="quickQ.checkField(this,&#39;ic&#39;)" maxlength="5" value="" txt_ic_postcode="" />
                                            </div>
                                            <div class="col-xs-7 col-sm-6">
                                                <input type="hidden" name="h" id="height" value="10" />
                                                <input type="hidden" name="wi" id="width" value="10" />
                                                <input type="hidden" name="l" id="length" value="10" />
                                                <button class="btn btn-primary" name="submit" type="submit" value="Quote " id="submit">Search</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--drop parcel tab end-->
                            </div>
                        </div>
                        <div id="dialog"> </div>
                        <script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

var quickQ = {
	checkField: function(obj,option){
		var str = $(obj).val();
		if(str.length == 5){
			$.ajax({
				type  : "post",
				url : "http://easyparcel.my/?ac=doGetState",
				async : false,
				data : {
					postcode : str,
				},
				success : function(result){

					if(result!="No State Available"){
						$('#'+option).selectpicker('val', result);
					}
				}
			});
		}
		str = str.replace(/[^0-9]+/g,'');
		$(obj).val(str);
	}
};


function checkaddress(){

	var status=true;
	var message = "";
	if($('#d').val() == ''){
		message += "Delivery State Not Chosen.<br>";
	}else{
		d_state = $('#d').val();
	}

	if($('#c').val() == ''){
		message += "Collection State Not Chosen.<br>";
	}else{
		c_state = $('#c').val();
	}


	if($('#cp').val().trim().length==5 && $('#dp').val().trim().length==5){

		if(message == ""){

			$.ajax({
				type  : "post",
				url : "http://secure.easyparcel.my/pass/?ac=checkPostcode",
				async : false,
				data : {
					cpostcode : $('#cp').val(),
					cstate : c_state,
					dpostcode : $('#dp').val(),
					dstate : d_state
				},
				success : function(result){
					if(result == true){
						status=true;
					}else{
						message += result;
						status=false;
					}
				},
				fail : function(result){
					message += "Something Went Wrong. Please Try Again. If Problem Persist, Please Contact Our Customer Service.<br>";
					status=false;
				}
			});

		}
	}
	else if($('#cp').val().trim().length!=0 || $('#dp').val().trim().length!=0)
	{
		if($('#cp').val().trim().length!=5 && $('#cp').val().trim().length!=0)
		{
			message += "Collection Postcode Does Not Match The Standard.<br>";
			status=false;
		}
		else if($('#dp').val().trim().length!=5 && $('#dp').val().trim().length!=0)
		{
			message += "Delivery Postcode Does Not Match The Standard.<br>";
			status=false;
		}

	}


	if(message != ""){
		swal({
			title: 'Oops',
			type: 'error',
			html: '' + message,
			confirmButtonColor: '#4e97d8'
			})
	}

	return status;
}


function checkaddressint(){
	var status=true;
	var message = "";
	if($('#id').val() == ''){
		message += "Collection State Not Chosen.<br>";
	}else{
		d_state = $('#id').val();
	}

	if($('#ic').val() == ''){
		message += "Deliver Country Not Chosen.<br>";
	}else{
		c_state = $('#ic').val();
	}


	if($('#icp').val().trim().length==5 && $('#idp').val().trim().length==5){

		if(message == ""){

			$.ajax({
				type  : "post",
				url : "http://secure.easyparcel.my/pass/?ac=checkPostcode",
				async : false,
				data : {
					cpostcode : $('#icp').val(),
					cstate : c_state,
					dpostcode : '',
					dstate : ''
				},
				success : function(result){
					if(result == true){
						status=true;
					}else{
						message += result;
						status=false;
					}
				},
				fail : function(result){
					message += "Something Went Wrong. Please Try Again. If Problem Persist, Please Contact Our Customer Service.<br>";
					status=false;
				}
			});

		}
	}
	else if($('#icp').val().trim().length!=0 || $('#idp').val().trim().length!=0)
	{
		if($('#icp').val().trim().length!=5 && $('#icp').val().trim().length!=0)
		{
			message += "Collection Postcode Does Not Match The Standard.<br>";
			status=false;
		}

	}


	if(message != ""){
		swal({
			title: 'Oops',
			type: 'error',
			html: '' + message,
			confirmButtonColor: '#4e97d8'
			})
	}

	return status;
}


                        </script>
                    </div>
                    <ol class="carousel-indicators hidden-xs hidden-sm">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    </ol>
                    <div class="visible-xs visible-sm slider-static"></div>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner hidden-xs hidden-sm">
                        <div class="item">
                            <div class="sliders slider-9">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15; top: 50px;">
                                        <h3 style="margin-bottom: 0px; color:#ffffff;">What's New &amp; Awesome in</h3>
                                        <h1 style="color:#f69;"><strong>EasyParcel v5.0?</strong></h1>
                                        <a href="http://www.easyparcel.my/blog/announcement/easyparcel-v5-0-is-out-new-awesome-features-is-here/" target="_blank" class="btn btn-primary btn-lg"><i class="epi-info" style="font-size: 18px;"></i> Find Out More </a>
                                    </div>
                                    <div class="col-xs-7 padding-left-off" style="margin-left: -145px;top: 20px;"> <img src="assets/EasyParcel/v5.png" height="380px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="sliders slider-7">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h3 style="margin-bottom: 0px; color:#4d4d4d;">Book For</h3>
                                        <h1 style="color:#4d4d4d;">INTERNATIONAL<br>DELIVERY TODAY!</h1>
                                        <a href="http://www.easyparcel.my/blog/announcement/international-delivery-launched-today/" target="_blank" class="btn btn-primary btn-lg"><i class="epi-info" style="font-size: 18px;"></i> Find Out More </a>
                                    </div>
                                    <div class="col-xs-7 padding-left-off" style="margin-left: -375px;top: 120px;"> <img src="assets/EasyParcel/international_city.png" height="430px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliders slider-6">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h1 style="color: #f69; margin-bottom: 0px;">Send Faster <br> Send On-Demand</h1>
                                        <img src="assets/EasyParcel/On_demand_logo.png" width="220px">
                                        <h4>Get Shipments Delivered In Just Few Hours</h4>
                                        <br>
                                        <a href="http://www.easyparcel.my/blog/announcement/send-faster-send-demand/" target="_blank" class="btn btn-primary btn-lg"><i class="epi-info" style="font-size: 18px;"></i> Learn More </a>
                                    </div>
                                    <div class="col-xs-7 padding-left-off" style="margin-left:-80px"> <img src="assets/EasyParcel/On_demand_bg.png" height="450px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliders slider-1">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h1>
                                            Have Something <br>
                                            To Deliver?
                                        </h1>
                                        <h4>Just book online, relax and your chosen courier will pick up from you!</h4>
                                        <br>
                                        <h3 style="color: #fff;"><i class="epi-cube" style="background-color: #4e97d8; border-radius: 50%; padding: 8px 6px; font-size: 18px;"></i> <a href="http://secure.easyparcel.my/pass/?pg=Quote" style="color: #fff;">Send A Parcel</a></h3>
                                    </div>
                                    <div class="col-xs-7 padding-left-off" style="margin-left:-210px"> <img src="assets/EasyParcel/slider-adam2.png" height="415px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliders slider-2">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h1>Ship Within Malaysia <br> From <span style="color">RM6</span> Nett </h1>
                                    </div>
                                    <div class="col-xs-6 padding-left-off" style="margin-left:-570px"> <img src="assets/EasyParcel/slider-adam3.png" height="415px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliders slider-3">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-6 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h1>Let Us Come To You </h1>
                                        <h4>We provide free pick up from your doorstep</h4>
                                    </div>
                                    <div class="col-xs-6 padding-left-off" style="margin-left:-570px"> <img src="assets/EasyParcel/slider-adam4.png" height="415px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="sliders slider-4">
                                <div class="container carousel-caption hidden-sm hidden-xs">
                                    <div class="col-xs-5 space padding-right-off" style="position: relative; z-index: 15;">
                                        <h1>We're Compatible <br> With Your Online <br> Shopping Cart</h1>
                                        <h4>Get orders from your online shopping cart pushed to us auto-magically.</h4>
                                        <br>
                                        <h3 style="color: #fff;"><i class="epi-link" style="background-color: #4e97d8; border-radius: 50%; padding: 8px 6px; font-size: 18px;"></i> <a href="http://secure.easyparcel.my/pass/?pg=BulkDeliveryTool" style="color: #fff;">Bulk Delivery Tool</a></h3>
                                    </div>
                                    <div class="col-xs-7 padding-left-off"> <img src="assets/EasyParcel/slider-adam5.png" height="415px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control hidden-xs hidden-sm" href="http://easyparcel.my/#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control hidden-xs hidden-sm" href="http://easyparcel.my/#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </div>
            </section>
            <!--slider-->
            <section class="visible-xs visible-sm" style="background-color: #1EE2FF; padding: 10px 0px;">
                <a href="http://bit.ly/RM6promo" target="_blank"><img src="assets/EasyParcel/rm6-adam.gif" width="100%"></a>
            </section>
            <section class="pink-bg signup-bar hidden-xs">
                <div class="container">
                    <div class="col-md-10 col-xs-10">
                        <h3>Sign up now &amp; get RM25 credit FREE to send your parcel! <span class="hidden-sm">FREE sign up!</span></h3>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <a href="http://secure.easyparcel.my/pass/?pg=UserSignUp" class="btn btn-primary pull-right">Sign Up Now</a>
                    </div>
                </div>
            </section>
            <a href="http://secure.easyparcel.my/pass/?pg=UserSignUp" style="color:#fff;">
            </a><section class="pink-bg signup-bar visible-xs" style="min-height: 60px;">
                <a href="http://secure.easyparcel.my/pass/?pg=UserSignUp" style="color:#fff;">
                </a><div class="container">
                    <a href="http://secure.easyparcel.my/pass/?pg=UserSignUp" style="color:#fff;">
                        <div class="col-md-10 col-xs-10">
                            <h3>Sign up now &amp; get RM25 credit FREE to send your parcel! <span class="hidden-sm">FREE sign up!</span></h3>
                        </div>
                    </a><div class="col-md-2 col-xs-2">
                        <a href="http://secure.easyparcel.my/pass/?pg=UserSignUp" style="color:#fff;"><i class="epi-right-open" style="font-size: 22px; color: #fff; margin-top: 10px; position: absolute;"></i></a>
                    </div>
                </div>
            </section>
            <section class="steps-bg">
                <div class="container space-small">
                    <div class="col-sm-4 col-xs-12 steps padding-off">
                        <div class="col-md-4 col-sm-12 col-xs-4"><img src="assets/EasyParcel/compare.png" class="fade-in-down invisible"></div>
                        <div class="col-md-8 col-sm-12 col-xs-8">
                            <h3><span style="color:#f69; font-size:36px;">1.</span> Compare Prices</h3>
                            <p>Use our price comparison engine to find the best prices today.</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4 title-hr visible-xs">
                        <p class="hr-home"></p>
                    </div>
                    <div class="col-sm-4 col-xs-12 steps padding-off">
                        <div class="col-md-4 col-sm-12 col-xs-4"><img src="assets/EasyParcel/send.png" class="fade-in-down invisible"></div>
                        <div class="col-md-8 col-sm-12 col-xs-8">
                            <h3><span style="color:#f69; font-size:36px;">2.</span> Send Parcels</h3>
                            <p>Send your parcel with our partners, we'll even come and collect it.</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4 title-hr visible-xs">
                        <p class="hr-home"></p>
                    </div>
                    <div class="col-sm-4 col-xs-12 steps-last padding-off">
                        <div class="col-md-4 col-sm-12 col-xs-4"><img src="assets/EasyParcel/save.png" class="fade-in-down invisible"></div>
                        <div class="col-md-8 col-sm-12 col-xs-8">
                            <h3><span style="color:#f69; font-size:36px;">3.</span> Save Money</h3>
                            <p>Our customers are saving money every time they use EasyParcel!</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="light-bg stats-bg">
                <div class="container space">
                    <div class="container-fluid">
                        <div class="col-md-4 hidden-sm col-xs-12"><img src="assets/EasyParcel/quote-book.png" class="img-responsive"></div>
                        <div class="col-md-8 col-sm-12 join-happy-members center-space-md">
                            <h1>Total Number of Quotes</h1>
                            <h3>Wohoo! No More Unknown Delivery Rates</h3>
                            <p>Check out the magical numbers that motivate us to work harder and offer the best to our clients. Register an account today and start saving from every delivery you make.</p>
                            <h1>
                                <div class="odometer odometer-auto-theme"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></div>

                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pink-bg">
                <div class="container space quick-reg">
                    <div class="col-xs-12 col-md-8 quick-reg-form">
                        <h1>Free Registration</h1>
                        <h4>Register an account today and start saving from every delivery you make</h4>
                        <form action="http://secure.easyparcel.my/pass/?pg=UserSignUp" method="post">
                            <div class="col-md-6 col-sm-4 col-xs-12 res-email padding-left-off">
                                <input class="form-control" type="text" placeholder="Email" name="email" onblur="checkEmail(this,true)">
                            </div>

                            <div class="col-md-6 col-sm-8 col-xs-12 padding-left-off">
                                <input class="btn btn-lg btn-primary" align="middle" type="Submit" value="Sign Up Now">
                            </div>
                        </form>
                        <p>Wait no more, sign up is FREE and you get RM25. Don't miss out!</p>
                    </div>
                </div>
            </section>
            <div id="dialog"></div>
            <script>
function SignUp(){
	ValidateResult = ValidateSignUp();
	var email = $(".quick-reg-form [name=txt_email]").val();
	email = email.trim();
	if(ValidateResult==true){
		return true;
	}else{
		window.exist = 0;
		swal({
			title: 'Oops',
			type: 'error',
			html: '' + ValidateResult,
			confirmButtonColor: '#4e97d8'
			})
		return false;
	}
}

function checkEmail(obj,check){
	var pass = true;
	var email = $(".quick-reg-form [name=txt_email]").val();
	email = email.trim();

	if(General.isTextEmpty($(obj)) || !General.validateEmail(email)){
		doFail(obj);
		window.outcome = 0;
	}else{
		doPadding(obj);
		if(check){
			$.ajax({
				type: "POST",
				url: "http://easyparcel.my/?ac=CheckUserEmail",
				data : {
					email : email
				},
				async : false,
				success:function(response){
					if(response == "pass"){
						doPass(obj);
						window.outcome = 2;
					}else{
						doFail(obj);
						window.outcome = 1;
					}
				}
			});
		}
	}
}

function checkEmpty(obj){
	if(!General.isTextEmpty($(obj))){
		doPass(obj);
	}else{
		doFail(obj);
	}
}

function hasValidate(obj){
	if($(obj).hasClass("pass") || $(obj).hasClass("padding") || $(obj).hasClass("fail"))
		return true;
	else
		return false;
}

function doPass(obj){
	$(obj).addClass("pass");
	$(obj).removeClass("padding");
	$(obj).removeClass("fail");
	$(obj).css("border-color","#0F0");
}

function doPadding(obj){
	$(obj).addClass("padding");
	$(obj).removeClass("pass");
	$(obj).removeClass("fail");
	$(obj).css("border-color","#F90");
}

function doFail(obj){
	$(obj).addClass("fail");
	$(obj).removeClass("padding");
	$(obj).removeClass("pass");
	$(obj).css("border-color","#F00");
}

function ValidateSignUp(){
	var email = $(".quick-reg-form [name=txt_email]");
	var returnResult = "";
	checkEmail(email,true);
	if(window.outcome == 0){
		returnResult += "Please Insert A Valid Email Into The Email Field.";
	}else if(window.outcome == 1){
		returnResult += "Another User With This Email Already Exists. Maybe It's Your Evil Twin. Spooky. If It Is You, Kindly Log In With The Email Or Click <br><a href='http://secure.easyparcel.my/pass/?pg=MemberForgotPassword'><b><u>HERE</u></b></a> To Reset A New Password.";;
	}else if(window.outcome == 2){
		returnResult = true;
	}

	return returnResult;
}
            </script>
            <script>
/*
$(document).ready(function() {
    $(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
});
*/
(function ($) {
	var $window = $(window),
    _watch = [],
    _buffer;

	function test($el) {
		var docViewTop = $window.scrollTop(),
		docViewBottom = docViewTop + $window.height(),
		elemTop = $el.offset().top,
		elemBottom = elemTop + $el.height();
		return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom)&& (elemBottom <= docViewBottom) &&  (elemTop >= docViewTop) );
   }

	$window.on('scroll', function ( e ) {
		if ( !_buffer ) {
			_buffer = setTimeout(function () {
				checkInView( e );
				_buffer = null;
			}, 300);
		}
	});

   function checkInView( e ) {
      $.each(_watch, function () {
        if ( test( this.element ) ) {
            if ( !this.invp ) {
               this.invp = true;
				if ( this.options.scrolledin ){
                   this.options.scrolledin.call( this.element, e );
				}
				this.element.trigger( 'scrolledin', e );
            }
        }
      });
	}

	function monitor( element, options ) {
		var item = { element: element, options: options, invp: false };
		_watch.push(item);
		return item;
	}

   function unmonitor( item ) {
      for ( var i=0;i<_watch.length;i++ ) {
         if ( _watch[i] === item ) {
            _watch.splice( i, 1 );
            item.element = null;
            break;
         }
      }
      console.log( _watch );
   }

   var pluginName = 'scrolledIntoView',
       settings = {
         scrolledin: null,
         scrolledout: null
       }


   $.fn[pluginName] = function( options ) {

         var options = $.extend({}, settings, options);

         this.each( function () {

               var $el = $(this),
                   instance = $.data( this, pluginName );

               if ( instance ) {
                  instance.options = options;
               } else {
                  $.data( this, pluginName, monitor( $el, options ) );
                  $el.on( 'remove', $.proxy( function () {

                        $.removeData(this, pluginName);
                        unmonitor( instance );

                     }, this ) );
               }
            });

         return this;
      }


})(jQuery);

$('.odometer').scrolledIntoView().on('scrolledin', function () { getQuoteCount(); });

$(document).ready( function() {
    $("#list-fix").hide(); //hide your div initially
	var topOfOthDiv = $(".signup-bar").offset().top;
    $(window).scroll(function() {
        if($(window).scrollTop() > topOfOthDiv) { //scrolled past the other div?
            $("#list-fix").show(); //reached the desired point -- show div
        }
		if($(window).scrollTop() < topOfOthDiv) { //scrolled past the other div?
            $("#list-fix").hide(); //reached the desired point -- show div
        }
    });
});
$('#testimonialCarousel').carousel({
	interval: 2000,
	pause: true
});

function getQuoteCount(){
	AjaxGetQuoteCount();
	setInterval(function(){
		AjaxGetQuoteCount();
	}, 10000);
}

function AjaxGetQuoteCount(){
	getQuote = true;
	$.ajax({
		type : "post",
		url : "http://easyparcel.my/?ac=doQuoteCount",
		data : {getQuote : getQuote},
		success : function(result){
			if(result != "fail"){
				result = result;
			}else{
				result = 0;
			}
			$('.odometer').html(result);
		}
	});
}
            </script>
        </div>

        //@*<div class="row">
            //<div class="col-sm-8">
                //@Html.Partial("_trackTrace")
            //</div>
        //</div>*@

            @*---END BREAK--*@

            <div id="mainTrackResult"></div>
            <footer id="masterFooter" class="page-footer">
                <div class="container">
                    <div class="footer-inner">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                            <ul class="links">
                                <li class="title-link">Overview</li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Prohibited Item List</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                            <ul class="links">
                                <li class="title-link">Quick Guide</li>
                                <li><a href="#">Sign Up An Account</a></li>
                                <li><a href="#">Place An Order</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                            <ul class="links">
                                <li class="title-link">My Account</li>
                                <li><a href="#">Log In</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Edit Your Profile</a></li>
                                <li><a href="#">My Order</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 footer-link-height">
                            <ul class="links">
                                <li class="title-link">Tools</li>
                                <li><a href="#">Send A Parcel</a></li>
                                <li><a href="#">Track &amp; Trace</a></li>
                                <li><a href="#">Volumetric Calculator</a></li>
                                <li><a href="#">Widgets</a></li>
                                <li><a href="#">Bulk Delivery Tool</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 footer-link-height social-links">
                            <ul class="links" style="padding-bottom: 5px;">
                                <li class="title-link">Follow Us</li>
                                <li style="float: left; margin-right: 10px;"><a href="https://www.facebook.com/easyParcel.my/" target="_blank"><i class="epi-facebook"></i></a></li>
                                <li style="float: left; margin-right: 10px;"><a href="https://twitter.com/easyparcel" target="_blank"><i class="epi-twitter"></i></a></li>
                                <!--<li style="float: left; margin-right: 10px;"><a href="https://www.youtube.com/channel/UCnEO_TBo3zl-bNl93WSzT0A" target="_blank"><i class="epi-youtube-play"></i></a></li>
                            <li style="float: left; margin-right: 10px;"><a href="https://www.pinterest.com/easyparcel/" target="_blank"><i class="epi-pinterest-circled"></i></a></li>
                            <li style="margin-right: 10px;"><a href="https://www.instagram.com/easyparcel.my/" target="_blank"><i class="epi-instagramm"></i></a></li>-->
                            </ul>
                            <hr style="margin: 15px 0px;border-color: #5d5d5d;" />
                        </div>
                    </div>
                </div>
            </footer>
            <div class="page-copyright">
                <div class="container">
                    <p class="text-center small">
                        Created &amp; Powered By EasyParcel Sdn Bhd (1028666-H). GST No: 000224432128.<br />
                        All Copyrights Reserved © 2016 - Version: 5.0
                    </p>
                </div>
            </div>
            <div id="popupbox" class="modal fade in">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Loading...</h3>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
            <div class="list-fix hidden-xs" id="list-fix" style="display: none;">
                <div class="wrapper">
                    <span id="top-link-block"> <a href="#top" onclick="$(&#39;html,body&#39;).animate({scrollTop:0},&#39;slow&#39;);return false;" style="color: #fff;"> <i class="epi-up-big"></i></a> </span>
                    <div class="tooltip">Back To Top</div>
                </div>
            </div>
            <!--[:page_tips:]-->
            <script>
                /*
                if ( ($(window).height() + 100) < $(document).height() ) {
                    $('#top-link-block').removeClass('hidden').affix({
                        offset: {top:100}
                    });
                }
                */

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                $('.list-fix').viewportChecker({
                    classToAdd: 'visible animated bounceIn',
                    removeClassAfterAnimation: true,
                    offset: "50%"
                });

                $('.fade-in-down').addClass("invisible").viewportChecker({
                    classToAddForFullView: 'visible animated fadeInDown',
                    classToRemove : 'invisible',
                    removeClassAfterAnimation: true,
                    offset: "20%"
                });
            </script>
            <div class="swal2-container"><div class="swal2-overlay" tabindex="-1"></div><div class="swal2-modal" style="display: none" tabindex="-1"><div class="swal2-icon swal2-error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="swal2-icon swal2-question">?</div><div class="swal2-icon swal2-warning">!</div><div class="swal2-icon swal2-info">i</div><div class="swal2-icon swal2-success"><span class="line tip"></span> <span class="line long"></span><div class="placeholder"></div> <div class="fix"></div></div><img class="swal2-image" /><h2></h2><div class="swal2-content"></div><input class="swal2-input" /><select class="swal2-select"></select><div class="swal2-radio"></div><label for="swal2-checkbox" class="swal2-checkbox"><input type="checkbox" id="swal2-checkbox" /></label><textarea class="swal2-textarea"></textarea><div class="swal2-validationerror"></div><hr class="swal2-spacer" /><button class="swal2-confirm">OK</button><button class="swal2-cancel">Cancel</button><span class="swal2-close">×</span></div></div>
        </div></body>
</html>