@{ Layout = "~/Views/Home/_Layout.cshtml"; }

@Html.Partial("_headerbar")
@Html.Partial("_calcvol")
@Html.Partial("_sidebarmobile")
<div>
    <!--slider-->
    @Html.Partial("_slider")
    <!--slider-->
</div>