@{
    Layout = "~/Views/OstAccount/_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <h1>Terms And Conditions</h1>
    <div class="page-header">
        <h2 style="color:#555"><strong>Main Terms and Conditions of Service (PL1)</strong></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="portlet-body">
                <p style="color:#555">
                    The followings are the terms and conditions entered between you, as the Sender and Pos Malaysia Berhad ("PMB"). By using PMB's service, the Sender is agreeing that the Terms and Conditions shall apply from the time that PMB accepts the Item and the Sender shall be deemed to have accepted the terms and conditions herein, with or without signing the Sender Declaration on PL1 Form. "Items" means all documents or parcels which may be carried by any means that PMB chooses.
                </p>
                <br />
                <div style="color:#555">
                    <ol>
                        <li>
                            <strong>Posting of Original and/or Official documents</strong>
                            <br />
                            Posting of original and/or official documents, including but not limited to any national identity registration card, passport, birth / marriage certificate, cheque book, road tax, academic certificates and/or other original and/or official documents, are sent at the Sender's own risk. PMB shall not be liable in any manner whatsoever for the loss and/or damage of any original and/or official documents.
                        </li>
                        <li>
                            <strong>Posting of Dangerous Goods and Prohibited Items</strong>
                            <br />
                            Posting of any Dangerous Goods (as defined by the International Air Transport Association Dangerous Goods Regulations (DGR) which includes any amendments, updates or supplements that may be issued from time to time) or Prohibited Items (means any goods and/or items that are prohibited by the laws, regulations and/or authority of the country of origin and/or country of destination) are totally prohibited. PMB reserves the right to amend or change the classes' of goods or items which are categorized as Dangerous Goods or Prohibited Items at any time without prior notice. PMB reserves the right to refuse posting of Items at any time and at its sole and absolute discretion if PMB deems or considers that the contents or any part of the contents of the said item is dangerous or prohibited good or item whether or not the said posting has been accepted by PMB. PMB shall not be liable in any manner whatsoever in the event PMB decides not to accept posting and/or to continue with posting and/or if any posting is returned, destroyed or detained by any authority at the country of origin and/or country of destination.
                        </li>
                        <li>
                            <strong>Exception of posting prohibited items</strong>
                            <br />
                            Posting of any Dangerous Goods and/or Prohibited Items would only be allowed if (i) all the necessary and required approvals, permissions and clearances have been obtained from all relevant authorities from both the country of origin and the country of destination, (ii) the posting of the Dangerous Goods and/or Prohibited Items have been declared and accompanied with all original supporting documents evidencing the said approval, permission and clearance. PMB reserves the right to refuse posting at any time at its sole and absolute discretion if PMB deems or considers that the declaration and/or the accompanying supporting documents are incomplete, insufficient and/or inadequate, whether or not the said posting has been accepted by PMB. PMB shall not be liable in any manner whatsoever in the event PMB decides not to accept posting and/or to continue with posting and/or if any posting is returned, destroyed or detained by any authority at the country of origin and/or country of destination.
                        </li>
                        <li>
                            <strong>Sender's obligation</strong>
                            <br />
                            The Sender is responsible to ensure that the item posted has been labelled and addressed clearly and legibly and wrapped neatly, securely and safely for transportation and able to withstand the handling of courier. PMB will not be liable in any manner whatsoever if it is discovered that the item posted was lost, damaged and/or delayed due to the failure of the Sender in ensuring that item posted has been labelled and addressed clearly and legibly and wrapped neatly, securely and safely notwithstanding the acceptance of PMB for the posting of the item. The Sender is solely responsible and liable for all charges, costs and expenses including but not limited to transportation charges and possible surcharges, customs, duties, assessments including any fees related to our prepayment of the same, government penalties and fines, taxes and lawyers fee's and legal costs and any costs which may be incurred in returning the shipment or warehousing, whilst pending disposition of the same.
                        </li>
                        <li>
                            <strong>Declaration of the content</strong>
                            <br />
                            Contents and value of items must be declared in a correct and complete form and manner. PMB reserves the right to refuse any posting charge, refund or compensation in the event any information in the consignment note is misleading, incomplete, illegible, confusing, inconsistent with the contents and actual value of the item being declared during posting.
                        </li>
                        <li>
                            <strong>Insurance</strong>
                            <br />
                            Optional insurance coverage offered by PMB is available to the Sender subject to the Sender purchasing the same and paying the full insurance premium. The said insurance coverage is governed by the terms and conditions stated in the insurance coverage in addition to the terms and conditions set forth herein. Should the Sender choose to purchase insurance coverage offered by PMB, the Sender shall ensure that the content of item must be declared in a complete and accurate form and manner. PMB shall not be liable for any insurance claim where inconsistent, inaccurate and incomplete information is given during the time of posting by the Sender. The insurance coverage purchased with PMB is strictly limited to the damage or loss or partial loss of the item and subject to the value sum insured or any value with prior agreement from insurance company. Insurance coverage shall not be liable for any indirect, special, incidental, or consequential loss resulted from delay of delivery (if any).
                        </li>
                        <li>
                            <strong>Delayed Delivery</strong>
                            <br />
                            PMB will make every reasonable effort to deliver items in accordance with PMB's transit time. However, these delivery schedules are not binding and do not form part of the contract. PMB is not liable for any damages, costs or loss caused by delays.
                        </li>
                        <li>
                            <strong>Circumstances beyond PMB's control</strong>
                            <br />
                            PMB shall not be liable for any loss for lost, damage, failure or delayed delivery caused by matters or circumstances outside and/or beyond the control and/or power of PMB. These include but not limited to: (a) act of God, disaster such as earthquake, hurricane, flood and others, (b) war, embargo, aeroplane accident, (c) fire or robbery (d) electrical or magnetic damage to, or erasure of, electronic or photographic images, data or recordings; any defect or characteristic related to the nature of the item, even if known to PMB and (e) Items that are seized or detained by the Customs department or any other relevant authority of the country of origin and / or country of destination. The Sender is solely responsible for any tax, duty, fines or penalties that imposed by the Customs Department or any other relevant authority of the country of origin and / or country of destination.
                        </li>
                        <li>
                            <strong>Consequential damage</strong>
                            <br />
                            PMB shall not be liable for any consequential damages, including but not limited loss arising from loss of contract, profit, revenue, income whether such loss or damage is special or indirect and even if the risk of such loss or damage was brought to PMB's attention before or after acceptance of the items by PMB. or other indirect cost, caused by any delay, damage or lost of content in the Item (whole or part of the content) or the Item.
                        </li>
                        <li>
                            <strong>Complaint and/or Claim for Damaged and/or Partially Lost of Contents</strong>
                            <br />
                            The Recipient must lodge complain and/or claim for any damaged and/or partial loss of contents or Items to the postal partner at the country of destination. PMB reserves the right not to entertain any claim from the Sender if there is no complaint lodged by the Recipient to postal partner at the country of destination. Claim for damaged and/or partial loss of contents must be submitted by the Sender to PMB as per conditions as stipulated in Clause 11 of these terms and conditions.
                        </li>
                        <li>
                            <strong>Complaint and/or Claim</strong>
                            <br />
                            Any complaint and/or claim for damaged/ partial loss of contents/ lost Item must be made in writing to PMB within 30 days from the date of posting ("Complaint and/or Claim Deadline") and the complaint and/or claim must be submitted together with (a) proof of posting; (b) a copy of the Sender or recipient's official identification document. PMB shall be entitled not to entertain any complaint and/or claim received after the Complaint and/or Claim Deadline without any liability whatsoever to the Sender.
                        </li>
                        <li>
                            <strong>PMB's liability</strong>
                            <br />
                            Subject to Clause 9 above, PMB's liabilities are strictly limited to the following subject to whichever is the lower, (a) The actual value of the lost or damaged item; or (b) Maximum of RM100 for items containing document/contents weighing less than 1kg; or (c) Maximum of RM300 for merchandise weighing 1kg and more, provided that the merchandise rate were paid during the time of posting by the Sender; and (d) limited to 1 claim for 1 posted item only ("Maximum Liability Limit"). If the posting value exceeds PMB's Maximum Liability Limit, it is the Sender's sole responsibility to insure the posted item either through the optional insurance offered by PMB or any other third party insurance procured by the Sender.
                        </li>
                        <li>
                            <strong>Sender's Warranties and Indemnities</strong>
                            <br />
                            Sender shall indemnify and hold PMB harmless for any loss or damage arising out of Sender's failure to comply with any applicable laws or regulations and for Sender's breach of the following warranties and representations: (a) all information provided by Sender or its representatives is complete and accurate; (b) the Item is properly marked and addressed and packed to ensure safe transportation with ordinary care in handling; (c) all applicable customs, import, export and other laws and regulations have been complied with.
                        </li>
                        <li>
                            <strong>Severance</strong>
                            <br />
                            If any of the above clauses are not enforceable for any reason whatsoever, it would not prevent the validity and enforceability of the other Terms and Conditions herein.
                        </li>
                        <li>
                            <strong>Variation of Terms and Conditions</strong>
                            <br />
                            It is hereby agreed that the terms and conditions herein may be altered, varied, substituted and/or added to from time to time or at any time by PMB at its absolute discretion without prior notice. Such alteration, variation, substitution and / or addition shall take effect on the date on which PMB declares it to be effective.
                        </li>
                        <li>
                            <strong>Governing Laws</strong>
                            <br />
                            These Terms and Conditions of Service shall be governed by laws of Malaysia and shall be subject to the exclusive jurisdiction of the Malaysian Courts unless the Shipment is presented to PMB at a place outside the jurisdiction of the Malaysian courts in which case the laws of the country where the Shipment is presented to PMB shall be the governing law and the courts of the country where the Shipment is presented to PMB shall have jurisdiction and the Sender shall irrevocably submit to the jurisdiction of such courts.

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h2 style="color:#555"><strong>Main Terms and Conditions of Service (PL1A)</strong></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="portlet-body">
                <p class="block" style="color:#555">
                    Following are the terms and conditions of service as agreed between sender and Pos Laju for using Pos Laju services, regardless whether the space intended for signature on the Sending Agreement form PL1A is signed or otherwise.
                </p>
                <br />
                <div style="color:#555">
                    <ol>
                        <li>
                            <strong>Posting of Important Documents</strong>
                            <br />
                            Posting of original copy of important documents such as, but not limited to the following; MyKad/identification card, passport, birth/marriage certificate, check book, road tax, academic certificate or other important documents are at the risk of the sender. Pos Laju’s liability for any loss or direct or indirect costs arising from loss or damage to such documents is limited as mentioned in Article 14 of this Terms and Conditions of Service.
                        </li>
                        <li>
                            <strong>Items Prohibited for Shipment</strong>
                            <br />
                            Posting any items that are classified as dangerous goods and items prohibited by Pos Laju, the authorities, or the country of destination, is strictly prohibited. Please refer to the website for information www.poslaju.com.my list of dangerous items and items prohibited to be notified before posting.
                            <br />
                            Pos Laju reserves the right to make amendments to the type of items that are classified as dangerous goods or prohibited items. Pos Laju reserves the right to refuse posting if the content or part of the item is found to be dangerous goods or prohibited items. Pos Laju will not be liable for any claims or reimbursement of postage charges, cost of loss, direct or indirect damages or losses, whether posted or accepted for posting, intentionally or unintentionally.
                        </li>
                        <li>
                            <strong>Exemptions of Prohibited Items</strong>
                            <br />
                            Posting of an item categorized as dangerous goods or prohibited item may be acceptable only when enclosed with complete and valid related documents (example: Dangerous Goods and Prohibited Item Declaration Form) and is declared as valid. The sender is responsible for ensuring that the posting is enclosed with the complete related documents. Pos Laju will not be liable for any claims or reimbursement of postage charges, cost of loss, direct or indirect damages or losses, whether posted or accepted for posting, intentionally or unintentionally.
                        </li>
                        <li>
                            <strong>Sender’s Liability</strong>
                            <br />
                            The sender is solely responsible for any postal item such as, but not limited to the following; liquids, creams or cosmetics in containers with the risk of breaking, as well as any form of perishable foods and / or could cause harm to other items. Pos Laju will not be liable for any claims or reimbursement of postage charges, cost of loss, direct or indirect damages or losses, whether posted or accepted for posting, intentionally or unintentionally.
                            <br />
                            Sender is also fully responsible for any postal item made of glass, porcelain, ceramic or fragile / easily breakable decorative items. Pos Laju will not be liable for any claims of damages or indirect losses unless the item has been insured through Pos Laju and packaged and labelled properly.
                        </li>
                        <li>
                            <strong>Packaging of Items for Posting </strong>
                            <br />
                            The sender is responsible for ensuring that item sent is properly labelled on every surface and packed or wrapped perfectly and safely, and meets the safety requirements to ensure that the content of package is protected during normal operations throughout the delivery process. Pos Laju will not be responsible for any damage or loss resulting from improper packaging. Pos Laju is not responsible for claims which fails to prove or authenticate that the damage of the item was physically caused by Pos Laju.
                        </li>
                        <li>
                            <strong>Declaration of Content for Posting</strong>
                            <br />
                            The content of the item for posting and the actual value of the content must be declared completely and correctly. Pos Laju will not be liable for any claim or compensation of posting charges if the declaration of declaration of content and value of content is false, incomplete, misleading or contradictory during the posting of the item.
                        </li>
                        <li>
                            <strong>Insurance</strong>
                            <br />
                            Senders who choose insurance coverage which is offered optionally by Pos Laju must declare the insured content and the value of content completely and certainly. Pos Laju will not be responsible for any insurance claims that contradict from what is declared during posting. Insurance coverage is limited to damage or loss of content or part of the content by the value that has been insured, or any value determined by the insurer. The insurance coverage does not bear any direct or indirect costs arising from delay in delivery.
                        </li>
                        <li>
                            <strong>Delivery Standard</strong>
                            <br />
                            Pos Laju will ensure that the items posted will be delivered in accordance with the delivery standards. However, this guarantee is subject to complete and accurate recipient address, and during working days only. Pos Laju is responsible for fulfilling deliveries to the address written by the sender in the consignment note. Successfully delivery is when the item is successfully delivered to the address written by the sender. Pos Laju not be liable for any loss, damage or item not received which occurs after delivery was successfully made to the address written by the sender.
                            <br />
                            Items that failed to be delivered during the first delivery attempt will be left with a notification. Second delivery attempt will be made at the request of the recipient, or the recipient can make a collection at any Pos Laju outlet or post office as stated in the notice. Items will be returned to the sender if there are no claims or fail delivery within 14 days from the date of first delivery attempt. Pos Laju will not be liable of any cost of damage or loss, whether directly or indirectly arising in storage of items during the waiting period.
                        </li>
                        <li>
                            <strong>Money Back Guarantee</strong>
                            <br />
                            Pos Laju guarantees compensation of posting charges if the item is not delivered according to Pos Laju delivery standards. This guarantee is limited and subject to the following conditions:
                            <ol>
                                <li>Pos Laju items posted from a Pos Laju centre or direct delivery by Pos Laju only,</li>
                                <li>Limited to Next Day Delivery service only,</li>
                                <li>A complete and accurate recipient information on PL1A Form,</li>
                                <li>Delivery standard subject to working days only,</li>
                                <li>Limited to the first delivery attempt only,</li>
                                <li>Pos Laju not be liable for any damages or indirect costs arising due to delay,</li>
                                <li>Pos Laju is not responsible for delays caused by circumstances beyond its control as described in Article 10,</li>
                                <li>Pos Laju reserves the right to route the shipment to its destination. Thus, Pos Laju will not responsible for delays caused by the change in the route.</li>
                            </ol>
                            Only service surcharge will be refunded for any delay in delivery which does not meet the delivery standard for Putrajaya Express service, Same Day Delivery and Time Certain Service (Domestic).
                        </li>
                        <li>
                            <strong>Circumstances Beyond Pos Laju’s Control</strong>
                            <br />
                            Pos Laju will not be liable for any loss, damage, failure or delay in delivery caused by the following, but not limited, to; (a) Natural disasters such as earthquakes, hurricanes, floods, etc., (b) Circumstances beyond our control such as war, embargo, plane crashes or plane’s technical failure, (c) Out of control fire or robbery occurred on the premises of Pos Laju or Pos Malaysia, despite the security measures taken, (d) items detained or seized by the Customs or any other authority. Sender is responsible for any taxes, duties or penalties imposed by Customs or any other authority. Pos Laju does not act as sender’s representative in dealing with the Customs or any authority detaining or seizing the shipped items.
                        </li>
                        <li>
                            <strong>Exclusion of Pos Laju’s Liabilities </strong>
                            <br />
                            Pos Laju will not be liable for following but not limited to; (a) indirect loss (b) consequential damages (c) other indirect costs (d) loss of contract opportunities, profits, income or loss incurred by the sender following delay, damage or loss of content or part of content, whether the content of the item is known or not known by Pos Laju during posting, or due to negligence by Pos Laju.
                        </li>
                        <li>
                            <strong>Complaints on Damages </strong>
                            <br />
                            Any damage to item delivered by Pos Laju must be reported to Pos Laju within 48 hours upon receiving said item. Pos Laju will not entertain any claims submitted by any party if the complaints or claims are made after 48 hours of receiving said item. The item allegedly damaged under Pos Laju’s control must be physically proven during issuance of complaint so that proper inspection and verification can be done by Pos Laju. Pos Laju reserves the right to refuse any claims if the claimant fails to prove the damage occurred under the purview of Pos Laju.
                            <br />
                            Pos Laju will bear the cost of shipping back the defective Pos Laju item to the sender (if necessary). On the other hand, if it fails to be proven defective under the control of Pos Laju, postal charges will be charged for returning the item to the sender.
                        </li>
                        <li>
                            <strong>Claims of Compensation</strong>
                            <br />
                            Any claims for compensation for loss or damage to Pos Laju can only be made by the sender or representative agreed in writing by the sender. Claims for damages must, (a) be claimed within 30 days of the date of posting. Pos Laju will not entertain claims submitted after a period of 30 days from the date of posting, (b) submitted in writing with proof of posting and a copy of valid identification, (c) Surrendered to the nearest Pos Laju outlet.
                        </li>
                        <li>
                            <strong>Maximum Compensation and Claims </strong>
                            <br />
                            Pos Laju’s liability to claims for the cost of direct losses on damaged or lost items, damages or loss caused by delivery does not comply to the address written by the sender, and the loss or damage that occurred before the item is delivered to the address written by the sender, is limited to the following: (a) the actual amount of the loss or damage suffered, based on the content and the actual content declared on PL1A Form during posting or maximum RM100 for documents or parcels weighing less than 2kg, subject to the lower, (b) the actual amount of the loss or damages, based on the content and the actual content declared on PL1A Form during posting or maximum RM300 for documents or parcels that weigh the same and more than 2kg, subject to the lower, (c) Limit one claim per item per posting only and subject for whichever is higher but not exceeding the maximum limit of Pos Laju’s liability.
                            <br />
                            If the value exceeds the limits of liability of Pos Laju, the sender is responsible for insuring the postal item either through insurance offered by Pos Laju or any other insurance opted by the sender. If the sender does not have additional insurance protection, Pos Laju’s liability is limited and subject as described above.
                        </li>
                        <li>                            
                            If any of the above is invalid, it does not prevent other matters contained in these Terms and Conditions to prevail. All rules are subject to the matters contained in the Terms and Conditions set out above, but Pos Laju reserves the right to adopt other regulations enforced by Pos Malaysia although it is not specified in this Terms and Conditions. Please visit our website www.poslaju.com.my for further details on the terms and conditions set out above (if any).
                        </li>
                        <li>
                            Delivery status can be tracked & traced via our website <a href="http://www.poslaju.com.my">www.poslaju.com.my</a> or PosLine at 1-300-300-300. Any questions or complaints regarding Pos Laju items must be submitted within 30 days from the date of posting.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
