@{
    Layout = "~/Views/OstAccount/_Layout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h1>T&C - Terms And Conditions</h1>
    <br />
    <div class="row">
        <img src="~/images/Terma dan Syarat Poslaju PL1A-1-1.png" style="width: 100%;" />
    </div>
</div>
