@model Bespoke.Sph.Domain.SectionFormElement
@if (string.IsNullOrWhiteSpace(Model.Enable))
{
    Model.Enable = "true";
}
<h4 data-i18n="@Model.Label" data-bind="visible:@Html.Raw(Model.Visible)">@Model.Label</h4>

