@*BEGIN FOOTER*@
<div class="page-footer">
    <div class="page-footer-inner">
        @DateTime.Today.Year &copy; Pos Laju EziSend Pos Malaysia Berhad (229990-M) All Rights Reserved
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
@*END FOOTER*@