   <nav class="quick-nav">
            <a class="quick-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul>
                
                <li>
                    <a href="javascript:;" target="_blank" class="active">
                        <span>Check Shipping Rate</span>
                        <i class="fa fa-ship"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" target="_blank" class="active">
                        <span>Add Consignment</span>
                        <i class="icon-basket"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" target="_blank" class="active">
                        <span>Add Address</span>
                        <i class="icon-user"></i>
                    </a>
                </li>
            </ul>
            <span aria-hidden="true" class="quick-nav-bg"></span>
        </nav>