<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px" id="contact-group-list">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item">
                <a href="/ost#customer-home" class="nav-link">
                    <i class="fa fa-dashboard"></i>
                    <span class="title"> HOME </span>
                </a>
            </li>
            <!-- ko compose : {view : '_address-book-groups' }-->
            <!--/ko-->
        </ul>
        <div id="consignment-request-cart">
            <!-- ko compose : {view : '_consignment-request-cart' }-->
            <!--/ko-->
        </div>
        @if (Model.Designation == "No contract customer")
        {
            <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="nav-item">
                    <a class="nav-link" href="ost#consignment-requests-paid">
                        <i class="fa fa-file-text"></i>
                        <span class="title"> ORDERS </span>
                    </a>
                </li>
            </ul>
        }
        @if (Model.Designation == "Contract customer")
        {
            <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="nav-item">
                    <a class="nav-link" href="ost#consignment-requests-pickedup">
                        <i class="fa fa-file-text"></i>
                        <span class="title"> PICKUPS </span>
                    </a>
                </li>
            </ul>
        }
        <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fa fa-cog"></i>
                    <span class="title"> TOOLS </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="ost#consignment-requests-export-bulk" class="nav-link">
                            <i class="fa fa-file-excel-o"></i>
                            <span class="title"> Export Consignment </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>