<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px" id="contact-group-list">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
            </li>
            <li class="heading">
                <h3 class="uppercase"> My Contact </h3>
            </li>
            <!-- ko compose : {view : '_address-book-groups' }-->

            <!--/ko-->
            <li class="heading">
                <h3 class="uppercase"> Parcel </h3>
            </li>
            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                    <i class="fa fa-paper-plane"></i>
                    <span class="title">Send Parcel</span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/ost#consigment-request-details/0" class="nav-link ">
                            <i class="fa fa-envelope"></i>
                            <span class="title">Send A Parcel</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/ost#consigment-request-details-bulk/0" class="nav-link ">
                            <i class="fa fa-tasks"></i>
                            <span class="title">Bulk Upload</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="heading">
                <h3 class="uppercase"> Shipment </h3>
            </li>
            <li class="nav-item  ">
                <a href="/ost#consigment-requests" class="nav-link nav-toggle">
                    <i class="fa fa-ship"></i>
                    <span class="title"> Shipment History </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/ost#consigment-requests" class="nav-link ">
                            <i class="fa fa-th-list"></i>
                            <span class="title"> All Shipment</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/ost#consigment-requests/new" class="nav-link ">
                            <i class="fa fa-map-pin"></i>
                            <span class="title">Domestic</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/ost#consigment-requests/new" class="nav-link ">
                            <i class="fa fa-globe"></i>
                            <span class="title">International</span>
                        </a>
                    </li>

                </ul>


            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>