@model Bespoke.Ost.ConsigmentRequests.Domain.Consignment
@{
    Layout = null;
}
@*Modify here*@
<h1>@Html.Raw(Model.ConNote)</h1>
<h4>@Html.Raw(Model.Pemberi.ContactPerson)</h4>
<h4>@Html.Raw(Model.Pemberi.CompanyName)</h4>

<img src="~/assets/connotes/A4_PL1.jpg" />