@using System.Web.Mvc.Html
@using Bespoke.Sph.Domain
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel
@{

    Layout = null;
    var formId = @Model.Form.Route + "-form";
}

<form class="form-horizontal" data-bind="with : entity" id="@formId">
    <div class="form-body">
        @foreach (var fe in Model.Form.FormDesign.FormElementCollection.OfType<Bespoke.Sph.Domain.TextBox>())
        {
            var fe1 = fe;
            fe1.Path = fe1.Path.ConvertJavascriptObjectToFunction();

            var html = Html.Partial("~/Views/MaterialDesignFormRenderer/EditorTemplates/TextBox.cshtml", fe1);

            @(Html.Raw(html))

        }
    </div>
</form>