<li class="nav-item start">
    <a href="/ost#address-book-home/-" class="nav-link nav-toggle">
        <i class="fa fa-book"></i>
        <span class="title"> Address Book </span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start">
            <a href="/ost#address-book-home/-" class="nav-link">
                <i class="fa fa-user"></i>
                <span class="title"> All Contacts </span>
                <span class="badge badge-info" data-bind="text: contactsCount">852</span>
            </a>
        <!-- ko foreach : groups -->
        <li class="nav-item address-book-group">
            <a href="/ost#address-book-home/**" data-bind="attr : {'href' : '/ost#/address-book-home/' + ko.unwrap(group)}" class="nav-link">
                <i class="fa fa-users"></i>
                <span class="title" data-bind="text : group"></span>
                <span class="badge badge-success" data-bind="text: count"></span>
            </a>
        </li>
        <!-- /ko -->
        <li class="nav-item">
            <a class="nav-link">
                <input type="text" data-bind="value: groupName" style="border:0px;width:150px" />
                <span class="badge badge-warning" data-bind="click: addGroup">+</span>
            </a>
        </li>
    </ul>
</li>
