<h1>All AddressBooks</h1>
<div class="row">
    <div class="col-md-11 col-lg-11 -col-sm-12">
        <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list}">
            <thead>
                <tr>
                    <th></th>
                    <th>Reference No</th>
                    <th>Group</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td>
                        <input type="checkbox" data-bind="checked : $root.partial.selectedAddresses, value:$data" />
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#address-book-update' + '/' + Id, title:'Reference No' }">
                                                        <span data-bind="text:ReferenceNo"></span>
                        </a>
                    </td>
                    <td data-bind="text:GroupAddress"></td>
                    <td data-bind="text:Address.CompanyName"></td>
                    <td data-bind="text:Address.Email"></td>
                    <td data-bind="text:ContactPerson"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>

    <div class="row">
        <a href="/ost#address-book-create/0" title="Add new address to your address book" 
        data-bind2="click: partial.addAddress" class="btn btn-link">
            <i class="fa fa-plus"></i>
            Add new address
        </a>

         <button class="btn btn-danger" data-bind="enable : $root.partial.selectedAddresses().length, command : $root.partial.removeAddresses">
                        <i class="fa fa-minus-circle" style="margin-right: 5px"></i>
                        Remove
                    </button>
    </div>