<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Address Book </span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    Address Book
    <small></small>
</h1>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red">
                    <i class="fa fa-user font-red"></i>
                    <span class="caption-subject bold uppercase"> Contact List </span>
                </div>
                <div class="caption font-red pull-right" data-bind="visible: $root.partial.groupName() != '-'">
                    <i class="fa fa-users"></i>
                    <span class="label lable- label-danger" data-bind="text: partial.groupName"> </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="action">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="btn green" data-bind="click : $root.partial.addContact, visible: true, enable: true">
                                Add
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn red" data-bind="command : $root.partial.removeAddresses, css: { 'disabled': $root.partial.selectedAddresses().length == 0 }">
                                Delete
                                <i class="fa fa-archive"></i>
                            </a>
                            <a class="btn blue" data-bind="command : $root.importContacts, visible: true">
                                Import
                                <i class="fa fa-folder-open"></i>
                            </a>
                            <a class="btn blue-chambray" data-bind="command : $root.exportToCsv, visible: true">
                                Export
                                <i class="fa fa-file-excel-o"></i>
                            </a>
                            <a class="btn btn-warning" data-bind="visible: $root.partial.groupName() != '-', command : $root.partial.renameGroup">
                                Rename Group
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list, filterPlaceholder : 'Search your contacts...', filterTooltip :'Press Enter to execute search'}">
                        <thead>
                            <tr>
                                <th>
                                    <!--<span data-bind="click: $root.partial.toggleCheckAll">
                                        <i class="fa fa-square-o" data-bind="visible: !$root.partial.checkAll()"></i>
                                        <i class="fa fa-check-square-o" data-bind="visible: $root.partial.checkAll()"></i>
                                    </span>-->
                                    &nbsp;
                                </th>
                                <th>Email</th>
                                <th class="hidden-xs">Contact Person</th>
                                <th class="hidden-xs">Company Name</th>
                                <th class="hidden-xs">Group</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :list">
                            <tr>
                                <td>
                                    <input type="checkbox" data-bind="checked : $root.partial.selectedAddresses, value:$data, attr: { name: 'check-contact-' + $index }" />
                                </td>
                                <td>
                                    <a class="contact-item" data-bind="attr : {href:'#address-book-details' + '/' + Id , 'data-id' : Id}" title="To add to a group drag it to the group panel on the left">
                                        <i class="icon-user"></i>
                                        <span data-bind="text:ContactInformation.Email"></span>
                                    </a>
                                </td>
                                <td class="hidden-xs" data-bind="text:ContactPerson"></td>
                                <td class="hidden-xs" data-bind="text:CompanyName"></td>
                                <td class="hidden-xs" data-bind="text:Groups"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="/assets/admin/layouts/layout/img/loading.gif" alt="loading" class="absolute-center" style="display: none;">
            </div>
        </div>
    </div>
</div>