<div class="row">
    <div class="col-md-11 col-lg-11 -col-sm-12">
        <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list, enableReload : true}">
            <thead>
                <tr>
                    <th></th>
                    <th>Reference No</th>
                    <th>Group</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td>
                        <input type="checkbox" data-bind="checked : $root.partial.selectedAddresses, value:$data" />
                    </td>
                    <td>
                        <a data-bind="attr : {href:'#address-book-update' + '/' + Id, title:'Reference No' }">
                            <span data-bind="text:ReferenceNo"></span>
                        </a>
                    </td>
                    <td data-bind="text:Groups"></td>
                    <td data-bind="text:CompanyName"></td>
                    <td data-bind="text:ContactInformation.EmailAddress"></td>
                    <td data-bind="text:ContactPerson"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div> 
<div class="clearfix"> </div>
