<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                <span class="caption-subject bold uppercase"> Contact details</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="address-book-details-form">
    <div class="form-body">
<h4 data-i18n="General Info" data-bind="visible:true">General Info</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Name" class="col-md-3 control-label" for="54de0da6-4987-457e-fec4-6c65f1c47ada">Name</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: ContactPerson"
               id="54de0da6-4987-457e-fec4-6c65f1c47ada" name="ContactPerson">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Company" class="col-md-3 control-label" for="508a96c8-f2d0-45eb-dd40-bdd5f09db275">Company</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: CompanyName"
               id="508a96c8-f2d0-45eb-dd40-bdd5f09db275" name="CompanyName">
        <div class="form-control-focus"> </div>
        <span class="help-block">The customer name</span>
    </div>
</div><div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Groups" class="col-md-3 control-label" for="groupsSelect">Groups</label>
    <div class="col-md-9">
        <select class="form-control" multiple data-bind="options : $root.partial.groupOptions"
                name="Groups" id="groupsSelect">
        </select>
        <div class="form-control-focus"> </div>
        <span class="help-block">Add contact to the groups</span>
    </div>
</div>
<h4 data-i18n="Address" data-bind="visible:true">Address</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address Line 1" class="col-md-3 control-label" for="11c30a42-5941-4f93-c355-4f91f8a6c55b">Address Line 1</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Address().Address1"
                data-rule-required="true" 
               id="11c30a42-5941-4f93-c355-4f91f8a6c55b" name="Address.Address1">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address Line 2" class="col-md-3 control-label" for="d6020dbc-4972-4899-c306-a3b55ae84fe4">Address Line 2</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Address().Address2"
               id="d6020dbc-4972-4899-c306-a3b55ae84fe4" name="Address.Address2">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address Line 3" class="col-md-3 control-label" for="97d6b4b2-e3bc-4bd9-a263-4850768d7b2f">Address Line 3</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Address().Address3"
               id="97d6b4b2-e3bc-4bd9-a263-4850768d7b2f" name="Address.Address3">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address Line 4" class="col-md-3 control-label" for="26848bee-8f31-4234-be2c-bf9149f51a7a">Address Line 4</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Address().Address4"
               id="26848bee-8f31-4234-be2c-bf9149f51a7a" name="Address.Address4">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n=" Postcode" class="col-md-3 control-label" for="postcode"> Postcode</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Address().Postcode"
                data-rule-required="true" 
               id="postcode" name="Address.Postcode">
        <div class="form-control-focus"> </div>
        <span class="help-block">For Malaysia , Postcode must be 5 digits </span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Town / City" class="col-md-3 control-label" for="0f38e59c-8fd0-40ba-d23c-9980ea90d4f2">Town / City</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Address().City"
               id="0f38e59c-8fd0-40ba-d23c-9980ea90d4f2" name="Address.City">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n=" State" class="col-md-3 control-label" for="22050248-2993-47aa-fcd7-c8325aa1978b"> State</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Address().State"
               id="22050248-2993-47aa-fcd7-c8325aa1978b" name="Address.State">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Country" class="col-md-3 control-label" for="countryDropDown">Country</label>
    <div class="col-md-9">
        <select class="form-control" data-bind="options: $root.availableCountries, optionsText: 'Name', optionsValue: 'Abbreviation', value: Address().Country, entity" name="Address.Country" id="countryDropDown"></select>
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<h4 data-i18n="Contact information" data-bind="visible:true">Contact information</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Email" class="col-md-3 control-label" for="1bf7d985-fb31-4b26-d6b6-99ab5af177b1">Email</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="email"
               placeholder=""
               data-bind="value: ContactInformation().Email, visible :true, enable: true"
               id="1bf7d985-fb31-4b26-d6b6-99ab5af177b1" name="ContactInformation.Email">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Contact Number" class="col-md-3 control-label" for="41816424-2e81-4378-c1da-74e1735ea06d">Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: ContactInformation().ContactNumber"
               id="41816424-2e81-4378-c1da-74e1735ea06d" name="ContactInformation.ContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Alternative Contact Number" class="col-md-3 control-label" for="6d5fc27b-d0fe-4657-c406-6632a70b172d">Alternative Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: ContactInformation().AlternativeContactNumber"
               id="6d5fc27b-d0fe-4657-c406-6632a70b172d" name="ContactInformation.AlternativeContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>    </div>
</form>
    </div>
</div>