<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
            <h3>Receiver Information</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" data-bind="with : receiver">
                <div class="form-body">
                    <div class="form-group">
                        <label data-i18n="Groups" class="col-md-3 control-label" for="receiver-company-name">Receiver</label>
                        <div class="col-md-9">
                            <select class="form-control" name="Receiver.CompanyName" id="receiver-company-name"></select>
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Company Name" class="col-md-3 control-label" for="480a360e-74a2-495c-c396-13027a2731d4">Company Name</label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: CompanyName" id="480a360e-74a2-495c-c396-13027a2731d4" name="Receiver.CompanyName">
                            <input type="hidden" data-bind="value: ContactPerson" name="Receiver.ContactPerson">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Receiver Ref. No." class="col-md-3 control-label" for="f1060890-3c63-4e24-81b1-4ffc8d4d6d15">Receiver Ref. No.</label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: ReferenceNo" id="f1060890-3c63-4e24-81b1-4ffc8d4d6d15" name="Receiver.ReferenceNo">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <h4 data-i18n="Address" data-bind="visible:true"> Address </h4>

                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Address 1" class="col-md-3 control-label" for="19655c49-c421-4ac6-ccca-db24550bc884"> Address 1 </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().Address1" id="19655c49-c421-4ac6-ccca-db24550bc884" name="Receiver.Address.Address1">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Address 2" class="col-md-3 control-label" for="c9e954a8-c167-4b3e-a64c-aea2340d30ba"> Address 2 </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().Address2" id="c9e954a8-c167-4b3e-a64c-aea2340d30ba" name="Receiver.Address.Address2">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Address 3" class="col-md-3 control-label" for="1f3c4cb2-9b54-4d20-a7a4-42066894e109"> Address 3 </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().Address3" id="1f3c4cb2-9b54-4d20-a7a4-42066894e109" name="Receiver.Address.Address3">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Address 4" class="col-md-3 control-label" for="5b332070-4f83-46d3-c34b-55da579da588"> Address 4 </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().Address4" id="5b332070-4f83-46d3-c34b-55da579da588" name="Receiver.Address.Address4">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Postcode" class="col-md-3 control-label" for="e223a41d-9dff-4dee-b429-2cc44eca9f2e"> Postcode </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().Postcode" id="e223a41d-9dff-4dee-b429-2cc44eca9f2e" name="Receiver.Address.Postcode">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="City" class="col-md-3 control-label" for="f8fbead8-5ced-40ad-c707-4fc99c15786f"> City </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().City" id="f8fbead8-5ced-40ad-c707-4fc99c15786f" name="Receiver.Address.City">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="State" class="col-md-3 control-label" for="7e4feac6-084b-4b67-a488-c3182e65ecbf"> State </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: Address().State" id="7e4feac6-084b-4b67-a488-c3182e65ecbf" name="Receiver.Address.State">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <h4 data-i18n="Contact Information" data-bind="visible:true">Contact Information</h4>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Contact No." class="col-md-3 control-label" for="be3c2990-30e4-4d97-da40-2a9a8cbce5bc"> Contact No. </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: ContactInformation().ContactNumber" id="be3c2990-30e4-4d97-da40-2a9a8cbce5bc" name="Receiver.ContactInformation.ContactNumber">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Alternative Contact Number" class="col-md-3 control-label" for="f90f7bd3-c17c-43f3-fabc-119a068fa617"> Alternative Contact No. </label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: ContactInformation().AlternativeContactNumber" id="f90f7bd3-c17c-43f3-fabc-119a068fa617" name="Receiver.ContactInformation.AlternativeContactNumber">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible:true">
                        <label data-i18n="Email" class="col-md-3 control-label" for="5de40cee-9e10-482f-c445-a6036e4aada7">Email</label>
                        <div class="col-md-9">
                            <input class="input-large form-control" type="text" placeholder="" data-bind="value: ContactInformation().Email" id="5de40cee-9e10-482f-c445-a6036e4aada7" name="Receiver.ContactInformation.Email">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <input form="custom-form-dialog-form" data-dismiss="modal" type="submit" class="btn btn-default" value="OK" data-bind="click: okClick" />
            <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
        </div>
    </div>
</div>