<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-3 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment Product</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment Summary</div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    Create single consignment
    <small></small>
</h1>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consigment-request-details-form">
    <div class="form-body">
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Reference No." class="col-md-3 control-label" for="de2f7ceb-07ff-4fc0-eff8-045583f7666d">Reference No.</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: ReferenceNo"
                data-rule-required="true" 
               id="de2f7ceb-07ff-4fc0-eff8-045583f7666d" name="ReferenceNo">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><div class="form-group form-md-line-input" >
    <label data-i18n="Groups" class="col-md-3 control-label" for="sender-company-name">Sender Name</label>
    <div class="col-md-9">
        <select class="form-control" name="Sender.CompanyName" id="sender-company-name">
        </select>
        <div class="form-control-focus"> </div>
        <span class="help-block">Sender's name</span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Company Name" class="col-md-3 control-label" for="b43c20c5-09fe-411e-81e6-bcce5cecf354">Company Name</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().CompanyName"
                data-rule-required="true" 
               id="b43c20c5-09fe-411e-81e6-bcce5cecf354" name="Sender.CompanyName">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Sender Address" data-bind="visible:true">Sender Address</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 1" class="col-md-3 control-label" for="4f8d0f8c-e87c-4836-bedb-e36130d2667c">Address 1</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().Address().Address1"
                data-rule-required="true" 
               id="4f8d0f8c-e87c-4836-bedb-e36130d2667c" name="Sender.Address.Address1">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 2" class="col-md-3 control-label" for="9da614a5-785c-4f7e-fb71-3cbc5bc8a75b">Address 2</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Sender().Address().Address2"
               id="9da614a5-785c-4f7e-fb71-3cbc5bc8a75b" name="Sender.Address.Address2">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 3" class="col-md-3 control-label" for="01d1c388-d629-4283-bd25-56688c166c98">Address 3</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Sender().Address().Address3"
               id="01d1c388-d629-4283-bd25-56688c166c98" name="Sender.Address.Address3">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 4" class="col-md-3 control-label" for="402a7045-0ed4-4e97-e5fb-9e05da77d1d0">Address 4</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Sender().Address().Address4"
               id="402a7045-0ed4-4e97-e5fb-9e05da77d1d0" name="Sender.Address.Address4">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Postcode" class="col-md-3 control-label" for="d9a10872-d0db-4974-af97-b8b80c2fb53f">Postcode</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().Address().Postcode"
                data-rule-required="true" 
               id="d9a10872-d0db-4974-af97-b8b80c2fb53f" name="Sender.Address.Postcode">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="City" class="col-md-3 control-label" for="c0c4c869-6817-473f-9c2a-d760f2f8fa7b">City</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().Address().City"
                data-rule-required="true" 
               id="c0c4c869-6817-473f-9c2a-d760f2f8fa7b" name="Sender.Address.City">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="State" class="col-md-3 control-label" for="9f17eaba-00e6-41ae-d51b-4bcbb6cd8bd1">State</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().Address().State"
                data-rule-required="true" 
               id="9f17eaba-00e6-41ae-d51b-4bcbb6cd8bd1" name="Sender.Address.State">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Country" class="col-md-3 control-label" for="476a28ad-daea-4166-be1a-778c1b1ac828">Country</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().Address().Country, visible :true, autocomplete :{ entity:'Country', field :'Name', query:'Id ne \'0\'' }"
                data-rule-required="true" 
               id="476a28ad-daea-4166-be1a-778c1b1ac828" name="Sender.Address.Country">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Contact Information" data-bind="visible:true">Contact Information</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Contact Number" class="col-md-3 control-label" for="659476a2-df77-43cf-9850-3e86984e48ae">Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: Sender().ContactInformation().ContactNumber"
                data-rule-required="true" 
               id="659476a2-df77-43cf-9850-3e86984e48ae" name="Sender.ContactInformation.ContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Alternative Contact Number" class="col-md-3 control-label" for="f1df1f3a-6fa6-47f8-9a2e-62cac1676026">Alternative Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Sender().ContactInformation().AlternativeContactNumber"
               id="f1df1f3a-6fa6-47f8-9a2e-62cac1676026" name="Sender.ContactInformation.AlternativeContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Email" class="col-md-3 control-label" for="3c09fdec-2e13-467e-ba6c-321e15ca3c6a">Email</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="email"
               placeholder=""
               data-bind="value: Sender().ContactInformation().Email, visible :true, enable: true"
                data-rule-required="true" 
               id="3c09fdec-2e13-467e-ba6c-321e15ca3c6a" name="Sender.ContactInformation.Email">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>    </div>
</form>
    </div>
</div>