<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Shipment </span>
            <!--<i class="fa fa-circle"></i>-->
        </li>
    </ul>
</div>
<h1 class="page-title">
    <small></small>
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="mt-element-step">
                    <div class="row step-thin">
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Pickup</div>
                            <div class="mt-step-content font-grey-cascade">Pickup address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                            <div class="mt-step-content font-grey-cascade">Sender address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Recipient</div>
                            <div class="mt-step-content font-grey-cascade">Recipient address</div>
                        </div>
                        <div class="col-md-3 bg-grey done mt-step-col active">
                            <div class="mt-step-number bg-white font-grey">4</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                            <div class="mt-step-content font-grey-cascade">Parcel details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <span class="caption-subject font-yellow-casablanca bold uppercase">Parcel Information</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">All details about parcel</div>
                </div>
                <div class="actions">
                    <h3>
                        <button id="save-button" class="btn btn-circle btn-sm yellow-casablanca" data-bind="click: $root.saveCommand, visible :true, enable: consignment().Produk().Price() != 0">
                            <i class="icon-arrow-right"></i>
                            <span> Next </span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" id="consignment-request-produk-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group " data-bind="if: consignment().Penerima().Address().Country() != 'MY'">
                                        <label data-i18n="ItemCategory" class="col-md-4 control-label" for="c28f91ae-ae5d-448e-991f-5b4065d3464f"><small>Item Category</small></label>
                                        <div class="col-md-8">
                                            <select class="form-control input-sm"
                                                    data-bind="value: consignment().Produk().ItemCategory"
                                                    id="c28f91ae-ae5d-448e-991f-5b4065d3464f" name="Produk.ItemCategory">
                                                <option value="Document">Document (Less than 1.000kg)</option>
                                                <option value="Merchandise">Merchandise (From 0.001 to 30.000kg)</option>
                                            </select>
                                            <span class="help-block">&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group " data-bind="visible:true">
                                        <label data-i18n="Weight" class="col-md-4 control-label" for="6465286c-a3af-46de-e7d8-0499b6bf7cf4"><small>Weight<span class="required" aria-required="true"> * </span></small></label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" required type="text"
                                                   placeholder="weight in kg"
                                                   data-bind="value: consignment().Produk().Weight"
                                                   data-rule-number="true" data-rule-required="true"
                                                   data-rule-min="0"
                                                   data-rule-max="30"
                                                   id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Produk.Weight">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-bind="visible:true">
                                        <label data-i18n="Width" class="col-md-4 control-label" for="61040711-a759-4cf8-ea32-47b1cdee2f44"><small>Width<span class="required" aria-required="true"> * </span></small></label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" required type="text"
                                                   placeholder="width in cm"
                                                   data-bind="value: consignment().Produk().Width"
                                                   data-rule-number="true" data-rule-required="true"
                                                   id="61040711-a759-4cf8-ea32-47b1cdee2f44" name="Produk.Width">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-bind="visible:true">
                                        <label data-i18n="Length" class="col-md-4 control-label" for="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d"><small>Length<span class="required" aria-required="true"> * </span></small></label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" required type="text"
                                                   placeholder="length in cm"
                                                   data-bind="value: consignment().Produk().Length"
                                                   data-rule-number="true" data-rule-required="true"
                                                   id="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d" name="Produk.Length">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-bind="visible:true">
                                        <label data-i18n="Height" class="col-md-4 control-label" for="a044e320-f819-4adf-fc9d-f130079818fe"><small>Height<span class="required" aria-required="true"> * </span></small></label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" required type="text"
                                                   placeholder="height in cm"
                                                   data-bind="value: consignment().Produk().Height"
                                                   data-rule-number="true" data-rule-required="true"
                                                   id="a044e320-f819-4adf-fc9d-f130079818fe" name="Produk.Height">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-bind="visible:true">
                                        <label class="col-md-4 control-label" data-toggle="collapse" data-target="#accordion1_1">
                                            <small>
                                                <a class="btn" title="Disclaimer"><i class="fa fa-question-circle" style="color:#ff6a00"></i></a>
                                                Volumetric Weight
                                            </small>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control input-sm" type="text" placeholder="volumetric weight in kg" data-bind="value: $root.volumetric().toFixed(2)" data-rule-number="true" name="Volumetric" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 control-label"><small></small></label>
                                    <div id="accordion1_1" class="col-md-8 well collapse" aria-expanded="false">
                                        <div class="note note-warning">
                                            <h4 class="block">Disclaimer - (Volumetric Weight)</h4>
                                            <p>
                                                Rates are based on the total actual weight or the total dimensional weight of all packages in a shipment, whichever is greater
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group" data-bind="visible:true">
                                    <label data-i18n="Description of Content" class="col-md-4 control-label" for="01d1c388-d629-4283-bd25-56688c166c98"><small>Description of Content<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" required rows="3"
                                                  placeholder="parcel description"
                                                  data-bind="value: consignment().Produk().Description"
                                                  id="01d1c388-d629-4283-bd25-56688c166c98" name="Produk.Description"></textarea>
                                    </div>
                                </div>
                                <div data-bind="if: products().length > 0">
                                    <div class="form-group form-checkboxes" data-bind="with: products()[0]">
                                        <label class="col-md-4 control-label" for="form_control_1" data-toggle="collapse" data-target="#accordion_insurance">
                                            <small>
                                                <a class="btn" title="Disclaimer"><i class="fa fa-question-circle" style="color:#ff6a00"></i></a>
                                                Insurance
                                            </small>
                                        </label>
                                        <div class="col-md-8">
                                            <div class="col-md-4 text-success" hidden>
                                                <input type="checkbox" data-bind="checked: true" disabled />
                                                <i class="fa fa-archive fa-4x"></i>
                                                <h5><span data-bind="text: Code"></span> / <span data-bind="text: Description"></span></h5>
                                            </div>
                                            <div class="col-md-4 text-success" hidden>
                                                <input type="checkbox" data-bind="checked: true" disabled />
                                                <!--ko if: IsInternational-->
                                                <i class="fa fa-plane fa-4x"></i>
                                                <!-- /ko -->
                                                <!--ko ifnot: IsInternational-->
                                                <i class="fa fa-truck fa-4x"></i>
                                                <!-- /ko -->
                                                <h5><span data-bind="text: Name"></span></h5>
                                            </div>
                                            <!--<div data-bind="with: ValueAddedServices()[0]">
                                                <div class="col-md-4 text-success">
                                                    <input type="checkbox" data-bind="checked: IsSelected" />
                                                    <i class="fa fa-shield fa-4x"></i>
                                                    <h5><span data-bind="text: Name"></span></h5>
                                                </div>
                                            </div>-->
                                            <div class="md-checkbox-inline" data-bind="with: ValueAddedServices()[0]">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkbox1_3" class="md-check" data-bind="checked: IsSelected">
                                                    <label for="checkbox1_3">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span><small data-bind="text: Name"> </small>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion_insurance" class="col-md-8 well collapse" aria-expanded="false">
                                            <div class="note note-warning">
                                                <h4 class="block">Disclaimer - (Insurance)</h4>
                                                <p>
                                                    This price is include insurance. If you are not wish to pay for the insurace, please uncheck the checkbox.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="with: products()[0]">
                                    <div data-bind="with: ValueAddedServices()[0]">
                                        <!--ko if: IsSelected-->
                                        <div data-bind="with: UserInputs()[0]">
                                            <div class="form-group" data-bind="visible:true">
                                                <label data-i18n="Weight" class="col-md-4 control-label" for="b85482e0-231c-4008-a218-ca095966fddc"><small></small></label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-addon">RM</div>
                                                        <input class="form-control" type="text"
                                                               placeholder=""
                                                               data-bind="money: Value"
                                                               data-rule-number="true"
                                                               id="b85482e0-231c-4008-a218-ca095966fddc" name="Produk.DeclaredValue" />
                                                    </div>
                                                    <div class="form-control-focus"> </div>
                                                    <span class="help-block">Declared Value</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-addon">RM</div>
                                                        <input class="form-control" type="text"
                                                               placeholder=""
                                                               data-bind="money: $parent.Value"
                                                               data-rule-number="true"
                                                               id="b85482e0-231c-4008-a218-ca095966fddc" name="Produk.Charge" disabled />
                                                    </div>
                                                    <div class="form-control-focus"> </div>
                                                    <span class="help-block">Charged Value</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:true">
                                    <label data-i18n="Price" class="col-md-4 control-label" for="6465286c-a3af-46de-e7d8-9499b6bf7cf4"><small>Price</small></label>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon">RM</span>
                                            <input class="form-control" type="text"
                                                   placeholder="calculated Price"
                                                   data-bind="money: consignment().Produk().Price"
                                                   id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Produk.Price" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--ko ifnot: products().length > 0-->
                                    <div class="col-md-4">&nbsp;</div>
                                    <div class="col-md-8">
                                        <button data-bind="command : $root.findProductsAsync" class="btn btn-circle btn-sm yellow-casablanca">
                                            <i class="fa fa-calculator"></i>
                                            Calculate Price
                                        </button>
                                    </div>
                                    <!-- /ko -->
                                    <!--ko if: products().length > 0-->
                                    <div data-bind="with: products()[0]">
                                        <div class="col-md-4">&nbsp;</div>
                                        <div class="col-md-8">
                                            <button data-bind="command : $root.recalculatePrice.call($root, $data)" class="btn btn-circle btn-sm yellow-casablanca">
                                                <i class="fa fa-calculator"></i>
                                                Recalculate Price
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div data-bind="if: false">
                    <div data-bind="if: products().length > 0">
                        <h4>Products</h4>
                        <ul data-bind="foreach: products">
                            <li>
                                <label>Code</label>: <span data-bind="text: Code"></span><br />
                                <label>DeliverySla</label>: <span data-bind="text: DeliverySla"></span><br />
                                <label>Description</label>: <span data-bind="text: Description"></span><br />
                                <label>Name</label>: <span data-bind="text: Name"></span><br />
                                <h4>Value Added Services</h4>
                                <ul data-bind="foreach: ValueAddedServices">
                                    <li>
                                        <input type="checkbox" data-bind="checked: IsSelected" /> <label>Name</label>: <span data-bind="text: Name"></span><br />
                                        <!--ko if: IsSelected-->
                                        <h4>User Inputs</h4>
                                        <ul data-bind="foreach: UserInputs">
                                            <li>
                                                <label>Name</label>: <span data-bind="text: Name"></span><br />
                                                <label>Value</label>: RM <input type="number" data-bind="value: Value" /><br />
                                                <label>Charge</label>: RM <input type="number" data-bind="value: $parent.Value" /><br />
                                            </li>
                                        </ul>
                                        <!-- /ko -->
                                    </li>
                                </ul>
                                <button class="btn btn-circle btn-sm yellow-casablanca" data-bind="command : $root.recalculatePrice.call($root, $data)">
                                    <i class="fa fa-calculator"></i>
                                    Calculate Price
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
