<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment product</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Custom</div>
                <div class="mt-step-content font-grey-cascade">Custom Declaration</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">5</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment summary</div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    Product information
    <small>Step 3</small>
</h1>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-request-product-form">
    <div class="form-body">
<h4 data-i18n="Volume &amp; Weight" data-bind="visible:true">Volume &amp; Weight</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Width" class="col-md-3 control-label" for="61040711-a759-4cf8-ea32-47b1cdee2f44">Width</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Width"
               id="61040711-a759-4cf8-ea32-47b1cdee2f44" name="Product.Volume.Width">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Length" class="col-md-3 control-label" for="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d">Length</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Length"
               id="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d" name="Product.Volume.Length">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Height" class="col-md-3 control-label" for="a044e320-f819-4adf-fc9d-f130079818fe">Height</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Height"
               id="a044e320-f819-4adf-fc9d-f130079818fe" name="Product.Volume.Height">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Weight" class="col-md-3 control-label" for="6465286c-a3af-46de-e7d8-0499b6bf7cf4">Weight</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Weight"
               id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Product.Weight">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Services Available" data-bind="visible:true">Services Available</h4>
    <div class="form-group form-md-line-input" data-bind="visible:true">
        <label data-i18n="Service" class="col-md-3 control-label" for="serviceCode">Service</label>
        <div class="col-md-9">

            <div class="mt-element-list">
                <div class="mt-list-head list-todo">
                    <div class="list-head-title-container">
                        <h3 class="list-title">Select your service</h3>
                    </div>
                </div>
                <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="list-todo-line"></div>
                    <ul data-bind="foreach :$root.partial.products">
                        <li class="mt-list-item">
                            <div class="list-todo-icon bg-white">
                                <i class="icon-check"></i>
                            </div>
                            <div class="list-todo-item blue-steel">
                                <a class="list-toggle-container collapsed" data-toggle="collapse" data-parent="#accordion1" data-bind="attr :{href :'#product-'+ Code}" onclick=" " aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold" data-bind="text:Name"></div>
                                        <div class="badge badge-default pull-right bold" data-bind="text:Code">3</div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" data-bind="attr :{id : 'product-' + Code}"  aria-expanded="false" style="height: 0px;">
                                    <ul>
                                        <li class="task-list-item done">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-calendar-check-o fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Service Guarantee</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                            </div>
                                        </li>
                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-clock-o fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Commitment Date</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                            </div>
                                        </li>
                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-dollar fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Cost</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-md-line-input" data-bind="visible:true">
        <label data-i18n="Item Category" class="col-md-3 control-label" for="itemCategory">Item Category</label>
        <div class="col-md-9">
            <select required
                    data-bind="value: Product().ItemCategory, options : $root.partial.categories, optionsCaption : '[Select Item Category]', enable :true"
                    class="form-control"
                    name="Product.ItemCategory" id="itemCategory"></select>
            <div class="form-control-focus"> </div>
            <span class="help-block">Tell us the product category for your consignment</span>
        </div>
    </div>
<h4 data-i18n="Price &amp; Others" data-bind="visible:true">Price &amp; Others</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Insurance - High value" class="col-md-3 control-label" for="65c20b74-a9cc-4626-9486-37b26c9cdbb7">Insurance - High value</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Insurance().HighValue"
               id="65c20b74-a9cc-4626-9486-37b26c9cdbb7" name="Insurance.HighValue">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>    </div>
</form>
    </div>
</div>