<link href="../assets/general/css/print.css" rel="stylesheet" type="text/css" />

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Orders </span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Tax Invoice </span>
        </li>
    </ul>
</div>
<h1 class="page-title caption-subject font-red-sunglo bold uppercase"></h1>
<small></small>
<div class="row" data-bind="with : entity">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <i class="fa fa-clipboard font-yellow-casablanca"></i>
                        <span class="caption-subject font-yellow-casablanca bold uppercase"> Tax Invoice</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">Tax invoice details</div>
                </div>
                <div class="actions hidden-print">
                    <h3>
                        <a role="button" class="btn btn-circle yellow-casablanca" onclick="javascript:window.print();">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </h3>
                </div>
            </div>
            <div class="invoice">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-yellow-casablanca bg-font-yellow-casablanca">
                                <strong>PAID TO</strong>
                            </div>
                            <div class="panel-body">
                                <address>
                                    <strong>Pos Malaysia Berhad</strong> (229990-M)<br />
                                    care@pos.com.my
                                </address>
                                <address>
                                    Level 8 Pos Malaysia Headquarters<br />
                                    Dayabumi Complex<br />
                                    50670 Kuala Lumpur<br />
                                    Malaysia<br />
                                    <abbr title="Contact Number">Phone:</abbr> 1-300-300-300<br />
                                </address>
                                <address>
                                    <strong><span>GST Registration No</span></strong>: <span>001609433088</span>
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-yellow-casablanca bg-font-yellow-casablanca">
                                <strong>INVOICED TO</strong>
                            </div>
                            <div class="panel-body">
                                <address>
                                    <strong><span class="text-capitalize" data-bind="text: $root.userDetail().BillingAddress().ContactPerson"></span></strong><br />
                                    <span data-bind="text: $root.userDetail().BillingAddress().ContactInformation().Email"></span>
                                </address>
                                <address>
                                    <strong><span data-bind="text: $root.userDetail().BillingAddress().CompanyName"></span></strong><br />
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().Address1"></span>&nbsp;
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().Address2"></span>&nbsp;
                                    <br />
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().Address3"></span>&nbsp;
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().Address4"></span>&nbsp;
                                    <br />
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().Postcode"></span>&nbsp;
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().City"></span>&nbsp;
                                    <br />
                                    <span data-bind="text: $root.userDetail().BillingAddress().Address().State"></span>&nbsp;
                                    <!--<span data-bind="text: $root.userDetail().BillingAddress().Address().Country"></span>-->Malaysia&nbsp;
                                    <br />
                                    <abbr title="Contact Number">Phone:</abbr> <span data-bind="text: $root.userDetail().BillingAddress().ContactInformation().ContactNumber"></span><br />
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading bg-yellow-casablanca bg-font-yellow-casablanca">
                                <strong>DETAILS</strong>
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Tax Invoice No</dt>
                                    <dd><span data-bind="text: ReferenceNo"></span></dd>
                                    <dt>Date</dt>
                                    <dd><span data-bind="date:{ value: Payment().Date, format:&#39;D/M/YYYY HH:mm&#39;}"></span></dd>
                                    <dt>Payment Mode</dt>
                                    <dd><span>Credit Card</span></dd>
                                    <dt>Ref No</dt>
                                    <dd><span>#1</span></dd>
                                    <dt>Res Code</dt>
                                    <dd><span>Accepted (Transaction Successfull)</span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div data-bind="visible: Consignments().length == 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>
                                Invoice is empty. No Parcel found.
                            </h4>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: Consignments().length > 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-hover table-condensed">
                                <thead style="background-color:#ff6a00; color:#ffffff;">
                                    <tr>
                                        <th>Tracking Number</th>
                                        <th>Product</th>
                                        <th>Weight</th>
                                        <th><span class="pull-right">Total RM</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ko foreach: Consignments-->
                                    <tr>
                                        <td>
                                            <!--ko if: Produk().IsInternational-->
                                            #
                                            <!--/ko-->
                                            <!--ko ifnot: Produk().IsInternational-->
                                            *
                                            <!--/ko-->
                                            <span data-bind="text: ConNote"></span>
                                        </td>
                                        <td>
                                            <!--ko if: Produk().Name() != null -->
                                            <!--ko if: Produk().IsInternational-->
                                            <span data-bind="text: Produk().Name().replace(' Contract', '')"></span>
                                            <!--/ko-->
                                            <!--ko ifnot: Produk().IsInternational-->
                                            <span data-bind="text: Produk().Name()"></span>
                                            <!--/ko-->
                                            <!--/ko-->
                                        </td>
                                        <td>
                                            <!--ko if: Produk().Weight() != null-->
                                            <span data-bind="text: Bill().ActualWeight().toFixed(1)"></span> kg
                                            <!-- /ko -->
                                        </td>
                                        <td>
                                            <!--ko if: Bill().SubTotal3() != null-->
                                            <span data-bind="text: Bill().BaseRate().toFixed(2)" class="pull-right"></span>
                                            <!--/ko-->
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr>
                                        <td colspan="3">* Pickup Charge</td>
                                            <td><span class="pull-right">5.00</span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.intHandlingSurchargeTotal() > 0">
                                        <td colspan="3"># International Handling Surcharge</td>
                                        <td><span class="pull-right" data-bind="text: $root.intHandlingSurchargeTotal().toFixed(2)"></span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.intFuelSurchargeTotal() > 0">
                                        <td colspan="3"># International Fuel Surcharge</td>
                                        <td><span class="pull-right" data-bind="text: $root.intFuelSurchargeTotal().toFixed(2)"></span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.intInsuranceTotal() > 0">
                                        <td colspan="3"># Ezisend Insurance - General</td>
                                        <td><span class="pull-right" data-bind="text: $root.intInsuranceTotal().toFixed(2)"></span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.domHandlingSurchargeTotal() > 0">
                                        <td colspan="3">* Domestic Handling Surcharge</td>
                                        <td><span class="pull-right" data-bind="text: $root.domHandlingSurchargeTotal().toFixed(2)"></span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.domFuelSurchargeTotal() > 0">
                                        <td colspan="3">* Domestic Fuel Surcharge</td>
                                        <td><span class="pull-right" data-bind="text: $root.domFuelSurchargeTotal().toFixed(2)"></span></td>
                                    </tr>
                                    <tr data-bind="visible: $root.domInsuranceTotal() > 0">
                                        <td colspan="3">* Ezisend Insurance - General</td>
                                        <td><span class="pull-right" data-bind="text: $root.domInsuranceTotal().toFixed(2)"></span></td>
                                    </tr>                                  
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Sub Total (GST exclusive)</td>
                                        <td><span data-bind="text: ($root.totalDomesticNoGst() + $root.totalInternationalNoGst() + 5.00).toFixed(2)" class="pull-right"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">* GST 6%</td>
                                        <td><span data-bind="text: ($root.totalDomesticGst() + $root.totalInternationalGst() + 0.30).toFixed(2)" class="pull-right"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><strong><span class="text-uppercase">Grand Total</span></strong> (GST inclusive)</td>
                                        <td><strong><span data-bind="text: Payment().TotalPrice().toFixed(2)" class="pull-right"></span></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <center>
                                                <strong><span>GST Registration No.</span></strong> <span>001609433088</span>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="3">GST Summary</th>
                                        <th><span class="pull-right">Amount RM</span></th>
                                        <th><span class="pull-right">Tax RM</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3"># Zero Rated (ZR)</td>
                                        <td><span data-bind="text: $root.totalInternationalNoGst().toFixed(2)" class="pull-right"></span></td>
                                        <td><span data-bind="text: $root.totalInternationalGst().toFixed(2)" class="pull-right"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">* Standard Rated (SR)</td>
                                        <td><span data-bind="text: ($root.totalDomesticNoGst() + 5.00).toFixed(2)" class="pull-right"></span></td>
                                        <td><span data-bind="text: ($root.totalDomesticGst() + 0.30).toFixed(2)" class="pull-right"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <center>
                                    Thank you for using Pos Laju EziSend!<br />
                                    <small>
                                        If you have any questions about your tax invoice please<br />
                                        call us at 1-300-300-300<br />
                                        or drop us an email at care@pos.com.my<br />
                                        <br />
                                        This is a computer generated receipt and no signature is required
                                    </small>
                                </center>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
