<h1 data-i18n="Consignment Order Sender">Consignment Order Sender</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-order-sender-form">
    <div class="form-group" data-bind="visible:true">
        <label class="col-md-4"></label>
        <span class="col-md-8" data-bind="text: ReferenceNo"></span>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Name" for="dbb9e5bf-f197-4eef-f9d9-59f21f217297" class="col-md-4">Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Name"
                   id="dbb9e5bf-f197-4eef-f9d9-59f21f217297" type="text" name="Sender.Name" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Shipper Reference No." for="f66336d0-e9a3-4863-9fd4-3d9532c7fc9e" class="col-md-4">Shipper Reference No.</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().ReferenceNo"
                   id="f66336d0-e9a3-4863-9fd4-3d9532c7fc9e" type="text" name="Sender.ReferenceNo" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Company Name" for="92aeee4a-21ac-4ac0-da57-1b49cea91a0c" class="col-md-4">Company Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().CompanyName"
                   id="92aeee4a-21ac-4ac0-da57-1b49cea91a0c" type="text" name="Sender.Address.CompanyName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Premise No/Mailbox" for="bb3a4647-5ee5-4b4c-fde8-9affc5723a8f" class="col-md-4">Premise No/Mailbox</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().PremiseNoMailbox"
                   id="bb3a4647-5ee5-4b4c-fde8-9affc5723a8f" type="text" name="Sender.Address.PremiseNoMailbox" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Block" for="882b7f0c-4b54-4989-eced-aa353f26aab6" class="col-md-4">Block</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().Block"
                   id="882b7f0c-4b54-4989-eced-aa353f26aab6" type="text" name="Sender.Address.Block" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Building Name" for="31488b46-55a6-4892-8262-7936a6342152" class="col-md-4">Building Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().BuildingName"
                   id="31488b46-55a6-4892-8262-7936a6342152" type="text" name="Sender.Address.BuildingName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Road Name" for="f5f3068a-de36-4c14-8735-b5b165bfe94a" class="col-md-4">Road Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().RoadName"
                   id="f5f3068a-de36-4c14-8735-b5b165bfe94a" type="text" name="Sender.Address.RoadName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Area/Village/Garden Name" for="76024dbf-4add-4384-c426-476a8b79e47e" class="col-md-4">Area/Village/Garden Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().AreaVillageGardenName"
                   id="76024dbf-4add-4384-c426-476a8b79e47e" type="text" name="Sender.Address.AreaVillageGardenName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Sub-District" for="c743b94c-89b8-4cbe-abca-70af5741c1bd" class="col-md-4">Sub-District</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().SubDistrict"
                   id="c743b94c-89b8-4cbe-abca-70af5741c1bd" type="text" name="Sender.Address.SubDistrict" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Postcode" for="b3f52300-a802-45a0-eaa2-3569b09bda56" class="col-md-4">Postcode</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().Postcode"
                   id="b3f52300-a802-45a0-eaa2-3569b09bda56" type="text" name="Sender.Address.Postcode" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="State" for="781aada0-ce69-4568-bda4-87befd868e4e" class="col-md-4">State</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().State"
                   id="781aada0-ce69-4568-bda4-87befd868e4e" type="text" name="Sender.Address.State" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Country" for="59fad49f-3ec4-47cb-b5de-6b4151da00fc" class="col-md-4">Country</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().Country"
                   id="59fad49f-3ec4-47cb-b5de-6b4151da00fc" type="text" name="Sender.Address.Country" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="PhoneNumber" for="e53524bb-5bf1-46aa-bed1-11fdd8835614" class="col-md-4">PhoneNumber</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().PhoneNumber"
                   id="e53524bb-5bf1-46aa-bed1-11fdd8835614" type="text" name="Sender.Address.PhoneNumber" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Fax Number" for="e2ad2604-66f2-4b15-ce4a-8b7ae518dcae" class="col-md-4">Fax Number</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().FaxNumber"
                   id="e2ad2604-66f2-4b15-ce4a-8b7ae518dcae" type="text" name="Sender.Address.FaxNumber" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Email" for="b9eead0f-b1ae-434f-c25e-15cef9d18cce" class="col-md-4">Email</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().Email"
                    data-rule-email="true" 
                   id="b9eead0f-b1ae-434f-c25e-15cef9d18cce" type="text" name="Sender.Address.Email" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="GPS Location" for="7580fcf7-a592-4a5f-958d-ff06e7e531ec" class="col-md-4">GPS Location</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Sender().Address().GpsLocation"
                   id="7580fcf7-a592-4a5f-958d-ff06e7e531ec" type="text" name="Sender.Address.GpsLocation" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
    </div>
</div>