<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Shipment </span>
            <!--<i class="fa fa-circle"></i>-->
        </li>
    </ul>
</div>
<h1 class="page-title">
    <small></small>
</h1>
<div class="row">
    <div class="col-md-12">
        <!--ko if: config.profile.Designation != "Contract customer"-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="mt-element-step">
                    <div class="row step-thin">                        
                        <div class="col-md-3 bg-grey done mt-step-col active">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Pickup</div>
                            <div class="mt-step-content font-grey-cascade">Pickup address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                            <div class="mt-step-content font-grey-cascade">Sender address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Recipient</div>
                            <div class="mt-step-content font-grey-cascade">Recipient address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">4</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                            <div class="mt-step-content font-grey-cascade">Parcel details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ko-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <span class="caption-subject font-yellow-casablanca bold uppercase">Pickup Information</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">All details about pickup</div>
                </div>
                <div class="actions">
                    <h3>
                        <button id="save-button" class="btn btn-circle yellow-casablanca" data-bind="click: $root.saveCommand, visible :true, enable: $root.isPoscodeValid">
                            <i class="icon-arrow-right"></i>
                            <span data-i18n="Save"> Next </span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" data-bind="with: entity().Pickup()" role="form" id="consignment-request-pickup-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4"><small>Search Contact</small></label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" name="SearchContact" id="pickup-company-name"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Sender Name
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: ContactPerson" name="ContactPerson">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4"><small>Company Name</small></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" data-bind="value: CompanyName" name="CompanyName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Email
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required class="form-control input-sm" type="email" data-bind="value: ContactInformation().Email" name="ContactInformation.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Contact No.
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required class="form-control input-sm" type="text" data-bind="value: ContactInformation().ContactNumber" name="ContactInformation.ContactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4"><small>Alternative Contact No.</small></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" data-bind="value: ContactInformation().AlternativeContactNumber" name="ContactInformation.AlternativeContactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Address Line 1
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: Address().Address1" name="Address.Address1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Address Line 2
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: Address().Address2" name="Address.Address2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4"><small>Address Line 3</small></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" data-bind="value: Address().Address3" name="Address.Address3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4"><small>Address Line 4</small></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" data-bind="value: Address().Address4" name="Address.Address4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Postcode
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: Address().Postcode" name="Address.Postcode">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            City
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: Address().City" name="Address.City">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            State
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <input required type="text" class="form-control input-sm" data-bind="value: Address().State" name="Address.State">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>
                                            Country
                                            <span class="required" aria-required="true"> * </span>
                                        </small>
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" data-bind="options: $root.availableCountries, optionsText: 'Name', optionsValue: 'Abbreviation', value: Address().Country" name="Address.Country" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
