<h1>Consignment Requests List</h1>
<br /><br /><br />
<div class="row">
    <div class="col-md-4 well well-sm">
        <form>
            <div class="form-group">
                <label class="col-md-4" for="DateFrom">Pickup Date From</label>
                <div class="col-md-8">
                    <input class="form-control" id="DateFrom" name="DateFrom" data-bind="value: dateFrom" placeholder="Date" aria-required="true" />
                    <br />
                    <!--<label id="DateFrom-error" class="error text-danger" for="DateFrom" style="display:none"></label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4" for="DateTo">Pickup Date To</label>
                <div class="col-md-8">
                    <input class="form-control" id="DateTo" name="DateTo" data-bind="value: dateTo" placeholder="Date" aria-required="true" />
                    <br />
                    <!--<label id="DateTo-error" class="error text-danger" for="DateTo" style="display:none"></label>-->
                </div>
            </div>
            <button class="btn btn-primary" type="button" data-bind="click: search">Search</button>
            <button class="btn btn-default" type="button" data-bind="click: clearSearch">Clear</button>
        </form>
    </div>
    <div class="col-md-8">&nbsp;</div>
</div>
<div class="row">
    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-xs">
            <a class="btn btn-primary" title="Next Page" data-bind="click: previousPage, css: { 'disabled': !hasPreviousPage() }">&laquo;</a>
            <a class="btn btn-default disabled">Page <span data-bind="text: page">1</span></a>
            <a class="btn btn-primary" title="Previous Page" data-bind="click: nextPage, css: { 'disabled': !hasNextPage() }">&raquo;</a>
        </div>
        &nbsp;&nbsp;&nbsp;
        <select id="pager-page-size" data-bind="options: availablePageSize, value: size"></select>
        items per page
        &nbsp;&nbsp;&nbsp;
        <!--ko if: count() > 0-->
        <span data-bind="text: (1 + ((page() - 1) * size()))"></span>
        -
        <span data-bind="text: ((size() + ((page() - 1) * size())) < count()) ? (size() + ((page() - 1) * size())) : count()"></span>
        of
        <!--/ko-->
        <span data-bind="text: count()"></span>
        item(s)
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-link btn-xs" title="Reload Page" data-bind="click: reloadPage"><i class="fa fa-repeat"></i></a>
        &nbsp;&nbsp;&nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ReferenceNo</th>
                    <th>User Id</th>
                    <th>Pickup No</th>
                    <th>Contact Person</th>
                    <th>Pickup Address</th>
                    <th>Pickup Date</th>
                    <th>Pickup Time</th>
                    <th>Quantity</th>
                    <th>Weight (kg)</th>
                    <th>Consignments</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td data-bind="text:ReferenceNo"></td>
                    <td data-bind="text:UserId"></td>
                    <td data-bind="text:Pickup.Number"></td>
                    <td>
                        <span data-bind="text: Pickup.ContactPerson"></span>
                        <br />
                        <span data-bind="text: Pickup.ContactInformation.ContactNumber"></span>
                    </td>
                    <td>
                        <span data-bind="text: Pickup.Address.Address1"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.Address2"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.Address3"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.Address4"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.Postcode"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.City"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.State"></span>
                        &nbsp;<span data-bind="text: Pickup.Address.Country"></span>
                    </td>
                    <td>
                        <span data-bind="date:{ value: Pickup.DateReady, format:'YYYY-MM-DD'}"></span>
                    </td>
                    <td>
                        <span data-bind="date:{ value: Pickup.DateReady, format:'HH:mm'}"></span>-<span data-bind="date:{ value: Pickup.DateClose, format:'HH:mm'}"></span>
                    </td>
                    <td data-bind="text:Consignments.length"></td>
                    <td data-bind="text:Pickup.TotalWeight.toFixed(2)"></td>
                    <td>
                        <!--ko foreach: Consignments-->
                        <span data-bind="text: ConNote"></span>&nbsp;
                        <!--/ko-->
                    </td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>
