<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment product</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Custom</div>
                <div class="mt-step-content font-grey-cascade">Custom Declaration</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">5</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment summary</div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    Consignment Request Summary
    <small>Consignment list</small>
</h1>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-request-summary-form">
    <div class="form-body">
<div data-bind="visible:true">
    <span> Receivers</span>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                    <th>Name</th>
                    <th>Service</th>
                    <th>Payment method</th>
                    <th>Weight</th>
                    <th>Receiver State</th>
            </tr>
        </thead>
        <tbody data-bind="foreach :Receivers">
            <tr>
                    <td data-bind="text:CompanyName"></td>
                    <td data-bind="text:$root.entity().Product().Name"></td>
                    <td data-bind="text:$root.entity().Product().Name"></td>
                    <td data-bind="text:$root.entity().Product().Weight"></td>
                    <td data-bind="text:Address().State"></td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
</form>
    </div>
</div>