<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment product</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Custom</div>
                <div class="mt-step-content font-grey-cascade">Custom Declaration</div>
            </div>
            <div class="col-md-2 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">5</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment summary</div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    Product information
    <small>Step 3</small>
</h1>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-request-product-form">
    <div class="form-body">
<h4 data-i18n="Volume &amp; Weight" data-bind="visible:true">Volume &amp; Weight</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Width" class="col-md-3 control-label" for="61040711-a759-4cf8-ea32-47b1cdee2f44">Width</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Width"
               id="61040711-a759-4cf8-ea32-47b1cdee2f44" name="Product.Volume.Width">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Length" class="col-md-3 control-label" for="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d">Length</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Length"
               id="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d" name="Product.Volume.Length">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Height" class="col-md-3 control-label" for="a044e320-f819-4adf-fc9d-f130079818fe">Height</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Volume().Height"
               id="a044e320-f819-4adf-fc9d-f130079818fe" name="Product.Volume.Height">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Weight" class="col-md-3 control-label" for="6465286c-a3af-46de-e7d8-0499b6bf7cf4">Weight</label>
    <div class="col-md-9">
        <input class="form-control"  type="text"
               placeholder=""
               data-bind="value: Product().Weight"
               id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Product.Weight">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Services Available" data-bind="visible:true">Services Available</h4>
    <div class="form-group form-md-line-input" >
        <label data-i18n="Service" class="col-md-3 control-label" for="serviceCode">Service</label>
        <div class="col-md-9">

            <div class="mt-element-list">
                <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="list-todo-line"></div>
                    <ul data-bind="foreach :$root.partial.products">
                        <li class="mt-list-item">
                            <div class="list-todo-icon bg-white">
                                <a href="javascript:;" data-bind="click : $root.partial.selectProduct">
                                    <i class="icon-check" style="font-size:28px"></i>
                                </a>
                            </div>
                            <div class="list-todo-item" data-bind="css : {'green-meadow': ko.unwrap($root.entity().Product().Code) === Code, 'blue-steel': ko.unwrap($root.entity().Product().Code) !== Code}">
                                <a class="list-toggle-container collapsed" data-toggle="collapse" data-parent="#accordion1" data-bind="attr :{href :'#product-'+ ko.unwrap(Code)}" onclick=" " aria-expanded="false">
                                    <div class="list-toggle done uppercase">
                                        <div class="list-toggle-title bold" data-bind="text:Name"></div>
                                        <div class="badge badge-default pull-right bold" data-bind="text:Code"></div>
                                    </div>
                                </a>
                                <div class="task-list panel-collapse collapse" data-bind="attr :{id : 'product-' + ko.unwrap(Code)}"  aria-expanded="false" style="height: 0px;">
                                    <ul>
                                        <li class="task-list-item done">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-calendar-check-o fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Service Guarantee</a>
                                                </h4>
                                                <p data-bind="text : Description">Next business day </p>
                                            </div>
                                        </li>
                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-clock-o fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Commitment Date</a>
                                                </h4>
                                                <p>Shipped it today by 4:00 pm  and reach your package will be deliverd by 4 Nov 2016</p>
                                            </div>
                                        </li>

                                        <!-- ko if : ko.unwrap(Surcharges).length > 0 -->
                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class=" icon-credit-card fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Surcharge</a>
                                                </h4> 

                                                <ul class="list-group" data-bind="foreach: Surcharges">
                                                    <li class="list-group-item">
                                                            <!-- ko text : Name -->
                                                            <!-- /ko -->
                                                         <span class="badge" data-bind="money: Value">12</span></li>
                                                 </ul>
                                            </div>
                                        </li>
                                        <!-- /ko -->

                                        <!-- ko if : ko.unwrap(ValueAddServices).length > 0 -->
                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="icon-present fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">Value added services</a>
                                                </h4>

                                                <ul class="list-group" data-bind="foreach: ValueAddServices">
                                                    <li class="list-group-item">
                                                        <div class="md-checkbox">
                                                            <input type="checkbox" data-bind="checked : IsSelected, attr :{ id :ko.unwrap($parent.Code) + '-' + ko.unwrap(Code)}" class="md-check">
                                                            <label data-bind="attr :{ for :ko.unwrap($parent.Code) + '-' + ko.unwrap(Code)}">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                             <span class="box"></span> 
                                                            <!-- ko text : Name -->
                                                            <!-- /ko --> </label>
                                                        </div>
                                                        <span class="badge" style="margin-top:-20px" data-bind="money: Value">12</span></li>
                                                        <!-- ko foreach: UserInputs -->
                                                        <div class="form-group form-md-line-input" data-bind="visible : $parent.IsSelected">
                                                            <label class="col-md-3 control-label" data-bind="text: Name"></label>
                                                            <div class="col-md-9">
                                                                <input class="input-small form-control" data-bind="value:Value" type="number"/>
                                                            </div>
                                                        </div>
                                                        <!-- /ko -->
                                                 </ul>

                                           </div>
                                        </li>
                                        <!-- /ko -->

                                        <li class="task-list-item">
                                            <div class="task-icon">
                                                <a href="javascript:;">
                                                    <i class="fa fa-money fa-2x"></i>
                                                </a>
                                            </div>
                                            <div class="task-content">
                                                <h4 class="uppercase bold">
                                                    <a href="javascript:;">The Damage to your bottom line</a>
                                                </h4>
                                                <p>RM 5.00</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-md-line-input" data-bind="visible:true">
        <label data-i18n="Item Category" class="col-md-3 control-label" for="itemCategory">Item Category</label>
        <div class="col-md-9">
            <select required
                    data-bind="value: Product().ItemCategory, options : $root.partial.categories, optionsCaption : '[Select Item Category]', enable :true"
                    class="form-control"
                    name="Product.ItemCategory" id="itemCategory"></select>
            <div class="form-control-focus"> </div>
            <span class="help-block">Tell us the product category for your consignment</span>
        </div>
    </div>
<h4 data-i18n="Price &amp; Others" data-bind="visible:true">Price &amp; Others</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Insurance - High value" class="col-md-3 control-label" for="65c20b74-a9cc-4626-9486-37b26c9cdbb7">Insurance - High value</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: Insurance().HighValue"
               id="65c20b74-a9cc-4626-9486-37b26c9cdbb7" name="Insurance.HighValue">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>    </div>
</form>
    </div>
</div>