<h1 data-i18n="Consignment Order Receiver">Consignment Order Receiver</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-order-receiver-form">
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Name" for="0c30f6f5-c8a5-41af-daf5-080095b8ac20" class="col-md-4">Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Name"
                   id="0c30f6f5-c8a5-41af-daf5-080095b8ac20" type="text" name="Receiver.Name" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Reference No." for="02369e6a-84fa-430e-9683-c92f510b5fc1" class="col-md-4">Reference No.</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().ReferenceNo"
                   id="02369e6a-84fa-430e-9683-c92f510b5fc1" type="text" name="Receiver.ReferenceNo" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Company Name" for="ec2e4cb5-da45-4de3-dae0-2113d340422b" class="col-md-4">Company Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().CompanyName"
                   id="ec2e4cb5-da45-4de3-dae0-2113d340422b" type="text" name="Receiver.Address.CompanyName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Premise No./Mailbox" for="de6295a6-e44f-4564-f209-31ceda38efce" class="col-md-4">Premise No./Mailbox</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().PremiseNoMailbox"
                   id="de6295a6-e44f-4564-f209-31ceda38efce" type="text" name="Receiver.Address.PremiseNoMailbox" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Block" for="35945a21-037b-4471-da47-dec0aa36c47e" class="col-md-4">Block</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().Block"
                   id="35945a21-037b-4471-da47-dec0aa36c47e" type="text" name="Receiver.Address.Block" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Building Name" for="eacae100-f06b-459c-ea40-b2a2ae46c399" class="col-md-4">Building Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().BuildingName"
                   id="eacae100-f06b-459c-ea40-b2a2ae46c399" type="text" name="Receiver.Address.BuildingName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Road Name" for="be791e50-4721-464c-90d4-f271867ff722" class="col-md-4">Road Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().RoadName"
                   id="be791e50-4721-464c-90d4-f271867ff722" type="text" name="Receiver.Address.RoadName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Area/Village/Garden Name" for="5430dab9-05fb-464e-c723-b8e67b3af0eb" class="col-md-4">Area/Village/Garden Name</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().AreaVillageGardenName"
                   id="5430dab9-05fb-464e-c723-b8e67b3af0eb" type="text" name="Receiver.Address.AreaVillageGardenName" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Sub-District" for="5df7f7fc-67c7-4db9-cf1f-22cf203e3cd9" class="col-md-4">Sub-District</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().SubDistrict"
                   id="5df7f7fc-67c7-4db9-cf1f-22cf203e3cd9" type="text" name="Receiver.Address.SubDistrict" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Postcode" for="86c49e08-0d1e-43a0-9cb2-29c905956c62" class="col-md-4">Postcode</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().Postcode"
                   id="86c49e08-0d1e-43a0-9cb2-29c905956c62" type="text" name="Receiver.Address.Postcode" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="State" for="ae0fe7cc-cc62-49db-a1bf-ca59cf5e5d02" class="col-md-4">State</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().State"
                   id="ae0fe7cc-cc62-49db-a1bf-ca59cf5e5d02" type="text" name="Receiver.Address.State" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="City" for="cbeb722e-9fb8-4eb4-8422-1b2694a42125" class="col-md-4">City</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().City"
                   id="cbeb722e-9fb8-4eb4-8422-1b2694a42125" type="text" name="Receiver.Address.City" />
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Country" for="6db483a3-4104-4e14-cd74-e6bfb4397f26" class="col-md-4">Country</label>
        <div class="col-md-8">
            <select  data-bind="value: Receiver().Address().Country, enable :true" id="6db483a3-4104-4e14-cd74-e6bfb4397f26" name="Receiver.Address.Country" class="input-large form-control">
                    <option value="0" data-i18n="Select">Select</option>
                    <option value="Malaysia" data-i18n="Malaysia">Malaysia</option>
                    <option value="Singapore" data-i18n="Singapore">Singapore</option>
            </select>
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Phone Number" for="8aa60733-a4a5-491e-8ac5-04f00a52046b" class="col-md-4">Phone Number</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().PhoneNumber"
                   id="8aa60733-a4a5-491e-8ac5-04f00a52046b" type="text" name="Receiver.Address.PhoneNumber" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Fax Number" for="5dec0eba-9832-4679-b59e-4709fff1a3f8" class="col-md-4">Fax Number</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().FaxNumber"
                   id="5dec0eba-9832-4679-b59e-4709fff1a3f8" type="text" name="Receiver.Address.FaxNumber" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Email" for="5aef4124-6914-4509-8ca7-dcd2ff1816fc" class="col-md-4">Email</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().Email"
                    data-rule-email="true" 
                   id="5aef4124-6914-4509-8ca7-dcd2ff1816fc" type="text" name="Receiver.Address.Email" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="GPS Location" for="5f88e4cb-2cfe-4f36-a399-c3fedcd5029e" class="col-md-4">GPS Location</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: Receiver().Address().GpsLocation"
                   id="5f88e4cb-2cfe-4f36-a399-c3fedcd5029e" type="text" name="Receiver.Address.GpsLocation" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
    </div>
</div>