<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Shipment </span>
            <!--<i class="fa fa-circle"></i>-->
        </li>
    </ul>
</div>
<h1 class="page-title">
    <small></small>
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="mt-element-step">
                    <div class="row step-thin">
                        <!--ko if: config.profile.Designation != "Contract customer"-->
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Pickup</div>
                            <div class="mt-step-content font-grey-cascade">Pickup address</div>
                        </div>
                        <div class="col-md-3 bg-grey done mt-step-col active">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                            <div class="mt-step-content font-grey-cascade">Sender address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Recipient</div>
                            <div class="mt-step-content font-grey-cascade">Recipient address</div>
                        </div>
                        <div class="col-md-3 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">4</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                            <div class="mt-step-content font-grey-cascade">Parcel details</div>
                        </div>
                        <!--/ko-->
                        <!--ko if: config.profile.Designation == "Contract customer"-->
                        <div class="col-md-4 bg-grey done mt-step-col active">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                            <div class="mt-step-content font-grey-cascade">Sender address</div>
                        </div>
                        <div class="col-md-4 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Recipient</div>
                            <div class="mt-step-content font-grey-cascade">Recipient address</div>
                        </div>
                        <div class="col-md-4 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                            <div class="mt-step-content font-grey-cascade">Parcel details</div>
                        </div>
                        <!--/ko-->
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <span class="caption-subject font-yellow-casablanca bold uppercase">Sender Information</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">All details about sender</div>
                </div>
                <div class="actions">
                    <h3>
                        <button type="submit" class="btn btn-circle yellow-casablanca" data-bind="click: $root.saveCommand">
                            <i class="icon-arrow-right"></i>
                            <span>Next</span>
                            <i class="fa fa-spin fa-circle-o-notch" style="display: none;"></i>
                            <i class="fa fa-warning" style="color: red; display: none;"></i>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <!--<div class="md-checkbox">
                    <input type="checkbox" id="checkbox2_1" class="btn md-check" data-bind="css: { 'checked': $root.isUsingPickupAddress(), 'unchecked': !dimitri() }, checked: dimitri" "'checked': $root.toggleIsUsingPickupAddress, 'unchecked': $root.toggleIsUsingPickupAddress">
                    <label for="checkbox2_1">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <small><i data-bind="visible: !$root.isUsingPickupAddress()"> Check this box if Sender Address and Pickup Address are the same.</i></small>
                        <small><i data-bind="visible: $root.isUsingPickupAddress()"> Is using Pickup Address.</i></small>
                    </label>
                </div>-->
                <br />
                <div class="row">
                    <div class="form-group" data-bind="visible:true, with: entity">
                        <!--ko if: Pickup().Address().Postcode() != null-->
                        <label class="control-label">
                            <a class="btn btn-link" data-bind="click: $root.toggleIsUsingPickupAddress" role="button">
                                <i class="fa fa-square-o fa-2x" style="color:grey;" data-bind="visible: !$root.isUsingPickupAddress()"></i>
                                <i class="fa fa-check-square-o fa-2x" style="color:#ff6a00" data-bind="visible: $root.isUsingPickupAddress()"></i>
                            </a>
                        </label>
                        <!--<a class="btn btn-link btn-xs" data-bind="click: $root.toggleIsUsingPickupAddress">-->
                        <small><i data-bind="visible: !$root.isUsingPickupAddress()">Check this box if Sender Address and Pickup Address are the same.</i></small>
                        <small><i data-bind="visible: $root.isUsingPickupAddress()">Is using Pickup Address.</i></small>
                        <!--</a>-->
                        <!--/ko-->
                    </div>
                </div>
                <form class="form-horizontal" data-bind="with: consignment" role="form" id="consignment-request-pemberi-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible:true">
                                    <label class="control-label col-md-4">
                                        <small>Search Contact</small>
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search font-yellow-casablanca"></i>
                                            </span>
                                            <select class="form-control input-sm" placeholder="Search Contact" name="Pemberi.CompanyName" id="sender-company-name" data-bind="disable: $root.isUsingPickupAddress()"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Sender Name<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Name" data-bind="value: Pemberi().ContactPerson, disable: $root.isUsingPickupAddress()" name="ContactPerson" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Company Name</small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Company Name" data-bind="value: Pemberi().CompanyName, disable: $root.isUsingPickupAddress()" name="CompanyName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Contact No.<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" data-rule-number="true" data-rule-required="true" data-rule-minlength="7" data-rule-maxlength="12" placeholder="Contact Number" data-bind="value: Pemberi().ContactInformation().ContactNumber, disable: $root.isUsingPickupAddress()" name="ContactInformation.ContactNumber" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Email<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="email" placeholder="Email" data-bind="value: Pemberi().ContactInformation().Email, disable: $root.isUsingPickupAddress()" name="ContactInformation.Email" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Alt. Contact No.</small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Alternative Contact Number" data-rule-number="true" data-rule-minlength="7" data-rule-maxlength="12" data-bind="value: Pemberi().ContactInformation().AlternativeContactNumber, disable: $root.isUsingPickupAddress()" name="ContactInformation.AlternativeContactNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Address Line 1<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Address Line 1" data-bind="value: Pemberi().Address().Address1, disable: $root.isUsingPickupAddress()" name="Address.Address1" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Address Line 2<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Address Line 2" data-bind="value: Pemberi().Address().Address2, disable: $root.isUsingPickupAddress()" name="Address.Address2" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Address Line 3</small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Address Line 3" data-bind="value: Pemberi().Address().Address3, disable: $root.isUsingPickupAddress()" name="Address.Address3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Address Line 4</small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="Address Line 4" data-bind="value: Pemberi().Address().Address4, disable: $root.isUsingPickupAddress()" name="Address.Address4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Postcode<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <!--ko ifnot: Pemberi().Address().Country() == "MY"-->
                                        <input class="form-control input-sm" type="text" placeholder="Postcode" data-bind="value: Pemberi().Address().Postcode, disable: $root.isUsingPickupAddress()" name="Address.Postcode" required>
                                        <!--/ko-->
                                        <!--ko if: Pemberi().Address().Country() == "MY"-->
                                        <input class="form-control input-sm" minlength="5" maxlength="5" data-rule-number="true" type="text" placeholder="Postcode" data-bind="value: Pemberi().Address().Postcode, disable: $root.isUsingPickupAddress()" name="Address.Postcode" required>
                                        <!--/ko-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>City<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control input-sm" type="text" placeholder="City" data-bind="value: Pemberi().Address().City, disable: $root.isUsingPickupAddress()" name="Address.City" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>State<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <!--ko ifnot: Pemberi().Address().Country() == "MY"-->
                                        <input class="form-control input-sm" type="text" placeholder="State" data-bind="value: Pemberi().Address().State, disable: $root.isUsingPickupAddress()" name="Address.State" required>
                                        <!--/ko-->
                                        <!--ko if: Pemberi().Address().Country() == "MY"-->
                                        <select class="form-control input-sm" placeholder="State" data-bind=" visible :true, disable: $root.isUsingPickupAddress(), comboBoxLookupOptions : { value: Pemberi().Address().State, entity : 'State', valuePath : 'Name', displayPath: 'Name', query :'Id ne \'0\''}" name="Address.State" required></select>
                                        <!--/ko-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        <small>Country<span class="text-danger"> * </span></small>
                                    </label>
                                    <div class="col-md-8">
                                        <select required class="form-control input-sm" data-bind="options: $root.availableCountries, optionsText: 'Name', optionsValue: 'Abbreviation', value: Pemberi().Address().Country, disable: $root.isUsingPickupAddress(), optionsAfterRender: $root.optionsAfterRenderCountry" data-rule-required="true" style="text-transform: capitalize;"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>