<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Send Parcel </span>
        </li>
    </ul>
</div>
<div class="row mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin red">
            <div class="col-md-3 bg-grey-steel mt-step-col">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col active">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                <div class="mt-step-content font-grey-cascade">Parcel Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Order Summary</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <div class="caption-subject font-red-sunglo bold"><h2>Send Parcel</h2></div>
                <span class="caption-helper">Receiver Information</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="#" class="horizontal-form" data-bind="with: consignment">
                <div class="form-body">
                    <h3 class="form-section"> Personal Info </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Search Contact</label>
                                <select class="form-control" name="Penerima.CompanyName" id="sender-company-name"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Receiver Name</label>
                                <input required type="text" class="form-control" data-bind="value: Penerima().ContactPerson" data-rule-required="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Company Name</label>
                                <input required type="text" class="form-control" data-bind="value: Penerima().CompanyName" data-rule-required="true" name="Penerima.CompanyName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Email</label>
                                <input class="form-control" type="text" data-bind="value: Penerima().ContactInformation().Email" data-rule-required="true" name="Penerima.ContactInformation.Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Contact No.</label>
                                <input class="form-control" type="text" data-bind="value: Penerima().ContactInformation().ContactNumber" name="Penerima.ContactInformation.ContactNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Alternative Contact No.</label>
                                <input required type="text" class="form-control" data-bind="value: Penerima().ContactInformation().AlternativeContactNumber" name="Penerima.ContactInformation.AlternativeContactNumber">
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section">Address</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Address 1</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Address1" name="Penerima.Address.Address1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Address 2</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Address2" name="Penerima.Address.Address2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Address 3</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Address3" name="Penerima.Address.Address3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Address 4</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Address4" name="Penerima.Address.Address4">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Postcode</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Postcode" name="Penerima.Address.Postcode">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().City" name="Penerima.Address.City">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">State</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().State" name="Penerima.Address.State">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" data-bind="visible:true">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" data-bind="value: Penerima().Address().Country, visible :true, autocomplete :{ entity:'Country', field :'Name', query:'Id ne \'0\'' }" name="Penerima.Address.Country">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button id="save-button" class="btn btn-danger" data-bind="command: $root.saveCommand, visible :true, enable: true">
                        <i class="icon-arrow-right"></i>
                        <span> Next </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>