<h1 data-i18n="Consignment Order Custome">Consignment Order Custome</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-order-custome-form">
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Content Description" for="280f194a-fb0e-4b55-a8ab-45a67bf9b571" class="col-md-4">Content Description</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().ContentDescription"
                   id="280f194a-fb0e-4b55-a8ab-45a67bf9b571" type="text" name="CustomeDeclaration.ContentDescription" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Consignment Type" for="90fe2b2c-e2ca-45fe-c8cb-1f47ff31e7db" class="col-md-4">Consignment Type</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().ConsignmentType"
                   id="90fe2b2c-e2ca-45fe-c8cb-1f47ff31e7db" type="text" name="CustomeDeclaration.ConsignmentType" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Currency Value" for="519d578c-0cd0-446d-8538-7011e4268257" class="col-md-4">Currency Value</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().CurrencyValue"
                   id="519d578c-0cd0-446d-8538-7011e4268257" type="text" name="CustomeDeclaration.CurrencyValue" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Content Value" for="ddc4b0c7-8f6d-4b01-e20b-0215c2554d3d" class="col-md-4">Content Value</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().ContentValue"
                   id="ddc4b0c7-8f6d-4b01-e20b-0215c2554d3d" type="text" name="CustomeDeclaration.ContentValue" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Origin Manufacture" for="15f5bd56-057d-4b35-e44f-33dc6438bba7" class="col-md-4">Origin Manufacture</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().OriginManufacture"
                   id="15f5bd56-057d-4b35-e44f-33dc6438bba7" type="text" name="CustomeDeclaration.OriginManufacture" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Product" for="56c9aab5-d4e6-41c0-841d-b4b0a20721b4" class="col-md-4">Product</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().Product"
                   id="56c9aab5-d4e6-41c0-841d-b4b0a20721b4" type="text" name="CustomeDeclaration.Product" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Weight" for="195a5db8-6d05-4c04-a052-6ecb30798c40" class="col-md-4">Weight</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().Weight"
                   id="195a5db8-6d05-4c04-a052-6ecb30798c40" type="text" name="CustomeDeclaration.Weight" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Dimension" for="0cf00950-3898-4f04-ee60-2e79db023544" class="col-md-4">Dimension</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: CustomeDeclaration().Dimension"
                   id="0cf00950-3898-4f04-ee60-2e79db023544" type="text" name="CustomeDeclaration.Dimension" />
        </div>
    </div>
</form>
    </div>
    <div class="col-sm-4">
    </div>
</div>