<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Shipment </span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Summary </span>
        </li>
    </ul>
</div>
<h1 class="page-title caption-subject font-red-sunglo bold uppercase"></h1>
<small></small>
<div class="row" data-bind="with : entity">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <i class="fa fa-calculator font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Summary</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">Order Summary</div>
                </div>
                <div class="actions">
                    <h3>
                        <a class="btn btn-circle btn-sm green" data-bind="attr: { href: 'ost#consignment-request-cart/' + Id() }, css: { 'disabled': $root.isPickupDateTimeValid() }">
                            <i class="fa fa-shopping-cart"></i>
                            Shipping Cart
                        </a>
                        <a href="#" class="btn btn-circle btn-sm green" data-bind="attr: { href: 'ost#consignment-request-pemberi/' + Id() + '/consignments/0' }, css: { 'disabled': $root.isPickupDateTimeValid() }">
                            <i class="fa fa-paper-plane"></i>
                            Add Parcel
                        </a>
                        <a href="#" class="btn btn-circle btn-sm green" data-bind="click: $root.goToPayment, css: { 'disabled': !$root.isPickupDateTimeValid() }">
                            <i class="fa fa-credit-card"></i>
                            Pay Now
                        </a>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title bold">Pickup Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <h4>Pickup Number</h4>
                                    <a data-bind="click: $root.toggleShowPickupScheduleForm, visible: !$root.isPickupDateTimeValid()">Schedule a Pickup</a>
                                    <span data-bind="visible: $root.isPickupDateTimeValid()">Pending payment approval</span>
                                    <br /><br />
                                    <div data-bind="visible: $root.isPickupDateTimeValid()">
                                        <h4>Pickup Date</h4>
                                        From: <span data-bind="date:{ value: Pickup().DateReady, format:'HH:mm'}"></span><br />
                                        To: <span data-bind="date:{ value: Pickup().DateClose, format:'HH:mm'}"></span><br />
                                        Total Quantity: <span data-bind="text: Pickup().TotalQuantity"></span> parcel(s)<br />
                                        Total Weight: <span data-bind="text: Pickup().TotalWeight"></span> kg<br />
                                    </div>
                                    <div data-bind="if: $root.showPickupScheduleForm">
                                        <h4>Schedule Pickup</h4>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label">From</label>:
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <select class="form-control input-sm" data-bind="value: $root.pickupReadyHH">
                                                            <option value="02" selected>2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select class="form-control input-sm" data-bind="value: $root.pickupReadyMM">
                                                            <option value="00" selected>00</option>
                                                            <option value="30">30</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        PM
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">To</label>:
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <select class="form-control input-sm" data-bind="value: $root.pickupCloseHH">
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06" selected>6</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <select class="form-control input-sm" data-bind="value: $root.pickupCloseMM">
                                                            <option value="00">00</option>
                                                            <option value="30" selected>30</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1">
                                                        PM
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a class="btn btn-success btn-sm" data-bind="click: $root.schedulePickup"><i class="fa fa-list"></i> Schedule a Pickup</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Pickup Address</h4>
                                    <address>
                                        <strong><span class="text-capitalize" data-bind="text: Pickup().ContactPerson"></span></strong><br />
                                        <span data-bind="text: Pickup().ContactInformation().Email"></span>
                                    </address>
                                    <address>
                                        <strong><span data-bind="text: Pickup().CompanyName"></span></strong><br />
                                        <span data-bind="text: Pickup().Address().Address1"></span>&nbsp;
                                        <span data-bind="text: Pickup().Address().Address2"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Pickup().Address().Address3"></span>&nbsp;
                                        <span data-bind="text: Pickup().Address().Address4"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Pickup().Address().City"></span>&nbsp;
                                        <span data-bind="text: Pickup().Address().State"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Pickup().Address().Postcode"></span>&nbsp;
                                        <span data-bind="text: Pickup().Address().Country"></span>&nbsp;
                                        <br />
                                        <abbr title="Contact Number">Phone 1:</abbr> <span data-bind="text: Pickup().ContactInformation().ContactNumber"></span><br />
                                        <abbr title="Alternative Contact Number">Phone 2:</abbr> <span data-bind="text: Pickup().ContactInformation().AlternativeContactNumber"></span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div data-bind="visible: Consignments().length == 0">
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>No Parcel found.</h4>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: Consignments().length > 0">
                        <div class="clearfix">
                            <div class="panel panel-success">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th class="success"><center><strong>#</strong></center></th>
                                            <th class="success"><strong>Sender</strong></th>
                                            <th class="success"><strong>Receiver</strong></th>
                                            <th class="success"><strong>Weight</strong></th>
                                            <th class="success"><strong>Volume</strong></th>
                                            <th class="success"><strong>Product</strong></th>
                                            <th class="success"><strong>Total</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--ko foreach: Consignments-->
                                        <tr>
                                            <td>
                                                <center><span data-bind="text: $index() + 1"></span>.</center>
                                            </td>
                                            <td>
                                                <span class="text-capitalize" data-bind="text: Pemberi().ContactPerson"></span>
                                            </td>
                                            <td>
                                                <span class="text-capitalize" data-bind="text: Penerima().ContactPerson"></span>
                                            </td>
                                            <td>
                                                <!--ko if: Produk().Weight() != null-->
                                                <span data-bind="text: Produk().Weight() + ' kg'"></span>
                                                <!-- /ko -->
                                            </td>
                                            <td>
                                                <!--ko if: Produk().Width() != null-->
                                                <span data-bind="text: Produk().Width() + 'cm x ' + Produk().Length() + 'cm x ' + Produk().Height() + 'cm'"></span>
                                                <!-- /ko -->
                                            </td>
                                            <td>
                                                <!--ko if: Produk().IsInternational-->
                                                <!--ko if: Produk().Name()-->
                                                <span data-bind="text: Produk().Name().replace(' Contract', '')"></span>
                                                <!-- /ko -->
                                                <i class="fa fa-plane"></i>
                                                <!-- /ko -->
                                                <!--ko ifnot: Produk().IsInternational-->
                                                <!--ko if: Produk().Name()-->
                                                <span data-bind="text: Produk().Name()"></span>
                                                <!-- /ko -->
                                                <i class="fa fa-truck"></i>
                                                <!-- /ko -->
                                            </td>
                                            <td>
                                                <!--ko if: Produk().Price() != null-->
                                                RM <span data-bind="text: Produk().Price().toFixed(2)" class="pull-right"></span>
                                                <!-- /ko -->
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                        <tr>
                                            <td>&nbsp;</td>

                                            <td data-bind="visible: !$root.isPickupDateTimeValid()" colspan="5">
                                                Pickup not scheduled. Please <a data-bind="click: $root.toggleShowPickupScheduleForm">Schedule a Pickup</a> before payment can be made.
                                            </td>
                                            <td data-bind="visible: !$root.isPickupDateTimeValid()">RM <span class="pull-right">0.00</span></td>

                                            <td data-bind="visible: $root.isPickupDateTimeValid()" colspan="5">Pickup</td>
                                            <td data-bind="visible: $root.isPickupDateTimeValid()">RM <span class="pull-right">5.30</span></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td colspan="5"><strong>Grand Total</strong></td>
                                            <td>RM <span data-bind="text: $root.grandTotal" class="pull-right"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
