<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment Product</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment Summary</div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
    Receiver information
    <small>Step 2, receiver information</small>
</h1>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-request-receiver-form">
    <div class="form-body">
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Reference No." class="col-md-3 control-label" for="91a68fb8-f93c-4981-945e-866a6f3f3f03">Reference No.</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().ReferenceNo"
                data-rule-required="true" 
               id="91a68fb8-f93c-4981-945e-866a6f3f3f03" name="$root.partial.receiver.ReferenceNo">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><div class="form-group form-md-line-input" >
    <label data-i18n="Groups" class="col-md-3 control-label" for="receiver-company-name">Receiver Name</label>
    <div class="col-md-9">
        <select class="form-control" name="Receiver.CompanyName" id="receiver-company-name">
        </select>
        <div class="form-control-focus"> </div>
        <span class="help-block">Sender's name</span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Company Name" class="col-md-3 control-label" for="b85482e0-231c-4008-a218-ca095966fddc">Company Name</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().CompanyName"
                data-rule-required="true" 
               id="b85482e0-231c-4008-a218-ca095966fddc" name="$root.partial.receiver.CompanyName">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Address" data-bind="visible:true">Address</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 1" class="col-md-3 control-label" for="b3332cde-e04f-43a6-c21a-22d45b687ac6">Address 1</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Address1"
                data-rule-required="true" 
               id="b3332cde-e04f-43a6-c21a-22d45b687ac6" name="$root.partial.receiver.Address.Address1">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 2" class="col-md-3 control-label" for="b07bd0cd-7edc-447f-f031-be04d86306ff">Address 2</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Address2"
               id="b07bd0cd-7edc-447f-f031-be04d86306ff" name="$root.partial.receiver.Address.Address2">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 3" class="col-md-3 control-label" for="0ec529d3-0ef8-43d9-b8da-0883a9e408eb">Address 3</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Address3"
               id="0ec529d3-0ef8-43d9-b8da-0883a9e408eb" name="$root.partial.receiver.Address.Address3">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Address 4" class="col-md-3 control-label" for="114e9e57-ec10-439e-81ba-1a81a6558049">Address 4</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Address4"
               id="114e9e57-ec10-439e-81ba-1a81a6558049" name="$root.partial.receiver.Address.Address4">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Postcode" class="col-md-3 control-label" for="d7070c3d-c8cf-436f-c0e6-1dcd4da6dcfc">Postcode</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Postcode"
                data-rule-required="true" 
               id="d7070c3d-c8cf-436f-c0e6-1dcd4da6dcfc" name="$root.partial.receiver.Address.Postcode">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="City" class="col-md-3 control-label" for="5270f11b-a028-4cfc-8f7a-64bb229db027">City</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().City"
                data-rule-required="true" 
               id="5270f11b-a028-4cfc-8f7a-64bb229db027" name="$root.partial.receiver.Address.City">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="State" class="col-md-3 control-label" for="ecab5970-566a-4c41-8906-f8cdbd88f0dd">State</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().State"
                data-rule-required="true" 
               id="ecab5970-566a-4c41-8906-f8cdbd88f0dd" name="$root.partial.receiver.Address.State">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Country" class="col-md-3 control-label" for="7f59fb75-2965-4af9-87a2-95b4f92dba09">Country</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().Address().Country"
                data-rule-required="true" 
               id="7f59fb75-2965-4af9-87a2-95b4f92dba09" name="$root.partial.receiver.Address.Country">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div><h4 data-i18n="Contact Information" data-bind="visible:true">Contact Information</h4>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Contact Number" class="col-md-3 control-label" for="0e724af5-e897-4ddf-f100-782fe0cf2354">Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().ContactInformation().ContactNumber"
                data-rule-required="true" 
               id="0e724af5-e897-4ddf-f100-782fe0cf2354" name="$root.partial.receiver.ContactInformation.ContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Alternative Contact Number" class="col-md-3 control-label" for="1cc4df3e-ff90-4847-ff5f-79e0bb3c1675">Alternative Contact Number</label>
    <div class="col-md-9">
        <input class="input-large form-control"  type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().ContactInformation().AlternativeContactNumber"
               id="1cc4df3e-ff90-4847-ff5f-79e0bb3c1675" name="$root.partial.receiver.ContactInformation.AlternativeContactNumber">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Email" class="col-md-3 control-label" for="88aa4f98-1c29-4fab-c8af-65a12f740a8e">Email</label>
    <div class="col-md-9">
        <input class="input-large form-control" required type="text"
               placeholder=""
               data-bind="value: $root.partial.receiver().ContactInformation().Email"
                data-rule-required="true" 
               id="88aa4f98-1c29-4fab-c8af-65a12f740a8e" name="$root.partial.receiver.ContactInformation.Email">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>    </div>
</form>
    </div>
</div>