<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Shipment </span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    <small></small>
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="mt-element-step">
                    <div class="row step-thin">
                        <div class="col-md-4 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">1</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                            <div class="mt-step-content font-grey-cascade">Sender address</div>
                        </div>
                        <div class="col-md-4 bg-grey mt-step-col">
                            <div class="mt-step-number bg-white font-grey">2</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Recipient</div>
                            <div class="mt-step-content font-grey-cascade">Recipient address</div>
                        </div>
                        <div class="col-md-4 bg-grey done mt-step-col active">
                            <div class="mt-step-number bg-white font-grey">3</div>
                            <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                            <div class="mt-step-content font-grey-cascade">Parcel details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <h4>
                        <span class="caption-subject font-yellow-casablanca bold uppercase">Parcel Information</span>
                    </h4>
                    <div class="caption-desc font-grey-cascade">All details about parcel</div>
                </div>
                <div class="actions">
                    <h3>
                        <button id="save-button" class="btn btn-circle yellow-casablanca" data-bind="click: $root.saveCommand">
                            <i class="icon-arrow-right"></i>
                            <span> Next </span>
                        </button>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" id="consignment-request-produk-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label data-i18n="ItemCategory" class="col-md-3 control-label" for="c28f91ae-ae5d-448e-991f-5b4065d3464f"><small>Item Category<span class="required" aria-required="true">* </span></small></label>
                                    <div class="col-md-9">
                                        <select class="form-control input-sm" id="c28f91ae-ae5d-448e-991f-5b4065d3464f" data-bind="options: estProductService, optionsText: 'Category', optionsValue: 'CategoryCode', value: consignment().Produk().ItemCategory"></select>
                                        <span class="help-block" data-bind="if: consignment().Produk().IsInternational() == false && consignment().Produk().ItemCategory() == '01'"><small><i>Document maximum weight is 2.00kg</i></small></span>
                                        <span class="help-block" data-bind="if: consignment().Produk().IsInternational() == false && consignment().Produk().ItemCategory() == '02'"><small><i>Merchandise weigth from 0.001 to <span data-bind="text: $root.selectedCountryMaxWeight().toFixed(2)"></span>kg</i></small></span>
                                        <span class="help-block" data-bind="if: consignment().Produk().IsInternational() == true && consignment().Produk().ItemCategory() == '01'"><small><i>Document maximum weight is 1.00kg</i></small></span>
                                        <span class="help-block" data-bind="if: consignment().Produk().IsInternational() == true && consignment().Produk().ItemCategory() == '02'"><small><i>Merchandise weigth from 0.001 to <span data-bind="text: $root.selectedCountryMaxWeight().toFixed(2)"></span>kg</i></small></span>
                                    </div>
                                </div>
                                <div class="form-group " data-bind="visible:true">
                                    <label data-i18n="Weight" class="col-md-3 control-label" for="6465286c-a3af-46de-e7d8-0499b6bf7cf4"><small>Weight<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" required type="text"
                                               placeholder="Weight in kg"
                                               data-bind="value: consignment().Produk().Weight, attr:{'data-rule-max': $root.selectedCountryMaxWeight}"
                                               data-rule-number="true" data-rule-required="true"
                                               data-rule-min="0"
                                               id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Produk.Weight" />
                                        <!--<span class="help-block" data-bind="if: consignment().Penerima().Address().Country() == 'MY'"><small><i>Total weight of all pieces if this is an MPS</i></small></span>-->
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:true">
                                    <label data-i18n="Width" class="col-md-3 control-label" for="61040711-a759-4cf8-ea32-47b1cdee2f44"><small>Width<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" required type="text"
                                               placeholder="Width in cm"
                                               data-bind="value: consignment().Produk().Width"
                                               data-rule-number="true" data-rule-required="true" data-rule-min="1"
                                               id="61040711-a759-4cf8-ea32-47b1cdee2f44" name="Produk.Width" />
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:true">
                                    <label data-i18n="Length" class="col-md-3 control-label" for="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d"><small>Length<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" required type="text"
                                               placeholder="Length in cm"
                                               data-bind="value: consignment().Produk().Length"
                                               data-rule-number="true" data-rule-required="true" data-rule-min="1"
                                               id="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d" name="Produk.Length">
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:true">
                                    <label data-i18n="Height" class="col-md-3 control-label" for="a044e320-f819-4adf-fc9d-f130079818fe"><small>Height<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" required type="text"
                                               placeholder="Height in cm"
                                               data-bind="value: consignment().Produk().Height"
                                               data-rule-number="true" data-rule-required="true" data-rule-min="1"
                                               id="a044e320-f819-4adf-fc9d-f130079818fe" name="Produk.Height">
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible:true">
                                    <label class="col-md-3 control-label" data-toggle="collapse" data-target="#accordion1_1">
                                        <small>
                                            <a class="btn" title="Disclaimer"><i class="fa fa-question-circle" style="color:#ff6a00"></i></a>
                                            Volumetric Weight

                                        </small>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" type="text" placeholder="Volumetric weight in kg" data-rule-number="true" data-bind="value: $root.volumetric().toFixed(2)" name="Volumetric" disabled />
                                    </div>
                                </div>
                                <!--ko if: consignment().Penerima().Address().Country() == 'MY'-->
                                <div class="form-group">
                                    <label data-i18n="Description of Content" class="col-md-3 control-label" for="01d1c388-d629-4283-bd25-56688c166c98"><small>Description of Content<span class="required" aria-required="true"> * </span></small></label>
                                    <div class="col-md-9">
                                        <textarea class="form-control input-sm" required rows="3"
                                                  placeholder="parcel description"
                                                  data-bind="value: consignment().Produk().Description"
                                                  id="01d1c388-d629-4283-bd25-56688c166c98" name="Produk.Description"></textarea>
                                    </div>
                                </div>
                                <!--/ko-->
                                <div class="form-group">
                                    <label class="col-md-1 control-label">&nbsp;</label>
                                    <div class="col-md-11">
                                        <div id="accordion1_1" class="well collapse" aria-expanded="false">
                                            <div class="note note-warning">
                                                <h4 class="block">Disclaimer (Volumetric Weight)</h4>
                                                <p>
                                                    <ul>
                                                        <li>
                                                            Parcel weight will be determined by either actual or volumetric weight (VW) or whichever is higher.
                                                            VW also applies if either one dimension is above 30cm.
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" data-bind="visible: false">
                                    <label data-i18n="ItemProduct" class="col-md-3 control-label"><small>Item Product</small></label>
                                    <div class="col-md-9" data-bind="with: estProductService()[estProductService().findIndex(x => x.CategoryCode == consignment().Produk().ItemCategory())]">
                                        <select class="form-control input-sm" data-bind="options: Products, optionsText: 'Product', optionsValue: 'ProductCode', value: $root.consignment().Produk().Est().ItemProduct"></select>
                                    </div>
                                </div>
                                <div data-bind="visible: false, with: estProductService()[estProductService().findIndex(x => x.CategoryCode == consignment().Produk().ItemCategory())]">
                                    <div class="form-group" data-bind="with: $data.Products()[$data.Products().findIndex(x => x.ProductCode == $root.consignment().Produk().Est().ItemProduct())]">
                                        <label class="col-md-3 control-label">
                                            <small>Additional Products</small>
                                        </label>
                                        <div class="col-md-9">
                                            <div class="md-checkbox-inline" data-bind="foreach: $data.AdditionalProduct">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" class="md-check" data-bind="attr: {id: 'AddtionalProduct'+ ($index() + 1), value: name}, checked: $root.consignment().Produk().Est().AdditionalProduct">
                                                    <label for="" data-bind="attr: {for: 'AddtionalProduct'+ ($index() + 1)}">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> <i data-bind="text: name"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="with: estProductService()[estProductService().findIndex(x => x.CategoryCode == consignment().Produk().ItemCategory())]">
                                    <div class="form-group" data-bind="with: $data.Products()[$data.Products().findIndex(x => x.ProductCode == $root.consignment().Produk().Est().ItemProduct())]">

                                        <div class="form-group form-checkboxes">
                                            <label class="col-md-3 control-label" for="form_control_1">
                                                <small>Insurance</small>
                                            </label>
                                            <div class="col-md-9 md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="a" class="md-check" data-bind="checked: $root.isHasInsurance">
                                                    <label for="a">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span><small>Check this box to purchase insurance</small>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" data-bind="visible: $root.isHasInsurance(), foreach: $data.AdditionalService">
                                            <!--ko if: $index() == 0-->
                                            <label class="col-md-3 control-label">
                                                <small>Type of Insurance</small>
                                            </label>
                                            <!--/ko-->
                                            <!--ko if: name == "Zurich Insurance"-->
                                            <div class="col-md-4">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-radio">
                                                        <input type="radio" id="ValueAddedService1_1" name="ValueAddedService1" value="zurich" data-bind="checked: $root.consignment().Produk().Est().ValueAddedService" />
                                                        <label for="ValueAddedService1_1">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span><i>Zurich Insurance</i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/ko-->
                                            <!--ko if: name == "Etiqa Insurance"-->
                                            <div class="col-md-4">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-radio">
                                                        <input type="radio" id="ValueAddedService2_1" name="ValueAddedService1" value="etiqa" data-bind="checked: $root.consignment().Produk().Est().ValueAddedService" />
                                                        <label for="ValueAddedService2_1">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span><i>Etiqa Insurance</i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/ko-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible: consignment().Produk().Est().ValueAddedService() == 'etiqa'">
                                    <label data-i18n="Addon Method" class="col-md-3 control-label"><small>Insurance Package</small></label>
                                    <div class="col-md-9">
                                        <select class="form-control input-sm" data-bind="value: consignment().Produk().Est().ValueAddedServicePackage">
                                            <option value="none">Select...</option>
                                            <option value="normal">Normal Item</option>
                                            <option value="valuable">Valuable Item</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" data-bind="visible: consignment().Produk().Est().ValueAddedService() == 'zurich' || (consignment().Produk().Est().ValueAddedService() == 'etiqa' && consignment().Produk().Est().ValueAddedServicePackage() == 'normal') || (consignment().Produk().Est().ValueAddedService() == 'etiqa' && consignment().Produk().Est().ValueAddedServicePackage() == 'valuable')">
                                    <label data-i18n="sum_insured" class="col-md-3 control-label" for="sum_insured"><small></small></label>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-addon">RM</div>
                                            <input class="form-control" type="text" placeholder="" data-bind="money: consignment().Produk().ValueAddedDeclaredValue" data-rule-number="true" name="Produk.ValueAddedDeclaredValue" required />
                                        </div>
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block"><small>Sum Insured (RM)</small></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-addon">RM</div>
                                            <input class="form-control" type="text" placeholder="" data-bind="money: consignment().Produk().ValueAddedValue" data-rule-number="true" name="Produk.ValueAddedValue" disabled />
                                        </div>
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block"><small>Insured Value (RM)</small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 control-label">
                                        <small>Shipper Reference No. </small>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" type="text"
                                               placeholder="Shipper Reference No."
                                               data-bind="value: consignment().Produk().Est().ShipperReferenceNo"
                                               name="Produk.ShipperReferenceNo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 control-label">
                                        <small>Receiver Reference No. </small>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control input-sm" type="text"
                                               placeholder="Receiver Reference No."
                                               data-bind="value: consignment().Produk().Est().ReceiverReferenceNo"
                                               name="Produk.ReceiverReferenceNo" />
                                    </div>
                                </div>
                                <div class="form-group" data-bind="if: consignment().Penerima().Address().Country() == 'MY'" hidden>
                                    <label data-i18n="Addon Method" class="col-md-3 control-label" for="Others-Method"><small>Addon Method</small></label>
                                    <div class="col-md-9">
                                        <select class="form-control input-sm" id="Others-Method" data-bind="value: $root.method">
                                            <option value="none">Select...</option>
                                            <option value="mps">Multiple Piece Shipment</option>
                                            <option value="pod">Payment on Delivery</option>
                                        </select>
                                    </div>
                                </div>
                                <div data-bind="visible: $root.method() == 'mps'">
                                    <div class="form-group form-checkboxes" data-bind="if: consignment().Penerima().Address().Country() == 'MY'">
                                        <label class="col-md-3 control-label" for="form_control_1">
                                            <small>Multiple Piece Shipment</small>
                                        </label>
                                        <div class="col-md-1 md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox1_3" class="md-check" data-bind="checked: consignment().IsMps">
                                                <label for="checkbox1_3">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span><small>Yes</small>
                                                </label>
                                            </div>
                                        </div>
                                        <label class="col-md-3 control-label" for="form_control_2">
                                            <small>Total Pieces</small>
                                        </label>
                                        <div class="col-md-5">
                                            <input class="form-control input-sm" name="BabyConnotesTotal" required type="number" min="2" step="1" placeholder="" data-rule-number="true" data-rule-required="true" data-bind="value: consignment().BabyConnotesTotal, enable: consignment().IsMps">
                                            <span class="help-block"><small><i>(Including parent)</i></small></span>
                                        </div>
                                    </div>
                                </div>

                                <div data-bind="visible: $root.method() == 'pod'">
                                    <div class="row">
                                        <div class="form-group form-checkboxes" data-bind="if: consignment().Penerima().Address().Country() == 'MY'">
                                            <label class="col-md-3 control-label" for="form_control_1">
                                                <small>Payment on Delivery</small>
                                            </label>
                                            <div class="col-md-4 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio1" name="radioPod" value="cod" class="md-check" data-bind="checked: $root.selectPod">
                                                    <label for="radio1">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span><small></small>
                                                    </label>
                                                </div>
                                                <label class="control-label" for="form_control_2">
                                                    <small>Cash on Delivery</small>
                                                </label>
                                            </div>
                                            <div class="col-md-4 md-radio-inline">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio2" name="radioPod" value="ccod" class="md-check" data-bind="checked: $root.selectPod">
                                                    <label for="radio2">
                                                        <span></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span><small></small>
                                                    </label>
                                                </div>
                                                <label class="control-label" for="form_control_2">
                                                    <small>Creditcard on Delivery</small>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-3">&nbsp;</div>
                                            <div class="col-md-8">
                                                <input class="form-control input-sm" type="text"
                                                       placeholder="Creditcard on Delivery Amount"
                                                       data-bind="value: consignment().Produk().Est().CcodAmount, visible: $root.selectPod() == 'ccod'"
                                                       name="Produk.CcodAmount" data-rule-number="true" data-rule-min="0" />
                                                <input class="form-control input-sm" type="text"
                                                       placeholder="Cash on Delivery Amount"
                                                       data-bind="value: consignment().Produk().Est().CodAmount, visible: $root.selectPod() == 'cod'"
                                                       name="Produk.CodAmount" data-rule-number="true" data-rule-min="0" />
                                                <span class="help-block"><small><i>Receiver have to pay as the amount stated above</i></small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" data-bind="if: consignment().Penerima().Address().Country() != 'MY' || consignment().Produk().Est().IsBorneo() == true || (consignment().Produk().Weight() > 50 && (consignment().Penerima().Address().State()=='Sarawak' || consignment().Penerima().Address().State()=='Sabah' || consignment().Penerima().Address().State()=='Wilayah Persekutuan Labuan') )">
                                <h4>Customs Declaration</h4>
                                <div class="caption-desc font-grey-cascade">Customs Declaration is compulsory for international parcel</div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label" for="f32b2b9f-f6c7-4e82-894b-cc130b303b27"><small>Content Desc<span class="required" aria-required="true"> * </span></small></label>
                                        <input class="form-control input-sm" required type="text" placeholder="Content Desc" data-bind="value: consignment().Produk().CustomDeclaration().ContentDescription1" data-rule-required="true" id="f32b2b9f-f6c7-4e82-894b-cc130b303b27" name="Produk.CustomDeclaration.ContentDescription1">
                                        <label id="f32b2b9f-f6c7-4e82-894b-cc130b303b27-error" class="error" for="f32b2b9f-f6c7-4e82-894b-cc130b303b27" style="display: none;">This field is required.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label" for="47f4e12c-1fd8-45e2-8f35-eaf1391028dd"><small>Quantity<span class="required" aria-required="true"> * </span></small></label>
                                        <input class="form-control input-sm" required type="text" placeholder="Qty" data-bind="value: consignment().Produk().CustomDeclaration().Quantity1" data-rule-number="true" data-rule-required="true" id="47f4e12c-1fd8-45e2-8f35-eaf1391028dd" name="Produk.CustomDeclaration.Quantity1">
                                        <label id="47f4e12c-1fd8-45e2-8f35-eaf1391028dd-error" class="error" for="47f4e12c-1fd8-45e2-8f35-eaf1391028dd" style="display: none;">This field is required.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label" for="d061cb1f-a906-41e3-af6e-dc580f2e13df"><small>Weight (KG)<span class="required" aria-required="true"> * </span></small></label>
                                        <input type="text" required placeholder="Weight" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Weight1" data-rule-number="true" data-rule-required="true" id="d061cb1f-a906-41e3-af6e-dc580f2e13df" name="Produk.CustomDeclaration.Weight1">
                                        <label id="d061cb1f-a906-41e3-af6e-dc580f2e13df-error" class="error" for="d061cb1f-a906-41e3-af6e-dc580f2e13df" style="display: none;">This field is required.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label" for="bda77e50-1d8c-4576-a551-0e5b06718756"><small>Value (MYR)<span class="required" aria-required="true"> * </span></small></label>
                                        <input type="text" required placeholder="Value" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Value1" data-rule-number="true" data-rule-required="true" id="bda77e50-1d8c-4576-a551-0e5b06718756" name="Produk.CustomDeclaration.Value1">
                                        <label id="bda77e50-1d8c-4576-a551-0e5b06718756-error" class="error" for="bda77e50-1d8c-4576-a551-0e5b06718756" style="display: none;">This field is required.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><small>Origin Country<span class="required" aria-required="true"> * </span></small></label>
                                        <input type="text" placeholder="Origin Country" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().OriginCountry1" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Content Desc" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().ContentDescription2">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Qty" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Quantity2">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Weight" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Weight2">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Value" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Value2">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Origin Country" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().OriginCountry2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Content Desc" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().ContentDescription3">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Qty" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Quantity3">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Weight" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Weight3">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Value" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().Value3">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Origin Country" class="form-control input-sm" data-bind="value: consignment().Produk().CustomDeclaration().OriginCountry3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
