<h1>Consignment Requests List</h1>
<br /><br /><br />
<div class="row">
    <div class="col-md-6 well well-sm">
        <form>
            <div class="form-group">
                <label class="col-md-3">Date</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <input type="checkbox" data-bind="checked: useDate" /> Use Date
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: useDate">
                        <div class="col-md-6">
                            Date From
                            <input class="form-control" id="DateFrom" name="DateFrom" data-bind="value: dateFrom" placeholder="Date" aria-required="true" />
                        </div>
                        <div class="col-md-6">
                            Date To
                            <input class="form-control" id="DateTo" name="DateTo" data-bind="value: dateTo" placeholder="Date" aria-required="true" />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Field</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <input type="checkbox" data-bind="checked: useField" /> Use Field
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: useField">
                        <div class="col-md-6">
                            Field Type
                            <select class="form-control col-md-5" data-bind="options: availableQueries, optionsText: 'fieldName', optionsValue: 'fieldText', value: fieldType"></select>
                        </div>
                        <div class="col-md-6">
                            Field Value
                            <input type="text" class="form-control col-md-5" name="ConNote" data-bind="value: fieldValue" placeholder="Field Value" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button class="btn btn-primary" type="button" data-bind="click: search">Search</button>
            <button class="btn btn-default" type="button" data-bind="click: clearSearch">Clear</button>
        </form>
    </div>
    <div class="col-md-8">&nbsp;</div>
</div>
<div class="row">
    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-xs">
            <a class="btn btn-primary" title="Next Page" data-bind="click: previousPage, css: { 'disabled': !hasPreviousPage() }">&laquo;</a>
            <a class="btn btn-default disabled">Page <span data-bind="text: page">1</span></a>
            <a class="btn btn-primary" title="Previous Page" data-bind="click: nextPage, css: { 'disabled': !hasNextPage() }">&raquo;</a>
        </div>
        &nbsp;&nbsp;&nbsp;
        <select id="pager-page-size" data-bind="options: availablePageSize, value: size"></select>
        items per page
        &nbsp;&nbsp;&nbsp;
        <!--ko if: count() > 0-->
        <span data-bind="text: (1 + ((page() - 1) * size()))"></span>
        -
        <span data-bind="text: ((size() + ((page() - 1) * size())) < count()) ? (size() + ((page() - 1) * size())) : count()"></span>
        of
        <!--/ko-->
        <span data-bind="text: count()"></span>
        item(s)
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-link btn-xs" title="Reload Page" data-bind="click: reloadPage"><i class="fa fa-repeat"></i></a>
        &nbsp;&nbsp;&nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ReferenceNo</th>
                    <th>User Id</th>
                    <th>Pickup No</th>
                    <th>Pickup Address</th>
                    <th>Pickup Date</th>
                    <th>Quantity</th>
                    <th>Weight (kg)</th>
                    <th>Consignments</th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody data-bind="foreach :list">
                <tr data-bind="">
                    <td data-bind="text:ReferenceNo"></td>
                    <td data-bind="text:UserId"></td>
                    <td>                        
                        <!--ko if: Pickup.Number != undefined-->
                        <a class="btn btn-xs btn-default" href="#" data-bind="click: $root.showPickupDetailsDialog">
                            <span data-bind="text: Pickup.Number"></span>
                        </a>
                        <!--/ko-->
                    </td>
                    <td>
                        <!--ko if: Pickup.Number != undefined-->
                        <p>
                            <span data-bind="text: Pickup.ContactPerson"></span>
                            &nbsp;(<span data-bind="text: Pickup.ContactInformation.ContactNumber"></span>)
                        </p>
                        <br />
                        <p class="address">
                            <span data-bind="text: Pickup.Address.Address1"></span>
                            &nbsp;<span data-bind="text: Pickup.Address.Address2"></span>
                            &nbsp;<span data-bind="text: Pickup.Address.Address3"></span>
                            <!--ko if: Pickup.Address.Address3 != ""-->&nbsp;<span data-bind="text: Pickup.Address.Address4"></span><!--/ko-->
                            <!--ko if: Pickup.Address.Address4 != ""-->&nbsp;<span data-bind="text: Pickup.Address.Postcode"></span><!--/ko-->
                            &nbsp;<span data-bind="text: Pickup.Address.City"></span>
                            &nbsp;<span data-bind="text: Pickup.Address.State"></span>
                            &nbsp;<span data-bind="text: Pickup.Address.Country"></span>
                        </p>
                        <!--/ko-->
                    </td>
                    <td>
                        <span data-bind="date:{ value: Pickup.DateReady, format:'YYYY-MM-DD'}"></span>
                    </td>
                    <td data-bind="text:Consignments.length"></td>
                    <td data-bind="text:Pickup.TotalWeight.toFixed(2)"></td>
                    <td>
                        <!--ko foreach: Consignments-->
                        <!--ko if: ConNote != undefined-->
                        <a class="btn btn-xs btn-default" href="#" data-bind="click: $root.showConsignmentDetailsDialog.bind($data, $parent.Id)">
                            <span data-bind="text: ConNote"></span>
                        </a>&nbsp;
                        <!--/ko-->
                        <!--/ko-->
                    </td>
                    <td data-bind="text: Designation"></td>
                </tr>
            </tbody>
        </table>
        <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
    </div>
</div>
