<div class="mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin">
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment Product</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col ">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receivers</div>
                <div class="mt-step-content font-grey-cascade">Receivers Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col  active">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment Summary</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-red-sunglo bold"><h2>Bulk Consignment Summary</h2></span>
                    <span class="caption-helper">Summary Information</span>
                </div>
            </div>

            <div class="invoice">
                <div class="row invoice-logo">
                    <div class="col-xs-6 invoice-logo-space">
                        <img src="../assets/admin/pages/media/invoice/posost.png" class="img-responsive" alt="" />
                    </div>
                    <div class="col-xs-6">
                        <p>
                            #EM2234563MY / 27 Dec 2016
                            <span class="muted"> Consignment Ref </span>
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Sender:</h3>
                        <ul class="list-unstyled">
                            <li> Osman J </li>
                            <li> Bespoke Technology </li>
                            <li> No 1 Jalan Elektron U16/100 </li>
                            <li> Seksyen 16 </li>
                            <li> Denai Alam </li>
                            <li> 40160 Shah Alam </li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>Description:</h3>
                        <ul class="list-unstyled">
                            <li> Set of glass </li>
                            <li> Send to 3 receiver </li>
                            <li> No Pickup Request </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 invoice-payment">
                        <h3>Service Product:</h3>
                        <ul class="list-unstyled">
                            <li>
                                <strong>POS Laju:</strong> Next Day Delivery
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Receiver </th>
                                    <th class="hidden-xs"> Description </th>
                                    <th class="hidden-xs"> Service </th>
                                    <th class="hidden-xs"> Destination </th>
                                    <th> Total </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td> Mas Ayu Husna Mohamad </td>
                                    <td class="hidden-xs"> Bulk - Set of glass </td>
                                    <td class="hidden-xs"> Pos Laju - Next Day Delivery </td>
                                    <td class="hidden-xs"> (31000) Perak </td>
                                    <td> RM8.50 </td>
                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td> Zulkarnin Zainol </td>
                                    <td class="hidden-xs"> Bulk - Set of glass </td>
                                    <td class="hidden-xs"> Pos Laju - Next Day Delivery </td>
                                    <td class="hidden-xs"> (14400) Pulau Pinang </td>
                                    <td> RM8.50 </td>
                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td> Mohamad Fadzil Abd Manaf </td>
                                    <td class="hidden-xs"> Bulk - Set of glass </td>
                                    <td class="hidden-xs"> Pos Laju - Next Day Delivery </td>
                                    <td class="hidden-xs"> (11596) Sabah </td>
                                    <td> RM10.50 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="well">
                            <address>
                                <strong>Bespoke Technology Sdn Bhd</strong>
                                <br /> No 226, Block A Damansara Intan e-Buisness Park
                                <br /> No 1 Jalan SS 20/27
                                <br /> 47400 Petaling Jaya, Selangor
                                <abbr title="Phone">P:</abbr> (+60)16-6666717
                            </address>
                            <address>
                                <strong>Signature</strong>
                                <br /> Osman J
                                <br /><a href="mailto:#"> osman@bespoke.com.my </a>
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-8 invoice-block">
                        <ul class="list-unstyled amounts">
                            <li>
                                <strong>Sub - Total amount:</strong> RM27.50
                            </li>
                            <li>
                                <strong>Discount:</strong> 2%
                            </li>
                            <li>
                                <strong>VAT:</strong> -----
                            </li>
                            <li>
                                <strong>Grand Total:</strong> RM26.95
                            </li>
                        </ul>
                        <br />
                        <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                            Print
                            <i class="fa fa-print"></i>
                        </a>
                        <a class="btn btn-lg green hidden-print margin-bottom-5">
                            Submit
                            <i class="fa fa-check"></i>
                        </a>

                        <button class="btn btn-default mt-sweetalert" data-title="Do you agree to the Terms and Conditions?" data-message="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum."
                                data-type="info" data-show-confirm-button="true" data-confirm-button-class="btn-success" data-show-cancel-button="true" data-cancel-button-class="btn-default" data-close-on-confirm="false" data-close-on-cancel="false" data-confirm-button-text='Yes, I agree'
                                data-cancel-button-text='No, I disagree' data-popup-title-success="Thank you" data-popup-message-success="You have agreed to our Terms and Conditions" data-popup-title-cancel="Cancelled" data-popup-message-cancel="You have disagreed to our Terms and Conditions">
                            Agree to Terms & Conditions
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal" data-bind="with : entity" id="consignment-request-summary-bulk-form">
            <div class="form-body">
                <div class="form-group form-md-line-input" data-bind="visible:true">
                    <label data-i18n="Date From" class="col-md-3 control-label" for="5740eb59-8d0d-4cc5-91a7-096e7be84a74">Date From</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text"
                               placeholder=""
                               data-bind="kendoDate: DateFrom, enable :true"
                               id="5740eb59-8d0d-4cc5-91a7-096e7be84a74" name="DateFrom">
                        <div class="form-control-focus"> </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group form-md-line-input" data-bind="visible:true">
                    <label data-i18n="Date To" class="col-md-3 control-label" for="79cc5446-bc88-4612-b204-bde33f148cd0">Date To</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text"
                               placeholder=""
                               data-bind="kendoDate: DateTo, enable :true"
                               id="79cc5446-bc88-4612-b204-bde33f148cd0" name="DateTo">
                        <div class="form-control-focus"> </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group form-md-line-input" data-bind="visible:true">
                    <label data-i18n="Company Name" class="col-md-3 control-label" for="27d2c008-f7a5-40b2-de67-3054df67ce7a">Company Name</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text"
                               placeholder=""
                               data-bind="value: CompanyName"
                               id="27d2c008-f7a5-40b2-de67-3054df67ce7a" name="CompanyName">
                        <div class="form-control-focus"> </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div data-bind="visible:true">
                    <span> Receivers</span>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service</th>
                                <th>Payment method</th>
                                <th>Weight</th>
                                <th>Receiver State</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :Receivers">
                            <tr>
                                <td data-bind="text:CompanyName"></td>
                                <td data-bind="text:$root.entity().Product().Name"></td>
                                <td data-bind="text:$root.entity().Product().Name"></td>
                                <td data-bind="text:$root.entity().Product().Weight"></td>
                                <td data-bind="text:Address().State"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>-->