<h1 data-i18n="Consignment Order Info">Consignment Order Info</h1>
<div id="error-list" class="row" data-bind="visible:errors().length">
    <!-- ko foreach : errors -->
    <div class="col-sm-8 col-sm-offset-2 alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-exclamation"></i>
        <span data-bind="text:Message"></span>
    </div>
    <div class="col-sm-2"></div>
    <!-- /ko-->
</div>
<div class="row">
    <div class="col-sm-8">
<form class="form-horizontal" data-bind="with : entity" id="consignment-order-info-form">
    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Product" for="53a71d11-6b88-4451-e337-13eb2856766a" class="col-md-4">Product</label>
        <div class="col-md-8">
            <select  data-bind="value: OrderInfo().Product, enable :true" id="53a71d11-6b88-4451-e337-13eb2856766a" name="OrderInfo.Product" class="input-large form-control">
                    <option value="ParcelDomestic" data-i18n="Parcel Domestic">Parcel Domestic</option>
                    <option value="ParcelInternational" data-i18n="Parcel International">Parcel International</option>
                    <option value="PosLajuDomestic" data-i18n="PosLaju Domestic">PosLaju Domestic</option>
                    <option value="PosLajuInternational" data-i18n="PosLaju International">PosLaju International</option>
                    <option value="ReadersDigestParcel" data-i18n="Readers Digest Parcel">Readers Digest Parcel</option>
            </select>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Region" for="d21aac89-4181-4bb0-ebf7-9727a7b11291" class="col-md-4">Region</label>
        <div class="col-md-8">
            <select  data-bind="value: OrderInfo().Region, enable :true" id="d21aac89-4181-4bb0-ebf7-9727a7b11291" name="OrderInfo.Region" class="input-large form-control">
                    <option value="0" data-i18n="Select">Select</option>
                    <option value="EastMalaysia" data-i18n="East Malaysia">East Malaysia</option>
                    <option value="PeninsularMalaysia" data-i18n="Peninsular Malaysia">Peninsular Malaysia</option>
            </select>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Item Category" for="e044c866-7e15-4e2e-f64f-4cc7b201038e" class="col-md-4">Item Category</label>
        <div class="col-md-8">
            <select  data-bind="value: OrderInfo().ItemCategory, enable :true" id="e044c866-7e15-4e2e-f64f-4cc7b201038e" name="OrderInfo.ItemCategory" class="input-large form-control">
                    <option value="0" data-i18n="Select">Select</option>
                    <option value="Document" data-i18n="Document">Document</option>
                    <option value="Merchandise" data-i18n="Merchandise">Merchandise</option>
                    <option value="CreditCard" data-i18n="Credit Card">Credit Card</option>
                    <option value="Prepaid" data-i18n="Prepaid">Prepaid</option>
                    <option value="Parcel" data-i18n="Parcel">Parcel</option>
            </select>
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Volume" for="17c816ba-9fa9-468e-e0db-e4bc135a83a2" class="col-md-4">Volume</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().Volume().Height"
                   id="17c816ba-9fa9-468e-e0db-e4bc135a83a2" type="text" name="OrderInfo.Volume.Height" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="" for="59ad3472-e3c6-45ad-db7a-4cd7eb5d1587" class="col-md-4"></label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().Volume().Lenght"
                   id="59ad3472-e3c6-45ad-db7a-4cd7eb5d1587" type="text" name="OrderInfo.Volume.Lenght" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="" for="27bc642c-e8cc-4eec-d4e9-b136ff05ba96" class="col-md-4"></label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().Volume().Width"
                   id="27bc642c-e8cc-4eec-d4e9-b136ff05ba96" type="text" name="OrderInfo.Volume.Width" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Weight" for="218c1e2e-dd04-4954-bb03-65ff727b7fc3" class="col-md-4">Weight</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().Volume().Weight"
                   id="218c1e2e-dd04-4954-bb03-65ff727b7fc3" type="text" name="OrderInfo.Volume.Weight" />
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Dimension Weight" for="5ec8af14-3373-4133-d435-c0f92daff90e" class="col-md-4">Dimension Weight</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().DimensionWeight"
                   id="5ec8af14-3373-4133-d435-c0f92daff90e" type="text" name="OrderInfo.DimensionWeight" />
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <label data-i18n="Contents" for="6a52eae9-d901-4c76-b1a6-a35c6f117564" class="col-md-4">Contents</label>
        <div class="col-md-8">
            <select  data-bind="value: OrderInfo().Contents, enable :true" id="6a52eae9-d901-4c76-b1a6-a35c6f117564" name="OrderInfo.Contents" class="input-large form-control">
                    <option value="0" data-i18n="Select">Select</option>
                    <option value="FarmProductsNormal" data-i18n="Farm Products(Normal)">Farm Products(Normal)</option>
                    <option value="FarmProductsFreeze" data-i18n="Farm Products(Freeze/Cold Storage)">Farm Products(Freeze/Cold Storage)</option>
                    <option value="MarineProductsNormanl" data-i18n="Marine Products(Normanl)">Marine Products(Normanl)</option>
                    <option value="MarineProductsFreeze" data-i18n="Marine Products(Freeze/Cold Storage)">Marine Products(Freeze/Cold Storage)</option>
                    <option value="LivestockProductsNormanl" data-i18n="Livestock Products(Normanl)">Livestock Products(Normanl)</option>
                    <option value="LivestockProductsFreeze" data-i18n="Livestock Products(Freeze/Cold Storage)">Livestock Products(Freeze/Cold Storage)</option>
                    <option value="Electronics" data-i18n="Electronics">Electronics</option>
                    <option value="Books" data-i18n="Books">Books</option>
                    <option value="MusicVideoInstrument" data-i18n="Music/Video/Instrument">Music/Video/Instrument</option>
                    <option value="ChildBabyProducts" data-i18n="Child/Baby Products">Child/Baby Products</option>
                    <option value="MedicalTreatment" data-i18n="Medical Treatment">Medical Treatment</option>
                    <option value="Flower" data-i18n="Flower">Flower</option>
                    <option value="Sports" data-i18n="Sports">Sports</option>
                    <option value="LifeCarsProducts" data-i18n="Life/Cars Products">Life/Cars Products</option>
                    <option value="ClosingFashion" data-i18n="Closing/Fashion">Closing/Fashion</option>
                    <option value="BeautyProducts" data-i18n="Beauty Products">Beauty Products</option>
                    <option value="OfficeWork" data-i18n="Office Work">Office Work</option>
            </select>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().HightValue, enable :true" id="OrderInfo().Treat().HightValue" type="checkbox"
                           name="OrderInfo.Treat.HightValue"/>
                    <span data-i18n="Treat -HightValue">Treat -HightValue</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().Normal, enable :true" id="OrderInfo().Treat().Normal" type="checkbox"
                           name="OrderInfo.Treat.Normal"/>
                    <span data-i18n="Normal">Normal</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().NextDayDelivery, enable :true" id="OrderInfo().Treat().NextDayDelivery" type="checkbox"
                           name="OrderInfo.Treat.NextDayDelivery"/>
                    <span data-i18n="Next Day Delivery">Next Day Delivery</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().SameDayDelivery, enable :true" id="OrderInfo().Treat().SameDayDelivery" type="checkbox"
                           name="OrderInfo.Treat.SameDayDelivery"/>
                    <span data-i18n="Same Day Delivery">Same Day Delivery</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().TimeCertainService, enable :true" id="OrderInfo().Treat().TimeCertainService" type="checkbox"
                           name="OrderInfo.Treat.TimeCertainService"/>
                    <span data-i18n="Time Certain Service">Time Certain Service</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().DangerousGoods, enable :true" id="OrderInfo().Treat().DangerousGoods" type="checkbox"
                           name="OrderInfo.Treat.DangerousGoods"/>
                    <span data-i18n="Dangerous Goods">Dangerous Goods</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" data-bind="visible:true">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label class="checkbox">
                    <input data-bind="checked : OrderInfo().Treat().DropOption, enable :true" id="OrderInfo().Treat().DropOption" type="checkbox"
                           name="OrderInfo.Treat.DropOption"/>
                    <span data-i18n="Drop Option">Drop Option</span>
                </label>
            </div>
        </div>
    </div>
    <div data-bind="visible:true" class="form-group">
        <label data-i18n="Price" for="4d7ebc35-d817-425b-e1df-fed3cd7371aa" class="col-md-4">Price</label>
        <div class="col-md-8">
            <input class="form-control input-large"
                   data-bind="value: OrderInfo().Price"
                   id="4d7ebc35-d817-425b-e1df-fed3cd7371aa" type="text" name="OrderInfo.Price" />
        </div>
    </div>
<button data-bind="command : $root.deleteCommand, visible :true, enable: true" class="">Calculate</button>
</form>
    </div>
    <div class="col-sm-4">
    </div>
</div>