<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#"> Home </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Send Parcel </span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> Parcel </span>
        </li>
    </ul>
</div>
<div class="row mt-element-step">
    <div class="mt-element-step">
        <div class="row step-background-thin red">
            <div class="col-md-3 bg-grey-steel mt-step-col">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Pickup</div>
                <div class="mt-step-content font-grey-cascade">Pickup Location</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col active">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Parcel</div>
                <div class="mt-step-content font-grey-cascade">Parcel Information</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <div class="caption-subject font-red-sunglo bold"><h2>Send Parcel</h2></div>
                <span class="caption-helper">Parcel Information</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="#" class="horizontal-form" id="consignment-request-produk-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="form-section" data-bind="visible:true">Parcel Details</h3>
                            <div class="row form-group " data-bind="if: consignment().Penerima().Address().Country() != 'MY'">
                                <label data-i18n="ItemCategory" class="col-md-4 control-label" for="c28f91ae-ae5d-448e-991f-5b4065d3464f">Item Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"
                                            data-bind="value: consignment().Produk().ItemCategory"
                                            id="c28f91ae-ae5d-448e-991f-5b4065d3464f" name="Produk.ItemCategory">
                                        <option value="Document">Document (Less than 1.000kg)</option>
                                        <option value="Merchandise">Merchandise (From 0.001 to 30.000kg)</option>
                                    </select>
                                    <span class="help-block">&nbsp;</span>
                                </div>
                            </div>
                            <div class="row form-group " data-bind="visible:true">
                                <label data-i18n="Weight" class="col-md-4 control-label" for="6465286c-a3af-46de-e7d8-0499b6bf7cf4">Weight<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input class="form-control" required type="text"
                                           placeholder=""
                                           data-bind="value: consignment().Produk().Weight"
                                           data-rule-number="true" data-rule-required="true"
                                           data-rule-min="0"
                                           data-rule-max="30"
                                           id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Produk.Weight">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Weight in kg</span>
                                </div>
                            </div>
                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Width" class="col-md-4 control-label" for="61040711-a759-4cf8-ea32-47b1cdee2f44">Width<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input class="form-control" required type="text"
                                           placeholder=""
                                           data-bind="value: consignment().Produk().Width"
                                           data-rule-number="true" data-rule-required="true"
                                           id="61040711-a759-4cf8-ea32-47b1cdee2f44" name="Produk.Width">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Width in cm</span>
                                </div>
                            </div>
                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Length" class="col-md-4 control-label" for="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d">Length<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input class="form-control" required type="text"
                                           placeholder=""
                                           data-bind="value: consignment().Produk().Length"
                                           data-rule-number="true" data-rule-required="true"
                                           id="38c9d5fd-8458-4ce4-9575-da6edf8b0c9d" name="Produk.Length">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Length in cm</span>
                                </div>
                            </div>
                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Height" class="col-md-4 control-label" for="a044e320-f819-4adf-fc9d-f130079818fe">Height<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input class="form-control" required type="text"
                                           placeholder=""
                                           data-bind="value: consignment().Produk().Height"
                                           data-rule-number="true" data-rule-required="true"
                                           id="a044e320-f819-4adf-fc9d-f130079818fe" name="Produk.Height">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Height in cm</span>
                                </div>
                            </div>

                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Volumetric" class="col-md-4 control-label" for="92b7aa5e-3ce5-4b46-9877-f1fd62fab1ce">Volumetric Weight</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text"
                                           placeholder=""
                                           data-bind="value: $root.volumetric().toFixed(2)"
                                           data-rule-number="true"
                                           id="92b7aa5e-3ce5-4b46-9877-f1fd62fab1ce" name="Volumetric" disabled />
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Volumetric weight in kg</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <h3 class="form-section" data-bind="visible:true">Description</h3>
                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Description" class="col-md-4 control-label" for="01d1c388-d629-4283-bd25-56688c166c98">Description<span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <textarea class="form-control" required rows="3" 
                                              placeholder=""
                                              data-bind="value: consignment().Produk().Description"
                                              id="01d1c388-d629-4283-bd25-56688c166c98" name="Produk.Description"></textarea>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Parcel description</span>
                                </div>
                            </div>
                            <h3 class="form-section" data-bind="visible:true">Price</h3>
                            <div class="row form-group" data-bind="visible:true">
                                <label data-i18n="Price" class="col-md-4 control-label" for="6465286c-a3af-46de-e7d8-9499b6bf7cf4">Price</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">RM</div>
                                        <input class="form-control" type="text"
                                               placeholder=""
                                               data-bind="money: consignment().Produk().Price"
                                               id="6465286c-a3af-46de-e7d8-0499b6bf7cf4" name="Produk.Price" disabled />
                                    </div>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">Calculated Price</span>
                                </div>
                            </div>
                            <div data-bind="if: products().length > 0">
                                <div class="row form-group">
                                    <div data-bind="with: products()[0]">
                                        <div class="col-md-4">&nbsp;</div>
                                        <div class="col-md-8">
                                            <div class="col-md-4 text-success">
                                                <input type="checkbox" data-bind="checked: true" disabled />
                                                <i class="fa fa-archive fa-4x"></i>
                                                <h5><span data-bind="text: Code"></span> / <span data-bind="text: Description"></span></h5>
                                            </div>
                                            <div class="col-md-4 text-success">
                                                <input type="checkbox" data-bind="checked: true" disabled />
                                                <!--ko if: IsInternational-->
                                                <i class="fa fa-plane fa-4x"></i>
                                                <!-- /ko -->
                                                <!--ko ifnot: IsInternational-->
                                                <i class="fa fa-truck fa-4x"></i>
                                                <!-- /ko -->
                                                <h5><span data-bind="text: Name"></span></h5>
                                            </div>
                                            <div data-bind="with: ValueAddedServices()[0]">
                                                <div class="col-md-4 text-success">
                                                    <input type="checkbox" data-bind="checked: IsSelected" />
                                                    <i class="fa fa-shield fa-4x"></i>
                                                    <h5><span data-bind="text: Name"></span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="with: products()[0]">
                                <div data-bind="with: ValueAddedServices()[0]">
                                    <!--ko if: IsSelected-->
                                    <div data-bind="with: UserInputs()[0]">
                                        <div class="row form-group" data-bind="visible:true">
                                            <label data-i18n="Weight" class="col-md-4 control-label" for="b85482e0-231c-4008-a218-ca095966fddc">Insurance</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">RM</div>
                                                    <input class="form-control" required type="text"
                                                           placeholder=""
                                                           data-bind="money: Value"
                                                           data-rule-number="true" data-rule-required="true"
                                                           id="b85482e0-231c-4008-a218-ca095966fddc" name="Produk.DeclaredValue" />
                                                </div>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block">Declared Value</span>
                                                <div class="input-group">
                                                    <div class="input-group-addon">RM</div>
                                                    <input class="form-control" required type="text"
                                                           placeholder=""
                                                           data-bind="money: $parent.Value"
                                                           data-rule-number="true" data-rule-required="true"
                                                           id="b85482e0-231c-4008-a218-ca095966fddc" name="Produk.Charge" disabled />
                                                </div>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block">Charged Value</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="row form-group">
                                <!--ko ifnot: products().length > 0-->
                                <div class="col-md-4">&nbsp;</div>
                                <div class="col-md-8">
                                    <button data-bind="command : $root.findProductsAsync" class="btn btn-info">
                                        <i class="fa fa-calculator"></i>
                                        Calculate Price
                                    </button>
                                </div>
                                <!-- /ko -->
                                <!--ko if: products().length > 0-->
                                <div data-bind="with: products()[0]">
                                    <div class="col-md-4">&nbsp;</div>
                                    <div class="col-md-8">
                                        <button data-bind="command : $root.recalculatePrice.call($root, $data)" class="btn btn-info">
                                            <i class="fa fa-calculator"></i>
                                            Recalculate Price
                                        </button>                                        
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="form-actions right">
                <button id="save-button" class="btn btn-danger" data-bind="click: $root.saveCommand, visible :true, enable: consignment().Produk().Price() != 0">
                    <i class="icon-arrow-right"></i>
                    <span> Next </span>
                </button>
            </div>
            <div data-bind="if: false">
                <div data-bind="if: products().length > 0">
                    <h4>Products</h4>
                    <ul data-bind="foreach: products">
                        <li>
                            <label>Code</label>: <span data-bind="text: Code"></span><br />
                            <label>DeliverySla</label>: <span data-bind="text: DeliverySla"></span><br />
                            <label>Description</label>: <span data-bind="text: Description"></span><br />
                            <label>Name</label>: <span data-bind="text: Name"></span><br />
                            <h4>Value Added Services</h4>
                            <ul data-bind="foreach: ValueAddedServices">
                                <li>
                                    <input type="checkbox" data-bind="checked: IsSelected" /> <label>Name</label>: <span data-bind="text: Name"></span><br />
                                    <!--ko if: IsSelected-->
                                    <h4>User Inputs</h4>
                                    <ul data-bind="foreach: UserInputs">
                                        <li>
                                            <label>Name</label>: <span data-bind="text: Name"></span><br />
                                            <label>Value</label>: RM <input type="number" data-bind="value: Value" /><br />
                                            <label>Charge</label>: RM <input type="number" data-bind="value: $parent.Value" /><br />
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                </li>
                            </ul>
                            <button class="btn btn-info" data-bind="command : $root.recalculatePrice.call($root, $data)">
                                <i class="fa fa-calculator"></i>
                                Calculate Price
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>