<div class="form-group form-md-line-input" data-bind="visible:true">
    <label data-i18n="Contact Person" class="col-md-3 control-label" for="54de0da6-4987-457e-fec4-6c65f1c47ada">Contact Person</label>
    <div class="col-md-9">
        <input class="form-control" type="text"
               placeholder=""
               data-bind="value: ContactPerson"
               id="54de0da6-4987-457e-fec4-6c65f1c47ada" name="ContactPerson">
        <div class="form-control-focus"> </div>
        <span class="help-block"></span>
    </div>
</div>

<h1 class="page-title"> Welcome
                            <small> @User.Identity.Name </small>
                        </h1>
