<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>User Dashboard</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <div class="caption-subject font-red-sunglo bold"><h2>User Dashboard</h2></div>
                <span class="caption-helper">User Details and Activities</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row" data-bind="with: entity">
                <div class="col-md-12">
                    <div class="page-header"><h3>Contacts</h3></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel-heading">
                                <strong>Personal Details</strong>
                                <div class="pull-right">
                                    <span><i class="fa fa-pencil-square-o" data-bind="click: $root.launchUserDetailProfileDialog"></i></span>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <address>
                                        <strong><span data-bind="text: Profile().ContactPerson"></span></strong><br />
                                        <span data-bind="text: Profile().ContactInformation().Email"></span>
                                    </address>
                                    <address>
                                        <strong><span data-bind="text: Profile().CompanyName"></span></strong><br />
                                        <span data-bind="text: Profile().Address().Address1"></span>&nbsp;
                                        <span data-bind="text: Profile().Address().Address2"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Profile().Address().Address3"></span>&nbsp;
                                        <span data-bind="text: Profile().Address().Address4"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Profile().Address().Postcode"></span>&nbsp;
                                        <span data-bind="text: Profile().Address().City"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: Profile().Address().State"></span>&nbsp;
                                        <!--<span data-bind="text: Profile().Address().Country"></span>-->Malaysia&nbsp;
                                        <br />
                                        <!--ko if: Profile().ContactInformation().ContactNumber() != null-->
                                        <abbr title="Contact Number">Phone 1:</abbr> <span data-bind="text: Profile().ContactInformation().ContactNumber"></span><br />
                                        <!--/ko-->
                                        <!--ko if: Profile().ContactInformation().AlternativeContactNumber() != null-->
                                        <abbr title="Alternative Contact Number">Phone 2:</abbr> <span data-bind="text: Profile().ContactInformation().AlternativeContactNumber"></span>
                                        <!--/ko-->
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Default Billing Address</strong>
                                    <div class="pull-right">
                                        <span><i class="fa fa-pencil-square-o" data-bind="click: $root.launchUserDetailBillingAddressDialog"></i></span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <address>
                                        <strong><span data-bind="text: BillingAddress().ContactPerson"></span></strong><br />
                                        <span data-bind="text: BillingAddress().ContactInformation().Email"></span>
                                    </address>
                                    <address>
                                        <strong><span data-bind="text: BillingAddress().CompanyName"></span></strong><br />
                                        <span data-bind="text: BillingAddress().Address().Address1"></span>&nbsp;
                                        <span data-bind="text: BillingAddress().Address().Address2"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: BillingAddress().Address().Address3"></span>&nbsp;
                                        <span data-bind="text: BillingAddress().Address().Address4"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: BillingAddress().Address().Postcode"></span>&nbsp;
                                        <span data-bind="text: BillingAddress().Address().City"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: BillingAddress().Address().State"></span>&nbsp;
                                        <!--<span data-bind="text: BillingAddress().Address().Country"></span>-->Malaysia&nbsp;
                                        <br />
                                        <!--ko if: BillingAddress().ContactInformation().ContactNumber() != null-->
                                        <abbr title="Contact Number">Phone 1:</abbr> <span data-bind="text: BillingAddress().ContactInformation().ContactNumber"></span><br />
                                        <!--/ko-->
                                        <!--ko if: BillingAddress().ContactInformation().AlternativeContactNumber() != null-->
                                        <abbr title="Alternative Contact Number">Phone 2:</abbr> <span data-bind="text: BillingAddress().ContactInformation().AlternativeContactNumber"></span>
                                        <!--/ko-->
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>Default Pickup Address</strong>
                                    <div class="pull-right">
                                        <span><i class="fa fa-pencil-square-o" data-bind="click: $root.launchUserDetailPickupAddressDialog"></i></span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <address>
                                        <strong><span data-bind="text: PickupAddress().ContactPerson"></span></strong><br />
                                        <span data-bind="text: PickupAddress().ContactInformation().Email"></span>
                                    </address>
                                    <address>
                                        <strong><span data-bind="text: PickupAddress().CompanyName"></span></strong><br />
                                        <span data-bind="text: PickupAddress().Address().Address1"></span>&nbsp;
                                        <span data-bind="text: PickupAddress().Address().Address2"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: PickupAddress().Address().Address3"></span>&nbsp;
                                        <span data-bind="text: PickupAddress().Address().Address4"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: PickupAddress().Address().Postcode"></span>&nbsp;
                                        <span data-bind="text: PickupAddress().Address().City"></span>&nbsp;
                                        <br />
                                        <span data-bind="text: PickupAddress().Address().State"></span>&nbsp;
                                        <!--<span data-bind="text: PickupAddress().Address().Country"></span>-->Malaysia&nbsp;
                                        <br />
                                        <!--ko if: PickupAddress().ContactInformation().ContactNumber() != null-->
                                        <abbr title="Contact Number">Phone 1:</abbr> <span data-bind="text: PickupAddress().ContactInformation().ContactNumber"></span><br />
                                        <!--/ko-->
                                        <!--ko if: PickupAddress().ContactInformation().AlternativeContactNumber() != null-->
                                        <abbr title="Alternative Contact Number">Phone 2:</abbr> <span data-bind="text: PickupAddress().ContactInformation().AlternativeContactNumber"></span>
                                        <!--/ko-->
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko compose : {view: 'user.detail.profile.partial.view'}-->
            <!--/ko-->
            <!-- ko compose : {view: 'user.detail.billing.address.partial.view'}-->
            <!--/ko-->
            <!-- ko compose : {view: 'user.detail.pickup.address.partial.view'}-->
            <!--/ko-->            
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header"><h3>Paid Orders</h3></div>
                    <table class="table table-striped" data-bind="queryPaging :{ query: query, map : map, list:list}">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th class="hidden-xs">Pickup Number</th>
                                <th class="hidden-xs">Tracking Number</th>
                                <th class="hidden-xs">Parcel</th>
                                <th>Total Price</th>
                                <th class="hidden-xs">Date</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach :list">
                            <tr data-bind="">
                                <td>
                                    <a data-bind="attr : {href:'#consignment-request-paid-summary' + '/' + Id, title:'Summary' }">
                                        <span data-bind="text: ReferenceNo"></span>
                                    </a>
                                </td>
                                <td class="hidden-xs" data-bind="text: Pickup.Number"></td>
                                <td class="hidden-xs">
                                    <!--ko foreach: Consignments-->
                                    <span data-bind="text: ConNote"></span>&nbsp;
                                    <!--/ko-->
                                </td>
                                <td class="hidden-xs" data-bind="text:Consignments.length"></td>
                                <td><span data-bind="text:Payment.TotalPrice.toFixed(2)" class="pull-right"></span></td>
                                <td class="hidden-xs" data-bind="date:{ value:ChangedDate, format:&#39;D/M/YYYY HH:mm&#39;}"></td>
                                <td>
                                    <a class="btn btn-success btn-xs" title="View Tax Invoice" data-bind="attr: { href: '#consignment-request-paid-invoice' + '/' + Id }">
                                        <i class="fa fa-clipboard"></i>
                                    </a>
                                    <a class="btn btn-info btn-xs" title="Track &amp; Trace" data-bind="click: $root.partial.showParcelTrackTrace">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="/Images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
                </div>
            </div>
        </div>
    </div>
</div>