<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>User</span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    User Profile
    <small></small>
</h1>
<div class="profile" data-bind="with: entity">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_3" data-toggle="tab"> Overview </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <img data-bind="attr: { src: ProfilePictureUrl }" class="img-thumbnail"/>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                                <form role="form" action="#" id="customer-home-form">
                                    <h3 class="form-section">Personal Info</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Name
                                                    <span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: ContactPerson" data-rule-="true">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Company Name</label>
                                                <input type="text" class="form-control" data-bind="value: CompanyName" data-rule-="true" name="CompanyName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Email<span class="required" aria-required="true"> * </span></label>
                                                <input required class="form-control" type="email" data-bind="value: ContactInformation.Email" data-rule-="true" name="ContactInformation.Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Contact No.<span class="required" aria-required="true"> * </span></label>
                                                <input required class="form-control" type="text" data-bind="value: ContactInformation.ContactNumber" name="ContactInformation.ContactNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Alternative Contact No.</label>
                                                <input type="text" class="form-control" data-bind="value: ContactInformation.AlternativeContactNumber" name="ContactInformation.AlternativeContactNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Profile Picture Url</label>
                                                <input type="text" class="form-control" data-bind="value: ProfilePictureUrl" name="ProfilePictureUrl">
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="form-section">Address</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Address Line 1<span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: Address.Address1" name="Address.Address1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Address Line 2<span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: Address.Address2" name="Address.Address2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Address Line 3</label>
                                                <input type="text" class="form-control" data-bind="value: Address.Address3" name="Pemberi.Address.Address3">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Address Line 4</label>
                                                <input type="text" class="form-control" data-bind="value: Address.Address4" name="Pemberi.Address.Address4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Postcode<span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: Address.Postcode" name="Address.Postcode">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">City<span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: Address.City" name="Address.City">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">State<span class="required" aria-required="true"> * </span></label>
                                                <input required type="text" class="form-control" data-bind="value: Address.State" name="Address.State">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="visible:true">
                                                <label class="control-label">Country<span class="required" aria-required="true"> * </span></label>
                                                <select class="form-control" data-bind="options: $root.availableCountries, optionsText: 'Name', optionsValue: 'Abbreviation', value: Address.Country" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margiv-top-10 pull-right">
                                        <button id="save-button" class="btn btn-info" data-bind="click: $root.saveProfile, visible :true, enable: true">
                                            <i class="fa fa-save"></i>
                                            <span data-i18n="Save"> Save </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>