<section class="view-model-modal" id="export-consignments-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>
                    <i class="fa fa-cloud-download font-yellow-casablanca"></i> <span class="font-yellow-casablanca"> Download Contacts</span>
                </h3>
            </div>
            <div class="modal-body">
                <h4>
                    This will create a file containing all of the consignments<br />
                    you just built. The file can be used for <strong>Bulk Upload</strong><br />
                    in <strong>Shipments</strong>.
                    <br /><br />
                    The file is in *.xlsx format and can be opened <br />
                    by <a href="https://en.wikipedia.org/wiki/Microsoft_Excel" target="_blank">Microsoft Excel</a> or any other similar program.
                </h4>
            </div>
            <div class="modal-footer">
                <style>
                    a {
                        text-shadow: none;
                        color: #ff6a00;
                    }
                </style>
                <input data-dismiss="modal" type="submit" class="btn btn-circle yellow-casablanca" value="Download" data-bind="click: okClick" />
                <a href="#" class="btn btn-circle btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>
