<div>
    <h1>EziSend Self Service</h1>
    <br /><br />
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h6>Consignment Requests List</h6>
                        <hr />
                        <i class="fa fa-file-text fa-4x"></i>
                        <br /><br />
                        <a class="btn btn-primary btn-sm" href="#consignment-requests-list">Go</a>
                        <a class="btn btn-default btn-sm" href="#">Info</a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h6>Pickup List Daily</h6>
                        <hr />
                        <i class="fa fa-archive fa-4x"></i>
                        <br /><br />
                        <a class="btn btn-primary btn-sm" href="#pickup-list-daily">Go</a>
                        <a class="btn btn-default btn-sm" href="#">Info</a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h6>Pickup List Daily EST</h6>
                        <hr />
                        <i class="fa fa-briefcase fa-4x"></i>
                        <br /><br />
                        <a class="btn btn-primary btn-sm" href="#pickup-list-daily-est">Go</a>
                        <a class="btn btn-default btn-sm" href="#">Info</a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h6>Pickup Manifest</h6>
                        <hr />
                        <i class="fa fa-truck fa-4x"></i>
                        <br /><br />
                        <a class="btn btn-primary btn-sm" href="#pickup-manifest">Go</a>
                        <a class="btn btn-default btn-sm" href="#">Info</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>