<!-- use dialog-form code snippet  to create a template for your -->


<section class="view-model-modal" id="import-contacts-dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click : cancelClick">&times;</button>
                <h3>Import contacts dialog</h3>
            </div>
            <div class="modal-body" data-bind="with: item">

                <form class="form-horizontal" id="import-contacts-dialog-form">
                  <span>
                      We support importing CSV files from Outlook, Outlook Express, Yahoo! Mail, Hotmail, Eudora and some other apps. We also support importing vCard from apps like Apple Address Book.Learn more
                  </span>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    <label for="upload-csv" class="col-lg-2 control-label">Upload CSV</label>
                    <div class="col-lg-6">
                      <input type="file" data-bind="kendoUpload : storeId" name="files" class="form-control" id="upload-csv">
                    </div>
                </div>

                </form>
            </div>
            <div class="modal-footer">
                <input form="import-contacts-dialog-form" data-dismiss="modal" type="submit" class="btn btn-primary" value="OK" data-bind="click: okClick" />
                <a href="#" class="btn btn-default" data-dismiss="modal" data-bind="click : cancelClick">Cancel</a>
            </div>
        </div>
    </div>
</section>