
<div class="modal fade in" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="show-busy-loading-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #fafafaeb;">
            <div class="modal-header">
                <img src="/images/EziSend_RGB.png" style="width:70px">
            </div>
            <div class="modal-body">
                <center>
                    <p id="show-busy-loading-dialog-text">
                        We are doing something for you...
                    </p>
                    <svg class="ldi-8g8pzx" width="150px" height="150px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;margin-top: -30px;margin-bottom: -30px;">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="transform-origin: 50px 50px 0px;" xml:space="preserve"><g style="transform-origin: 50px 50px 0px; transform: scale(0.6);"><g style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -1s;" class=""><style type="text/css" class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -1s;">
                                                                                                                                                                                                                                                                                                                                                                                                                    .st0 {
                                                                                                                                                                                                                                                                                                                                                                                                                        fill: #999998;
                                                                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                                                                    .st1 {
                                                                                                                                                                                                                                                                                                                                                                                                                        fill: #323232;
                                                                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                                                                    .st2 {
                                                                                                                                                                                                                                                                                                                                                                                                                        fill: #CCCCCB;
                                                                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                                                                    .st3 {
                                                                                                                                                                                                                                                                                                                                                                                                                        fill: #ACBD81;
                                                                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                                                                    .st4 {
                                                                                                                                                                                                                                                                                                                                                                                                                        fill: #849B87;
                                                                                                                                                                                                                                                                                                                                                                                                                    }
</style><g class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.923077s;"><circle class="st1" cx="50" cy="50" r="40" fill="#e01d33" style="fill: rgb(224, 29, 51);"></circle></g><g class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.846154s;"><polygon class="st0" points="42.917,22.5 35.583,29.833 55.75,50 70.417,50 " fill="#edccd0" style="fill: rgb(237, 204, 208);"></polygon></g><g class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.769231s;"><polygon class="st2" points="55.75,50 35.583,70.167 42.917,77.5 70.417,50 " fill="#ffedef" style="fill: rgb(255, 237, 239);"></polygon></g><metadata xmlns:d="https://loading.io/stock/" class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.692308s;">
<d:name class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.615385s;">right</d:name>
<d:tags class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.538462s;">east,foward,redo,next,direction,way,turn,circle,right,arrow</d:tags>
<d:license class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.461538s;">cc-by</d:license>
<d:slug class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.384615s;">8g8pzx</d:slug>
</metadata></g></g><style type="text/css" class="ld ld-spin" style="transform-origin: 50px 50px 0px; animation-duration: 1s; animation-delay: -0.307692s;">
                       path, ellipse, circle, rect, polygon, polyline, line {
                           stroke-width: 0;
                       }

                       @keyframes ld-spin {
                           0% {
                               -webkit-transform: rotate(0);
                               transform: rotate(0);
                               animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                           }

                           50% {
                               -webkit-transform: rotate(180deg);
                               transform: rotate(180deg);
                               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                           }

                           100% {
                               -webkit-transform: rotate(360deg);
                               transform: rotate(360deg);
                           }
                       }

                       @-webkit-keyframes ld-spin {
                           0% {
                               -webkit-transform: rotate(0);
                               transform: rotate(0);
                               animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
                           }

                           50% {
                               -webkit-transform: rotate(180deg);
                               transform: rotate(180deg);
                               animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                           }

                           100% {
                               -webkit-transform: rotate(360deg);
                               transform: rotate(360deg);
                           }
                       }

                       .ld.ld-spin {
                           -webkit-animation: ld-spin 1s infinite;
                           animation: ld-spin 1s infinite;
                       }
</style></svg>
                    </svg>
                    <h5>One Moment Please</h5>
                    <h6>Loading... </h6>
                </center>
            </div>
        </div>
    </div>
</div>
