
<div class="modal fade" tabindex="-1" role="dialog" id="show-busy-loading-dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/images/EziSend_RGB.png" style="width:70px">
            </div>
            <div class="modal-body">
                <center>
                    <p id="show-busy-loading-dialog-text">
                        We are doing something for you...
                    </p>
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                    <h5>One Moment Please</h5>
                    <h6>Loading... </h6>
                </center>
            </div>
        </div>
    </div>
</div>
