body, h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu" !important;
}
body {
    font-size: 17px;
}

h4 {
    font-size: 20px !important;
}

.note p, .page-loading, .panel .panel-body {
    font-size: 15px !important;
}

.font-yellow-casablanca {
    color: #ff6a00 !important;
}

.label, .table.table-light > thead > tr > th {
    font-family: "Ubuntu" !important;
}

.mt-element-step .step-thin .done {
    background-color: #ff6a00 !important;
}

    .mt-element-step .step-thin .done .mt-step-number {
        color: #ff6a00 !important;
    }

.dropdown-menu {
    font-family: "Ubuntu" !important;
}

.bg-yellow-casablanca {
    background: #ff6a00 !important;
}

.btn.yellow-casablanca:not(.btn-outline) {
    color: #fff;
    background-color: #ff6a00;
    border-color: #e86100;
}

select:invalid, input:invalid, textarea:invalid {
    background-image: url(/Images/red-bar.png) !important;
    background-repeat: repeat-y;
    background-position-x: -0.2%;
    background-position-y: 50%;
}

.error {
    color: red;
}

.vakata-context {
    display: none !important;
}

.md-radio label>.check {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #ff6a00 !important;
    opacity: 0;
    z-index: 6;
    border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.md-checkbox label>.check {
    top: -4px;
    left: 6px;
    width: 10px;
    height: 20px;
    border: 2px solid #ff6a00;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 5;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;
}
/*TODO: Minimize and minify all style and script*/
